target/
!.mvn/wrapper/maven-wrapper.jar
src/main/resources/application.properties
src/main/java/com/ewp/crm/controllers/ClientController.java
src/main/java/com/ewp/crm/component/ScheduleTasks.java
pom.xml
.gitignore

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/LOG/
/Images/
/DownloadData
/CallRecords/