<configuration>

    <property name="STD_OUT_PATTERN"
              value="%cyan(%d{dd-MM-yyyy HH:mm:ss.SSS}) %magenta([%-20thread]) %highlight(!%-5level!) %yellow('%logger{36}.%M'): %boldWhite%(%msg%n)"/>
    <property name="FILE_OUT_PATTERN"
              value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] !%-5level! '%logger{36}.%M': %msg%n"/>
    <property name="LOG_DIR_NEW" value="LOG_NEW"/>
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${STD_OUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ALL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR_NEW}\all_log\currentLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR_NEW}\all_log\log_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>15</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_OUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.ewp.crm.controllers" level="ALL" additivity="false">
        <appender-ref ref="ALL_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.ewp.crm.security.handlers" level="ALL" additivity="false">
        <appender-ref ref="ALL_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.ewp.crm.service" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL_LOG"/>
    </logger>

    <!--логи для hibernate. При необходимости установить уровень DEBUG-->
    <!--что бы не мешались остальные логгеры можно поставить уровень OFF-->
    <logger name="org.hibernate" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL_LOG"/>
    </logger>
    <logger name="org.hibernate.SQL" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL_LOG"/>
    </logger>
    <logger name="org.hibernate.type.descriptor" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL_LOG"/>
    </logger>

    <logger name="org.thymeleaf" level="DEBUG" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerData>true</includeCallerData>
            <customFields>{"appname":"CRM"}</customFields>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="stash"/>
    </root>

</configuration>