<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="STD_OUT_PATTERN"
              value="%cyan(%d{dd-MM-yyyy HH:mm:ss.SSS}) %magenta([%-20thread]) %highlight(!%-5level!) %yellow('%logger{36}.%M'): %boldWhite%(%msg%n)"/>
    <property name="FILE_OUT_PATTERN"
              value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] !%-5level! '%logger{36}.%M': %msg%n"/>
    <property name="LOG_DIR" value="LOG"/>
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${STD_OUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="CONTROLLER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}\controller\currentLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}\controllers\log_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>15</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_OUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="AUTHENTICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}\Auth\currentLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}\Auth\log_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>15</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_OUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.ewp.crm.controllers.rest" level="ALL" additivity="false">
        <appender-ref ref="CONTROLLER"/>
    </logger>

    <logger name="com.ewp.crm.security.handlers" level="ALL" additivity="false">
        <appender-ref ref="AUTHENTICATION"/>
    </logger>

    <logger name="org.thymeleaf" level="DEBUG" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
