<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<th:block th:fragment="templateCreateModal">
    <div th:id="template-create-modal" class="modal fade main-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Создание нового шаблона</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <h5 id="template-create-modal-err" class="modal-title"></h5>
                            <label for="template-name">Введите имя шаблона:</label>
                            <input id="template-name" class="form-control" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="create_template" type="button" class="btn btn-default">Создать</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>