<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<th:block th:fragment="autoAnswerModal">
    <div th:id="auto-answer-modal" class="modal fade auto-answer-modal" role="dialog" data-keyboard="false"
         sec:authorize="hasAnyAuthority('OWNER')">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Настройка автоответа</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <table class="table table-condensed font-size">
                                <tr>
                                    <td><label for="auto-answer-template">Выберите шаблон для рассылки</label>
                                    </td>
                                    <td><select id="auto-answer-template" class="form-control"></select></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="update-auto-answer" type="button" class="btn btn-default" data-dismiss="modal">
                        Применить
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>