<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<th:block th:fragment="autoAnswerModal" >
    <div th:id="auto-answer-modal" class="modal fade auto-answer-modal" role="dialog" data-keyboard="false"
         sec:authorize="hasAnyAuthority('OWNER')">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Настройка автоответа</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">

                        <div><p>Шаблон по умолчанию</p></div>
                        <div>
                            <button id="add-row-button" onclick="fillDropDownLists()">Добавить Шаблон</button>
                        </div>

                            <div>
                                <table class="table table-condensed font-size" id="templatesTable">
                                    <thead>
                                    <tr>
                                        <td>Заголовок</td>
                                        <td>Шаблон</td>
                                        <td>Добавить в статус</td>
                                        <td>Действие</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody id="templatesBody"></tbody>
                                </table>
                            </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>