<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<th:block th:fragment="clientContractModal">
    <div th:id="client-contract-modal" class="modal fade client-contract-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-md" style="margin-top: 18%;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm">
                        <h4 class="col-sm-11">Ссылка на форму для договора:</h4>
                        <button type="button" class="close col-sm-1" th:onclick="'backUrl()'" data-dismiss="modal">&times;
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <input class="form-control" type="text" id="contract-link"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script th:src="@{/js/main-table.js}"></script>
</body>
</html>