<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<th:block th:fragment="contractClientLinkModal">
    <div th:id="contract-client-link-modal" class="modal fade client-contract-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-md" style="margin-top: 18%;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm">
                        <h4 class="col-sm-11">Ссылка на договор:</h4>
                        <button type="button" class="close col-sm-1" th:onclick="'backUrl()'" data-dismiss="modal">&times;
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group" >
                            <div class="row">
                                <div class="col-sm">
                                    <input class="form-control" type="text" id="contract-client-link-modal-link"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button id="deleteContractButton" type="button" class="btn btn-danger" >Удалить</button>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>