<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<th:block th:fragment="vkCampaignEditModal">
    <div th:id="vk-campaign-edit-modal" class="modal fade main-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Редактирование кампании</h4>
                </div>
                <form class="form" enctype="multipart/form-data" method="post" action="/vk-campaign-edit">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input id="edit-campaign-id" name="id" class="form-control" type="hidden"/>
                            <div class="row">
                                <label for="edit-campaign-name">Название кампании</label>
                                <input id="edit-campaign-name" name="name" class="form-control" type="text"/>
                            </div>
                            <div class="row">
                                <label for="edit-campaign-add-text">Введите текст для запроса</label>
                                <input id="edit-campaign-add-text" name="text" class="form-control" type="text"/>
                            </div>
                            <div class="row">
                                <label for="edit-campaign-file">Файл с дополнительными VK ID</label>
                                <input id="edit-campaign-file" type="file" class="btn-block"
                                       name="file" size="45"/>
                            </div>
                            <div class="form-check">
                                <label>
                                    <input class="form-check-input"
                                           id="edit-duplicates"
                                           type="checkbox"
                                           name="duplicates"
                                           />
                                    Допускать повторы от того же пользователя
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="edit_campaign_submit" type="submit" class="btn btn-default">Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>