<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<th:block th:fragment="mainModalWindow">
    <div th:id="'main-modal-window'" class="modal fade main-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" th:onclick="'backUrl()'" data-dismiss="modal" id="close-user-modal">&times;</button>
                    <div style="height: auto">
                        <img id="profilePhoto" style="float: left; width: auto; height: auto;
                            border-radius: 50%; margin-right: 5px"/>
                    </div>
                    <div>
                        <h4 style="float: left; width: auto; height: 30px; line-height: 30px; margin-right: 10px;"
                            class="modal-title-profile">
                        </h4>
                    </div>
                    <div class="row">
<!--                    Кнопка с выпадающим списком выбора Статуса-->
                        <div class="col-md-2">
                            <div style="margin-top: 15px" class="btn-group">
                                <button th:id="'client-set-status-button'" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Status <span class="caret"></span>
                                </button>
                                <ul th:id="client-status-list" class="dropdown-menu">
                                    <li><a href="#">Status 1</a></li>
                                    <li><a href="#">Status 2</a></li>
                                    <li><a href="#">Status 3</a></li>
                                </ul>
                            </div>
                        </div>
<!--                    Кнопка с выпадающим списком выбора Направления-->
                        <div class="col-md-2">
                            <div style="margin-top: 15px" class="btn-group">
                                <button id="'client-set-course-button'" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Направление <span class="caret"></span>
                                </button>
                                <ul id="client-course-list" class="dropdown-menu">
                                    <li><a href="#">Course 1</a></li>
                                    <li><a href="#">Course 2</a></li>
                                    <li><a href="#">Course 3</a></li>
                                </ul>
                            </div>
                        </div>
    <!--                    Кнопка с выпадающим списком выбора Набора-->
                        <div class="col-md-2">
                            <div style="margin-top: 15px" class="btn-group">
                                <button id="'client-set-courseSet-button'" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Набор <span class="caret"></span>
                                </button>
                                <ul id="client-courseSet-list" class="dropdown-menu">
                                    <li><a href="#">Course Set 1</a></li>
                                    <li><a href="#">Course Set 2</a></li>
                                    <li><a href="#">Course Set 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <table class="table table-condensed font-size">
                                <tbody>
                                <tr>
                                    <div th:id="repeated-client-info" class="alert alert-warning text-center" role="alert"><h4><strong>Этот клиент оставил заявку повторно !</strong></h4></div>
                                    <td>Email:</td>
                                    <td id="client-email"></td>
                                    <td>
                                        <div class="btn-group">
                                            <!-- EMAIL SEND/EDIT TEMPLATE BTN -->
                                            <a name="emailTmplList" data-toggle="dropdown"
                                               class="btn-default btn btn-light btn-xs"><span
                                                    class="glyphicon glyphicon-envelope"></span></a>
                                            <ul class="dropdown-menu" th:if="${emailTmpl.size()!=0}">
                                                <li th:id="'eTemplate' + ${template.id}"
                                                    th:each="template : ${emailTmpl}">
                                                    <a class="glyphicon glyphicon-plus test-fix-btn test-custom-btn"
                                                       th:if="${!template.hasBody()}"
                                                       th:id="'eTemplateBtn' + ${template.id}" data-toggle="modal"
                                                       th:attrappend="data-target='#sendTemplateModal'"
                                                       th:text="' ' + ${template.name}"
                                                       th:attrprepend="data-template-id=${template.id}"></a>
                                                    <a class="glyphicon glyphicon-plus test-custom-btn"
                                                       th:if="${template.hasBody()}"
                                                       th:id="'eTemplateBtn' + ${template.id}" data-toggle="modal"
                                                       th:attrappend="data-target='#customMessageTemplate'"
                                                       th:text="' ' + ${template.name}"
                                                       th:attrprepend="data-template-id=${template.id}"></a>
                                                    <a sec:authorize="hasAnyAuthority('ADMIN', 'OWNER','MENTOR', 'HR')"
                                                       th:href="'/template/edit/' +  ${template.id}">
                                                        <button
                                                                type="button" data-toggle="modal"
                                                                name="editETemplateBtn"
                                                                class="glyphicon glyphicon-edit">
                                                        </button>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--/ EMAIL SEND/EDIT TEMPLATE BTN -->

                                            <!-- SMS ERROR INFO BTN -->
                                            <th:block th:each="notification_sms:${notifications_type_sms}">
                                                <th:block th:if="${notification_sms.client == client}">
                                                    <button type="button" style="color:red"
                                                            class="glyphicon glyphicon-exclamation-sign sms-error-btn"
                                                            th:attrappend="data-id=${client.id}"></button>
                                                </th:block>
                                            </th:block>
                                            <!--/ SMS ERROR INFO BTN -->

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Номер телефона:</td>
                                    <td id="client-phone"></td>
                                </tr>
                                <tr>
                                    <td>Skype:</td>
                                    <td id="client-skype"></td>
                                </tr>
                                <tr>
                                    <td>Дата рождения:</td>
                                    <td id="client-date-of-birth"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Возраст:</td>
                                    <td id="client-age">
                                        <th:block>
                                        </th:block>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Пол:</td>
                                    <td id="client-sex"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Страна:</td>
                                    <td id="client-country"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Город:</td>
                                    <td id="client-city"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Университет:</td>
                                    <td id="client-university"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Заметка:</td>
                                    <td id="client-label" style="word-wrap:break-word; width: 300px;"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Запрос:</td>
                                    <td>
                                        <div class="client-request">
                                            <button id="client-request-button" class="btn btn-default btn-xs">Показать/Скрыть</button>
                                            <p id="client-request" style="word-wrap: break-word; white-space: pre-line; display: none"></p>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <br/>
                                <tr>
                                    <td>Социальные сети:</td>
                                    <td>
                                        <div class="box-button">
                                            <div>
                                                <a id="vk-href" target="_blank" name="emailTmplList"
                                                   class="btn btn-social-сustom-vk-btnicon btn-vk btn-sm">
                                                    <span class="fa fa-vk"></span>
                                                </a>

                                            </div>
                                            <div>
                                                <a id="fb-href" target="_blank"
                                                   class="btn btn-social-icon btn-facebook btn-sm">
                                                    <span class="fa fa-facebook"></span></a>
                                            </div>
                                            <div>
                                                <a id="slack-href" target="_blank"
                                                   class="btn btn-social-icon btn-slack btn-sm">
                                                    <span class="fa fa-slack"></span></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button id="chat-button" type="button" class="btn btn-primary btn-sm"
                                                data-toggle="modal" data-target="#conversations-modal" th:value="${client}"
                                                sec:authorize="hasAnyAuthority('ADMIN', 'OWNER', 'HR')">
                                            <a href="#" style="color: white;"> Чаты <span id="chat-im-count"
                                                                                            class="badge"></span></a>
                                        </button>
                                    </td>
                                    <td>
                                        <div th:id="'sendSocialTemplateStatus'"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div id="slack-invite" style="text-align: center"></div>
                                <h5>
                                    <div id="message" style="text-align: center"></div>
                                </h5>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-4" id="assign-unassign-btns1" style="text-align: left"></div>
                                <div class="col-lg-4" id="assign-unassign-btns2" style="text-align: center"></div>
                                <div class="col-lg-4" id="assign-unassign-btns3" style="text-align: right"></div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div id="assign-unassign-btns-skype"></div>
                            </div>
                            <div class="row" style="text-align: center; margin-top: 10px;">
                                <div id="contract-btn"></div>
                            </div>
                            <div class="row" style="text-align: center; margin-top: 10px;">
                                <div id="other-information-btn"></div>
                            </div>
                            <div class="row" style="text-align: center; margin-top: 10px;">
                                <div id="message-history-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-header">
                    <div class="panel-group" id="hideAccordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="postpone-accordion">
                            </div>
                        </div>
                        <div th:id="'hideClientCollapse'" class="panel-collapse collapse hide-client-collapse">
                            <div class="panel-body">
                                <span>Добавить напоминание на: </span>
                                <div class="form-group" id="postpone-div">
                                    <input type="text" class="form-control postpone-date" th:id="'postponeDate'"
                                           name="postponeDate"/>
                                    <span>Скрывать? </span>
                                    <input type="checkbox" class="isPostponeFlag" id="isPostponeFlag"
                                           name="isPostponeFlag"/>
                                    <span><h4>Причина:</h4></span>
                                    <textarea class="form-control postponeComment"
                                              placeholder="причина напоминания"></textarea>
                                </div>
                                <div class="form-group" id="postpone-status"></div>
                                <span class="postponeStatus" th:id="'postponeStatus'"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/htmlFragments::comments"></div>
                <div th:replace="fragments/htmlFragments::clientHistory"></div>
            </div>
        </div>
    </div>
</th:block>
<script type="text/javascript" th:src="@{/js/slack-registration.js}"></script>
<script th:src="@{/js/user-info.js}"></script>
</body>
</html>