<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<th:block th:fragment="messageHistory">
    <div th:id="message-history-modal" class="modal fade" role="dialog"
         data-keyboard="false">
        <div class="modal-dialog modal-md" style="margin-top: 18%;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm">
                        <h4 class="col-sm-11">История сообщений на email клиента:</h4>
                        <button type="button" class="close col-sm-1" th:onclick="'backUrl()'" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div id="message-data" align="left">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>