<!--MODAL-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<th:block th:fragment="modalClientFeedback">
    <div th:id="'modal-client-feedback'" class="modal fade modal-client-feedback" role="dialog" data-keyboard="false">
        <div class="modal-dialog" role="document" style="margin-left: 25%">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeTable()" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Отзывы</h5>
                </div>
                <div class="modal-body">
                    <table class="table" >
                        <thead>
                        <tr style="white-space: nowrap">
                            <th scope="col">Ссылка на соц.сеть</th>
                            <th scope="col">Текст отзыва</th>
                            <th scope="col">Ссылка на видео отзыв</th>
                            <th colspan="2" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody style="border: 1px solid #cdcfd0" id="client-feedback-table">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" id="client-feedback-table-footer">
                </div>
            </div>
        </div>
    </div>
</th:block>
<script type="text/javascript" th:src="@{/js/clientFeedback.js}"></script>
</body>
</html>