<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<th:block th:fragment="notificationModal">
    <div th:id="notification-modal" class="modal fade notification-modal" role="dialog" data-keyboard="false" sec:authorize="hasAnyAuthority('OWNER')">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Настройка оповещений</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid" id="payment-notif-block">
                        <label for="payment-notif-block">Оповещения об оплате</label>
                        <div class="row">
                            <table class="table table-condensed font-size">
                                <tr>
                                    <td><label for="payment-notification-template">Выберите шаблон для рассылки</label></td>
                                    <td><select id="payment-notification-template" class="form-control"></select></td>
                                </tr>
                                <tr>
                                    <td><label for="payment-notification-time">Выберите время рассылки</label></td>
                                    <td><input id="payment-notification-time" class="form-control" type="time"/></td>
                                </tr>
                                <tr>
                                    <td><label for="payment-notification-enable">Включить оповещение</label></td>
                                    <td><input id="payment-notification-enable" type="checkbox"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="container-fluid" id="trial-notif-block">
                        <label for="trial-notif-block">Оповещения о пробном периоде</label>
                        <div class="row">
                            <table class="table table-condensed font-size">
                                <tr>
                                    <td><label for="trial-notification-template">Выберите шаблон для рассылки</label></td>
                                    <td><select id="trial-notification-template" class="form-control"></select></td>
                                </tr>
                                <tr>
                                    <td><label for="trial-notification-time">Выберите время рассылки</label></td>
                                    <td><input id="trial-notification-time" class="form-control" type="time"/></td>
                                </tr>
                                <tr>
                                    <td><label for="trial-notification-enable">Включить оповещение</label></td>
                                    <td><input id="trial-notification-enable" type="checkbox"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="update-notification" type="button" class="btn btn-default">Применить</button>
                    <!--<button id="update-notification" type="button" class="btn btn-default" data-dismiss="modal">Применить</button>-->
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>