<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<th:block th:fragment="studentRejectModal">
    <div th:id="student-reject-modal" class="modal fade main-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Удаление из списка студентов</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <table class="table table-condensed font-size">
                                <tr>
                                    <td><label for="reject-reason">Укажите причину отказа студента от обучения</label></td>
                                    <td><textarea class="form-control" id="reject-reason" rows="3"></textarea></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="reject_student" type="button" class="btn btn-default" data-dismiss="modal">Применить</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>