
.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
}

.drop-zone-is-dragover {
    background-color: lightgrey;
    border: 3px dotted grey;
}

.drop-zone-error {
    background-color: orange;
    border: 3px dotted darkorange;
}

.table {
    width: 100%;
}

.modal-with-overflow {
    overflow-x: auto;
}

.modal-lg {
    width: 80% !important;
}

.history-table-td-text img {
    width: 75% !important;
    height: 75% !important;
}

#textaria-for-edit-modal, #textaria-for-add-modal {
    margin: 0;
}

.clear-list-recipients {
    margin-top: 10px;
    text-align: right;
}

#addresses-area {
    font-size: 10pt;
}

#editListRecipients {
    font-size: 8pt;
}

#noSend-area {
    font-size: 10pt;
}