#birthday-template-status{
    background-color: rgba(79, 26, 30, 0.7);
    display: none;
    position: fixed;
    z-index: 99999;
    bottom: 30px;
    left:30px;
    width: 250px;
    padding: 10px;
    color:#fff;
    font-size:13px;
    line-height:13px;
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    box-shadow: 0px 0px 10px #ec0002;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#msg_status_to_new_clients {
    background-color: rgba(79, 26, 30, 0.7);
    display: none;
    position: fixed;
    z-index: 99999;
    bottom: 30px;
    left:300px;
    width: 250px;
    padding: 10px;
    color:#fff;
    font-size:13px;
    line-height:13px;
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    box-shadow: 0px 0px 10px #ec0002;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#msg_campaigns {
    background-color: rgba(206, 26, 26, 0.69);
    display: none;
    position: fixed;
    z-index: 99999;
    bottom: 30px;
    left:570px;
    width: 250px;
    padding: 10px;
    color:#fff;
    font-size:13px;
    line-height:13px;
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #866c6c;
    box-shadow: 0px 0px 10px #ec0002;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#birthday-template-status h4{
    margin:0;
    text-align:center;
    font-size:15px;
}

#msg_status_to_new_client h4{
    margin:0;
    text-align:center;
    font-size:15px;
}

#msg_campaigns h4{
    margin:0;
    text-align:center;
    font-size:15px;
}

#msg_close{
    display:block;
    position:absolute;
    top:5px;
    right:10px;
    line-height:15px;
    width:16px;
    height:16px;
    text-align:center;
    color:#fff;
    cursor:pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#msg_close:hover {
    background-color:#fff;
    color:#000;
}
.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {transform: scale(0.7);opacity: 0.5;}
    80% {transform: scale(1.1);}
    100% {transform: scale(1);opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {-webkit-transform: scale(0.7);opacity: 0.5;}
    80% {-webkit-transform: scale(1.1);}
    100% {-webkit-transform: scale(1);opacity: 1;}
}