.fix-status-header .column-header-wrapper {
    position: fixed;
    width: 240px;
    z-index: 99;
    background-color: linen;
}
.fix-status-header .column {
    margin-top: 0;
    /*padding-top: 25px;*/
}
.column-header-wrapper-dummy {
    display: none;
}
.fix-status-header .column-header-wrapper-dummy {
    height: 25px;
    width: 240px;
    display: block;
}