.skype-notification {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.enter-skype-login {
	width: 40%;
	display: inline;
	margin-bottom: 5px;
}

.confirm-skype-interceptor {
	text-align: center;
}

.confirm-skype-login {
	text-align: center;
}

.select_all_skype_boxes {
	margin-left: 5px;
}

.skype-text {
	text-align: center;
	color: #229922;
}

.skype-panel {
	width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 5px;
}

.send-skype-message {
	margin-top: 5px;
	margin-left: 5px;
}


.skype-postpone-date {
	display: table-caption;
	margin-top: 5px;
	text-align: center;
	width: 80%;
}

.skype-footer {
	background-color: #e8e8e8;
}


#show-area {
	padding-left: 0px;
	margin-top: 15px;
}

#textArea1 {
	resize: none;
}

.line-decoration{
	text-decoration: underline;
	color: #132580;
}

.form-control-report {
	width: 240px
}

#textTemplateArea {
	width: 100%;
	padding: 15px;
	resize: none;
}

.head-padding {
	padding-top: 15px;
}


.text-board {
	word-wrap:break-word;
}


.font-size {
	font-size: 12px;
}

ul{
	list-style-type:none;
}
.tilt.right {
	transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
}
.tilt.left {
	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
}
body {
	min-width: 520px;
	background-color: linen;
}
.column {
	min-width: 240px;
    max-width: 100%;
	margin: 5px;
	float: left;
}

/*Отступ снизу нужен для работы перетаскивания карточек в пустой статус*/
.clients-cards {
	min-height: 50px;
    padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.portlet {
	min-width: 240px;
	max-width: 240px;
	max-height: 50px;
	margin: 0 1em 1em 0;
	padding: 0.01em;
	cursor: pointer;
}

.portlet-title-groups{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.portlet-title-groups button{
	background-color: transparent;
}



.portlet-body:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.portlet:hover {
	background: #f5f5f5;
}

.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
	background-image: linear-gradient(to bottom,#faf0e6 0,#F3F7FA 100%);
}

.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}
.portlet-content {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}
div h1 {
	margin-right: 4%;
	text-align: center;
	font-size: 1.5vmax;
}

a {
	color: black;
}

ul.nav a:hover {
	background-color: #ffead6 !important;
}

.nav__active-tab {
	border-bottom: 2px solid #333;
	color: #333!important;
	background-color: transparent;
}
/*.nav__active-tab__text {*/

/*}*/

#new-status-form {
	display: none;
}

.column-header {
	max-width: 240px;
	border-bottom: 5px solid #ff00001a;
	margin-right: 5%;
	position: relative;
}

.create-new-status-column {
	width: 15%;
	float: left;
	padding-bottom: 100px;
	margin-top: 3%;
}

.status-columns {
	margin-top: 2%;
	min-width: 100%;
	min-height: 200px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.navbar-fixed-top {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fbd8cf),to(#f7f0e9));
	box-shadow: inset 0 1px 0 rgb(250, 240, 230), 0 1px 5px rgba(241, 232, 222, 0);
	border-color: #faf0e6;
}

.navbar-right {
	margin-right: 0;
}

#add-user-btn {
	width: 96%;
	height: 80%;
	background-image: linear-gradient(to bottom,#faf0e6 0,#fbd8cf 100%);
	border-color: #d7d7d7;
}

#clients-table {
	margin-top: 1%;
}

#logo-span {
	cursor: default;
	color: black;
}

.modal-comments {
	text-align: left;
}

.modal-content {
	background-color: #edeff0;
}

.modal-dialog {
	max-width: 700px;
}

.client-request {
	width: 350px;
}

.modal-header {
	border-bottom: 1px solid #cdcfd0;
}

.modal-footer {
	border-top: 1px solid #cdcfd0;
}

.user-icon_card {
	background: transparent;
	height: 15px;
	font-size: 12px;
	font-weight: bold;
	width: 30px;
	display: inline-block;
}

.user-icon {
	border: 2px solid #cccccc;
	border-radius: 40px;
	padding: 10px;
	float: right;
	background: #f1f1f1;
	text-align: center;
	color: #9c9c9c;
	min-width: 17%;
	margin-top: 6px;
}

.check {
	display: none;
}

#panel {
	position: fixed;
	top: 10%;
	right: -350px;
	margin: -40px 0 0 0;
	overflow: hidden;
	height: 90%;
	z-index:  1100; /* Изменен на 1100 для того, чтобы кнопка "меню" отображалась поверх всего остального
					  так как при увеличении масштаба съежала из-за нивигационного бара!
					  [Азамат 01.09.2019]
					 */
}

#panel-content {
	background: #EEE;
	border: 1px solid #CCC;
	width: 350px;
	height: 95%;
	float: right;
	padding: 3px 5px;
	margin-top: 8%;
	overflow-y: auto;
}

#panel-sticker {
	float: right;
	position: relative;
	opacity:0.7;
	padding: 3px 20px 3px 5px;
	cursor: pointer;
	margin-top:  16%; /* [Азамат]: Значение установлено в 16%, так как т.о. не перекрывает карточки! */

}

#panel-sticker:hover {
	opacity:1;
	border: 1px solid #cdcfd0;
}

#panel-sticker .close {
	position: absolute;
	right: 3px;
	top: 3px;
}

#client_filter {
	width: 100%;
	background: inherit;
}

#statuses_group {
    border-bottom: 1px solid #cdcfd0;
}


#client_filter_group {
	border-bottom: 1px solid #cdcfd0;
}

#client-filter-heading, #user_group-heading, #statuses-heading, #new_user_group-heading {
	background: gainsboro;
}

.column-header .btn-group{
	position: absolute;
	right: 0px;
	margin-right: 15px;
	margin-top: 5px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.filtration-button {
	margin-left: 15px;
	margin-top: 7px;
}

.filter {
	margin-top: 10px;
}

.delete-status-icon, #hide-status-icon{
	cursor: pointer;
}

#update-status-icon{
	cursor: pointer;
}

#create-new-status-btn:hover{
	opacity: 1;
}

#create-new-status-btn{
	margin-left: 11px;
	margin-top:8px;
	width: 180px;
	padding-bottom: 6px;
	padding-top:6px;
	border: 0;
	opacity:0.7;
	text-align: left;
}

#create-new-status-cancelbtn{
	border: none;
	background: transparent;
	margin-top: 3px;
	width: 30px;
	height: 30px;
}

#new-status-form {
	background-color: #f8f8f8;
	width: 215px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#new-status-name {
	width: 195px;
	margin-left: 10px;
}

#new-status-formgr {
	margin-bottom: 1px;
}

#create-new-status{
	margin-left: 10px;
}

.panel-title h2{
	text-align: center;
	margin-top: 2px;
	border-bottom: 1px solid ;
}

#create-new-status-btn:hover{
	opacity: 1;
}

#create-new-status-btn{
	margin-left: 12px;
	margin-top:12px;
	width: 180px;
	padding-bottom: 6px;
	padding-top:6px;
	border: 0;
	opacity:0.7;
}

#create-new-status-cancelbtn{
	border: none;
	background: transparent;
	margin-top: 3px;
	width: 30px;
	height: 30px;
}

input[id^="checkbox-role"] { display: none; }
input[id^="checkbox-user"] { display: none; }
input[id^="ipTel"] { display: none; }
input[id^="client_filter"] { display: none; }


input[type="checkbox"] + label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 0;
	font: 14px/20px 'Open Sans', Arial, sans-serif;
	color: black;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid green;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .6;
	-webkit-transition: all .12s, border-color .08s;
	transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
	width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#showallbtn, #addNewUser, #vkClubList, #YouTubeLive, #report, #feedback {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	height: 30px;
}

#panel-filter-body{
	padding-bottom: 0;
}

.comment-list {
	background-color: #9c9c9c;
	list-style-type: none;
}

.answer-list {
	background-color: white;
	list-style-type: none;
}

.comment-text {
	padding: 9px 11px;
	background: white;
	border-radius: 10px;

    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.comment-name {
	font-size: large;
	padding-left: 3px;
}

.comment-item {
	background: none;
	border: none;
}

.form-answer {
	display:none;
}

.comment-functional {
	float: right;
	text-align: left;
	padding: 2px;
	color: #9c9c9c;
}
.form-edit {
	display: none;
}

.comment-button {
	margin-top: 5px;
}

h4.modal-title {
	position: absolute;
}

#client-info-container {
	margin-top: 50px;
}

#saveChanges, #editClientBtn, #backToMain , #editUser, #saveTemplate, #backToMain1,#saveTemplate1, #backToAllClients{
	margin-right:15px;
	margin-bottom: 10px;
	border-radius: 10%;
}
#addClient{
	margin-right:15px;
	border-radius: 10%;
}

.client-info-edit-save-back-btns{
	display: block;
	height: 35px;
}
.client-info-edit-save-back-btns span{
	height: 35px;
	display: inline-block;
	margin-top: 7px;
}

#photoSelectBtn{
	margin-top: 5%;
}

#sendPhotoBtn {
	margin-top: 1%;
	margin-left: 3%;
}

button[id*=client-info] {
	float: right;
}

button[name="editStatusBtn"] {
	border: 2px solid coral;
	border-radius: 20px;
	background: #f1f1f1;
	padding: 5px;
    position: initial;
}

#userPhoto{
	max-width: 200px;
	margin-bottom: 2%;
}

#client-from input:not([id="edit"]), #client-from select:not([id="edit"]), #client-from table , #job-client-from table {
	width: 80%;
}

#addNewSN, #addNewJob {
	margin-bottom: 10px;
}

#edit {
	margin-right: -30px;
	margin-left:  0;
	padding: 0;
	max-width: 90%;
	height: 20px;
}

#SN-table-body td, #job-table-body td {
	width: 50%;
}

button[name|="emailTmplList"] {
	border: none;
	color: #000000;
	margin-right: 0;
	margin-left: 4px;
	object-fit: cover;
}

.glyphicon {
	border: none;
	background-color: transparent;
}

#sendCustomMessageTemplateStatus {
	float: left;
}

#sendEmailTemplateStatus {
	float: right;
}


span[id^="sendTemplateStatus"] {
	float: left;
}

li[id^="eTemplate"] {
	display: flex ;
}

a[id^="eTemplateBtn"] {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;  /*так и должно быть*/
	width: fill-available; /*тут тоже*/
}

a[id^="VKtemplate"] {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;  /*так и должно быть*/
	width: fill-available; /*тут тоже*/
}

input[id="search-clients"] {
    width:50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[id="search-clients"]:focus {
    width:130%;
}
div.search-place{
    padding:10px 15px 15px 15px;
}

button.option{
    margin:0;
    display:none;

}

span[id^="postponeStatus"] {
	color: red;
	float: right;
}

.link-cursor-pointer{
    cursor:pointer;
}

.client-history-table td{
    padding: 5px;
}

.client-history-date {
    width:30%;
    background-color: #cccccc;
}

.send-email-err-status{
	color: red;
	float: left;
}

.send-custom-vk-status{
	color: red;
	float: left;
}

.send-custom-template{
	color: red;
	float: left;
}

.send-fixed-template{
	color: red;
	float: left;
}

.padding-top-bot {
	padding-top: 5px;
	padding-bottom: 5px;
}

.padding-bot {
	padding-bottom: 3px;
}

#custom-VKTemplate-body {
	resize: none;
}

#custom-EmaileTemplate-body {
	resize: none;
}

.invisible-status {
    background-color: #FAF0E6;
}

button.upload-more-history {
    width:100%;
}

.history-row {
    background-color: #ebebe0;
}

.open-history {
    width:100%;
}

.head-table {
    background-color: #eae1e4;
}

.table-fixed {
    width: 100%;
    max-width: 100%;
}

.table-fixed td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-fixed td.no-fix {
    overflow :initial;
}

.history-line td{
    max-width: 0;
}

.unEnabledUser {
	color: #9c9c9c;
}

#notification-buttons{
	margin-top: 50px;
	text-align: center;
}

#change-profile-button{
	padding-bottom: 1px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-header {
	text-align: center;
}

.notification-dropdown {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

li.dropdown:hover .dropdown-menu {
    display: block;
}

.sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?rdtdjs');
	src:  url('../fonts/icomoon.eot?rdtdjs#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?rdtdjs') format('truetype'),
	url('../fonts/icomoon.woff?rdtdjs') format('woff'),
	url('../fonts/icomoon.svg?rdtdjs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-email-card:before {
	content: "\e900";
}

.f-18 {
	font-size: 18px;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.remove-history {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.onclick-menu {
	position: relative;
	display: inline-block;
}
.onclick-menu:before {
	display: inline-block;
	width: 100%;
}
.onclick-menu:focus .onclick-menu-content {
	display: block;
}
.onclick-menu-content {
	position: absolute;
	z-index: 1;

	display: none;
}
.autoanswer {
	margin-top: 70px;
}

/* to display new lines in modal window*/
.modal-client-history-message p {
	white-space: pre;
}

#web-call-voximplant, #callback-call-voximplant {
	width: 24px;
	height: 24px;
}

#mentor {
	display: inline-block;
	width: 50%;
}

.inline {
	display: inline-block;
}

/*Content-fixed rows*/
.table td.fit,
.table th.fit {
	white-space: nowrap;
	width: 1%;
}

/*Clearable search style*/
.clearable{
	background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
	border: 1px solid #999;
	padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
	border-radius: 3px;
	transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

textarea[class*="feedback-social-url"],
textarea[class*="feedback-text"],
textarea[class*="feedback-video-url"] {
	border: none;
	background: #edeff0;
	width:100%
}

#client-feedback-table textarea[class*="feedback-social-url"] {
	max-width: 200px;
}

#client-feedback-table textarea[class*="feedback-text"] {
	max-width: 354px;
}

#client-feedback-table textarea[class*="feedback-video-url"] {
	max-width: 170px;
}

#tbody-all-feedback-table textarea[class*="feedback-social-url"] {
	max-width: 265px;
}

#tbody-all-feedback-table textarea[class*="feedback-text"] {
	max-width: 350px;
}

#tbody-all-feedback-table textarea[class*="feedback-video-url"] {
	max-width: 230px;
}

#divToFiltration {
    text-align: center;
    display: none;
}

.editUserButtons a:active {
	text-decoration: none;
	color: black;
}

.editUserButtons a:hover {
	text-decoration: none;
	color: black;
}

#table-hidden-statuses tr td {
	vertical-align: middle;
}

#status-as-rows {
	height: 10px;
	margin-right: 5px;
}

#status-as-columns {
	height: 10px;
}