<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Новый пользователь</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div style="margin-top: 3%">
    <div id="user-info-container" class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-3" id="column1">
                <form id="user-form" data-toggle="validator" role="form" onsubmit="return false;">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" id="saveChanges" onclick="addUser()">Сохранить
                        </button>
                        <a href="#" onclick="history.back();"  class="btn btn-primary" id="backToMain">Назад</a>
                    </div>
                    <p><span id="message"></span></p>
                    <input type="checkbox" checked="checked" class="form-control"  style="display:none"    id="add-user-isVerified"/>
                    <div class="form-group">
                        <label for="add-user-first-name">Имя</label>
                        <input class="form-control"
                               data-error="Имя должно начинаться с заглавной буквы, минимум из 2-х символов и только буквы"
                               pattern="^[A-ZА-Я][a-zа-я]+$"
                               required="required"
                               id="add-user-first-name"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="add-user-last-name">Фамилия</label>
                        <input class="form-control"
                               data-error="Фамилия должна начинаться с заглавной буквы, минимум из 2-х символов, можно использовать буквы, пробелы и дефис в составных фамилиях."
                               pattern="^[A-ZА-ЯЁ][a-zа-яё]+(?:[- ][A-ZА-ЯЁa-zа-яё]+)*$"
                               required="required"
                               id="add-user-last-name"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="add-user-birth-date">Дата рождения</label>
                        <input class="form-control"
                               required="required"
                               type="date"
                               id="add-user-birth-date"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="add-user-password">Пароль</label>
                        <input type="password"
                               class="form-control"
                               required="required"
                               id="add-user-password"/>
                    </div>
                    <div class="form-group">
                        <label for="add-user-phone-number">Номер телефона</label>
                        <input type="tel"
                               class="form-control"
                               data-error='Введите телефон в допустимом формате (только цифры)'
                               required="required"
                               pattern="[0-9]*$"
                               id="add-user-phone-number"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group" id="ipTelephony">
                        <label for="ipTelephony">Дать доступ к IP Телефонии:</label>
                        <div class="checkbox">
                            <input type="checkbox" name="ipTelephony" title="" th:id="ipTel"/>
                            <label th:for="ipTel"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-user-email">Email</label>
                        <input type="email"
                               class="form-control"
                               data-error="Неверный формат Email"  required="required"
                               pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]*(\.[A-Za-z]{2,})$"
                               id="add-user-email"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="add-user-VKid">VK id</label>
                        <input type="text" class="form-control" id="add-user-VKid"/>
                    </div>
                    <div class="form-group">
                        <label for="add-user-sex">Выберите пол</label>
                        <select class="form-control" id="add-user-sex">
                            <option>MALE</option>
                            <option>FEMALE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-user-country">Страна</label>
                        <input type="text"
                               class="form-control"
                               data-error="Название страны должно начинаться с заглавной буквы, минимум из 2-х символов, можно использовать буквы, пробелы и дефис в составных названиях."
                               pattern="^[A-ZА-ЯЁ][a-zа-яё]+(?:[- ][A-ZА-ЯЁa-zа-яё]+)*$"
                               required="required"
                               id="add-user-country"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="add-user-city">Город</label>
                        <input type="text"
                               class="form-control"
                               data-error="Название города должно начинаться с заглавной буквы, минимум из 2-х символов, можно использовать буквы, цифры, пробелы и дефис в составных названиях."
                               pattern="^[A-ZА-ЯЁ][a-zа-яё]+(?:[- ][A-ZА-ЯЁa-zа-яё0-9*]+)*$"
                               required="required"
                               id="add-user-city"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group" id="mentors-info" style="display:none">
                        <label for="prefix">Префикс каналов ментора в Slack</label>
                        <input type="text"
                               class="form-control"
                               data-error=""
                               required="required"
                               id="prefix"/>
                        <div class="help-block with-errors"></div>
                        <label for="calendar">GoogleCalendar ментора</label>
                        <input type="text"
                               class="form-control"
                               data-error=""
                               required="required"
                               id="calendar"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group" id="add-user-roles" sec:authorize="hasAnyAuthority('OWNER', 'ADMIN')">
                        <label for="add-user-roles">Роли</label>
                        <div class="checkbox" th:each="role : ${roles}">
                            <input type="checkbox" th:id="'checkbox-user-' + ${role.id}" th:value="${role.id}"
                                   name="roleCheckBx" title=""/>
                            <label th:for="'checkbox-user-' + ${role.id}" th:text="${role.roleName}"></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3" id="column2" style="margin-top: 2%">
                <div class="form-group" id="user-photo-group">
                    <label>Фото</label>
                    <img id="userPhoto" alt="" class="img-rounded img-responsive centre"/>
                    <input accept="image/*" th:max="${maxSize}" type="file" id='photoBtn' onchange="selectPhoto()"
                           style="display: none"/>
                    <label for="photoBtn">
                        <span id="photoSelectBtn" class="btn btn-primary">Выбрать</span>
                    </label>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
<input hidden="true" id="slackbotIp" th:value="${slackBotIp}"/>
<input hidden="true" id="slackbotPort" th:value="${slackBotPort}"/>
<script type="text/javascript" th:src="@{/js/user-info.js}"></script>
<script th:src="@{/js/validator.min.js}"></script>
</body>
</html>