<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новый клиент</title>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/autocomplete.css"/>
    <script type="text/javascript" th:src="@{/js/add-client.js}"></script>
    <script th:src="@{/js/validator.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/boards.js}"></script>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div style="margin-top: 3%">
    <div id="client-info-container" class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6" id="column1">
                <form id="client-from" data-toggle="validator" role="form" onsubmit="return false;">
                    <div class="btn-group">
                        <a href="/client/allClients"  th:if="${status}==null" th:text="Назад" class="btn btn-primary" id="backToAllClients"></a>
                        <a href="/1"  th:unless="${status}==null"  th:text="Назад" class="btn btn-primary" id="backToMain"></a>

                        <button type="submit" class="btn btn-primary" id="saveChanges" th:onclick="'addClient()'">
                            Сохранить
                        </button>
                    </div>
                    <p><span id="message"></span></p>

                    <div th:if="${status}==null" class="form-group">
                        <label for="client-status" >Выбор статуса</label>
                        <!--<input type="hidden" id="client-status" th:value="pop"/>-->
                        <select th:field="*{statuses}" id="client-status" class="form-control">
                            <option th:each="statu : ${statuses}"
                                    th:if="${statu.name != 'deleted'}"
                                    th:value="${statu.name}"
                                    th:text="${statu.name}" />
                        </select>
                    </div>

                    <div  th:unless="${status}==null" class="form-group">
                        <label for="client-status" th:text="${status.name}"></label>
                        <input type="hidden" id="client-status" th:value="${status.name}"/>
                    </div>


                    <div class="form-group">
                        <label for="edit-client-first-name">Имя</label>
                        <input class="form-control" required="required" id="edit-client-first-name"/>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-last-name">Фамилия</label>
                        <input class="form-control" id="edit-client-last-name"/>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-skype">Skype</label>
                        <input type="text" class="form-control" id="edit-client-skype"/>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-age">Возраст</label>
                        <input type="number" class="form-control" min="0" max="127" title="Диапазон от 0 до 127"
                               onkeydown="disableInputE()" id="edit-client-age"/>
                        <div class="help-block with-error" style="color: red"></div>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-sex">Выберите пол</label>
                        <select class="form-control" id="edit-client-sex">
                            <option>MALE</option>
                            <option>FEMALE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-country">Страна</label>
                        <input autocomplete="off"  type="text" class="form-control" id="edit-client-country"/>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-city">Город</label>
                        <input autocomplete="off" type="text" class="form-control" id="edit-client-city"/>
                    </div>

                    <div class="form-group">
                        <label>Email адреса</label>
                        <table class="table table-hover" th:id="AdditionalEmails">
                            <thead class="thead-inverse">
                            <tr>
                                <th hidden="hidden" abbr="id">id</th>
                                <th abbr="email"></th>
                            </tr>
                            </thead>
                            <tbody id="emails-table-body">
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-md btn-info" id="addNewEmail" th:onclick="'addNewEmailExtra()'">Добавить Email
                        </button>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label>Номера телефонов</label>
                        <table class="table table-hover" th:id="AdditionalPhones">
                            <thead class="thead-inverse">
                            <tr>
                                <th hidden="hidden" abbr="id">id</th>
                                <th abbr="phoneExtra"></th>
                            </tr>
                            </thead>
                            <tbody id="phones-table-body">
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-md btn-info" id="addNewPhone" th:onclick="'addNewPhoneExtra()'">Добавить телефон
                        </button>
                    </div>
                    <p></p>

                    <div class="form-group">
                        <label>Социальные сети</label>
                        <table class="table table-hover" th:id="SocialNetworks">
                            <thead class="thead-inverse">
                            <tr>
                                <th hidden="hidden" abbr="id">id</th>
                                <th abbr="socialId">ID</th>
                                <th abbr="socialNetworkType">Type</th>
                            </tr>
                            </thead>
                            <tbody id="SN-table-body">
                            </tbody>
                        </table>
                    </div>
                </form>
                <button class="btn btn-md btn-info" id="addNewSN" th:onclick="'addNewSN()'">Добавить соц. сеть</button>
                <form id="job-client-from">
                    <div class="form-group">
                        <label>Работа</label>
                        <table class="table table-hover" th:id="Job">
                            <thead class="thead-inverse">
                            <tr>
                                <th hidden="hidden" abbr="id">id</th>
                                <th abbr="organization">Организация</th>
                                <th abbr="position">Позиция</th>
                            </tr>
                            </thead>
                            <tbody id="job-table-body">
                            </tbody>
                        </table>
                    </div>
                </form>
                <button class="btn btn-md btn-info" id="addNewJob" th:onclick="'addNewJob()'">Добавить работу</button>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
</body>
</html>