<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title>Все студенты</title>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/status.js}"></script>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div th:id="defaultStatusForRejectedStudent" th:text="${defaultStatusForRejectedStudent}" hidden="hidden"></div>
    <div class="container-fluid">
        <div><h1>Таблица всех студентов</h1></div>

        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#filter">Фильтр</button>
                <button type="button" class="btn btn-info" data-toggle="collapse" id="reset-all-colors-btn">Сбросить цвета</button>
            </div>
            <div class="col-md-4"><input class="form-control" id="searchInput" placeholder="Поиск студента..."/></div>
        </div>
        <div id="filter" class="collapse filter">
            <div class="row">
                <div class="col-xs-1" th:each="status : ${statuses}">
                    <label class="control-label" th:for="${status.name}" th:text="${status.name}"></label>
                    <input th:id="${status.name}" class="checkbox" type="checkbox" th:checked="${#strings.contains(filters,status.name)}"/>
                </div>
            </div>
            <br />
            <!--checkboxes фильтра по направлениям-->
            <div class="row" id="courses_filter">
                <div class="col-xs-1" th:each="course : ${courses}" th:id="${course.name}">
                    <label class="control-label" th:for="${course.name}" th:text="${course.name}"></label>
                    <input th:id="'course_' + ${course.name}" th:value="${course.id}" class="checkbox" type="checkbox"/> <!--th:checked="${#strings.contains(filters,course.name)}"-->
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-1">
                    <label class="control-label" for="filter-has-no-slack">Без Slack</label>
                    <input id="filter-has-no-slack" class="checkbox" type="checkbox"/>
                </div>
                <div class="col-xs-1">
                    <label class="control-label" for="filter-has-no-vk">Без VK</label>
                    <input id="filter-has-no-vk" class="checkbox" type="checkbox"/>
                </div>
                <div class="col-xs-1">
                    <label class="control-label" for="filter-has-no-email">Без E-mail</label>
                    <input id="filter-has-no-email" class="checkbox" type="checkbox"/>
                </div>
                <div class="col-xs-1">
                    <label class="control-label" for="filter-has-no-phone">Без телефона</label>
                    <input id="filter-has-no-phone" class="checkbox" type="checkbox"/>
                </div>
            </div>
        </div>
        <br />

        <div sec:authorize="hasAnyAuthority('OWNER')" class="row">
            <div class="col-md-12">
                <button id="show-additional-info-button" type="button" class="btn btn-info">Показать данные</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br/>
                </div>
            </div>
        </div>

        <div sec:authorize="hasAnyAuthority('OWNER', 'HR')" id="additional-data" class="row justify-content-md-start hidden">
            <div class="col-md-2 well">
                <div class="row justify-content-md-start">
                    <div class="col-md-6">
                        <strong>Всего студентов</strong>
                    </div>
                    <div class="col-md-6">
                        <strong id="students-count">0</strong>
                    </div>
                </div>
                <div class="row justify-content-md-start">
                    <div class="col-md-6">
                        <strong>Сумма оплаты</strong>
                    </div>
                    <div class="col-md-6">
                        <strong id="students-price-info">0.00</strong>
                    </div>
                </div>
                <div class="row justify-content-md-start">
                    <div id="additional-data-clickable-zone" class="col-md-12">
                        <u><small>Скрыть</small></u>
                    </div>
                </div>
            </div>
            <div class="col-md-10"></div>
        </div>
        <div class="col-xs-offset-4">
            <div id="sortingNotification" class="alert alert-info col-xs-4" align="center" role="alert" style="display: none">
                <h5></h5>
            </div>
            <div id="sortingEnded" class="alert alert-success col-xs-4" align="center" role="alert" style="display: none">
            </div>
        </div>
        <table class="table table-hover table-fixed" id="students-table">
            <thead id="thead-table-students">
            <tr class="head-table">
                <th><button onclick="noteAndSort(this, 1)" type="button" class="btn btn-secondary" value="">Имя<i class="fa fa-fw fa-sort"></i></button></th>
                <th><button onclick="noteAndSort(this, 2)" type="button" class="btn btn-secondary">Фамилия<i class="fa fa-fw fa-sort"></i></button></th>
                <th><button onclick="noteAndSort(this, 3, 'email')" type="button" class="btn btn-secondary">Email<i class="fa fa-fw fa-sort"></i></button></th>
                <th><button onclick="noteAndSort(this, 4, 'date')" type="button" class="btn btn-secondary">Конец пробных<i class="fa fa-fw fa-sort"></i></button></th>
                <th><button onclick="noteAndSort(this, 5, 'date')" type="button" class="btn btn-secondary">Следующая оплата<i class="fa fa-fw fa-sort"></i></button></th>
                <th sec:authorize="hasAnyAuthority('OWNER')"><button onclick="noteAndSort(this, 6)" type="button" class="btn btn-secondary fit">Цена<i class="fa fa-fw fa-sort"></i></button></th>
                <th sec:authorize="hasAnyAuthority('OWNER')"><button onclick="noteAndSort(this, 7)" type="button" class="btn btn-secondary fit">Сумма платежа<i class="fa fa-fw fa-sort"></i></button></th>
                <th sec:authorize="hasAnyAuthority('OWNER')"><button onclick="noteAndSort(this, 8)" type="button" class="btn btn-secondary fit">Оплата после<i class="fa fa-fw fa-sort"></i></button></th>
                <th width="240px"><button type="button" class="btn btn-secondary">Напоминание</button></th>
                <th><button onclick="noteAndSort(this, 15, 'status')" type="button" class="btn btn-secondary fit">Статус учёбы<i class="fa fa-fw fa-sort"></i></button></th>
                <th><button onclick="noteAndSort(this, 16, 'notes')" type="button" class="btn btn-secondary">Заметки<i class="fa fa-fw fa-sort"></i></button></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table-body">
            <tr th:each="student : ${students}" th:id="'row_' + ${student.id}" th:style="'display:none; '+${student.color != null ? 'background-color: ' + student.color : ''}">
                <td th:id="${'status_' + student.id}" hidden="hidden" th:text="${student.client.status.name}"></td>
                //Поле для фильтрациии по направлениям
                <td th:each="course : ${student.client.getCourses()}" hidden="hidden" th:id="'course_' + ${course.getName()}" th:value="${course.id}" th:text="${course.getName()}" class="course_fltr"></td>
                <td th:id="${'name_' + student.id}" th:text="${student.client.name}"></td>
                <td th:id="${'lastName_' + student.id}" th:text="${student.client.lastName}"></td>
                <td th:id="${'email_' + student.id}" th:text="${student.client.getEmail().orElse('')}"></td>
                <td th:id="${'trialEndDate_' + student.id}">
                    <span th:id="${'trialEndDateValue_' + student.id}" th:text="${#temporals.format(student.trialEndDate, 'dd.MM.yyyy')}"></span>
                    <input th:id="${'trial-end-date_' + student.id}" class="form-control hidden input-sm" type="date"/><br/>
                    <button th:id="${'add_weeks_button_' + student.id}" type="button" class="btn btn-default btn-xs trial-date-btn">+15D</button>
                    <button th:id="${'add_month_button_' + student.id}" type="button" class="btn btn-default btn-xs trial-date-btn">+1M</button>
                </td>
                <td th:id="${'nextPaymentDate_' + student.id}">
                    <span th:id="${'nextPaymentDateValue_' + student.id}" th:text="${#temporals.format(student.nextPaymentDate, 'dd.MM.yyyy')}"></span>
                    <input th:id="${'next-payment-date_' + student.id}" class="form-control hidden input-sm" type="date"/><br/>
                    <button th:id="${'add_weeks_button_' + student.id}" type="button" class="btn btn-default btn-xs payment-date-btn">+15D</button>
                    <button th:id="${'add_month_button_' + student.id}" type="button" class="btn btn-default btn-xs payment-date-btn">+1M</button>
                </td>
                <td class="price-for-student" th:id="${'price_' + student.id}" th:text="${student.price}" sec:authorize="hasAnyAuthority('OWNER')"></td>
                <td th:id="${'paymentAmount_' + student.id}" th:text="${student.paymentAmount}" sec:authorize="hasAnyAuthority('OWNER')"></td>
                <td th:id="${'payLater_' + student.id}" th:text="${student.payLater}" sec:authorize="hasAnyAuthority('OWNER')"></td>
                <td>
                    <table width="160px">
                        <tr>
                            <td width="20%">
                                <span th:if="${student.client.email!=''}" th:remove="tag">
                                    <figure class="single">
                                        <div class="figure-content"><img th:id="${student.id+'_notify_email_img_off'}" style="width: 24px; height: 24px" th:src="@{/images/email_off.png}" class="notifier_img img-fluid"/></div>
                                        <figcaption><img th:id="${student.id+'_notify_email_img_on'}" class="notifier_img" style="width: 24px; height: 24px" th:src="@{/images/email_on.png}"/></figcaption>
                                        <label th:for="${student.id+'_notify_email'}" th:hidden="${student.client.email}==''">
                                            <input th:id="${student.id+'_notify_email'}" type="checkbox" class="notifier" th:value="${student.id}" th:checked="${student.notifyEmail}" th:disabled="${student.client.email}==''"/>
                                        </label>
                                    </figure>
                                </span>
                            </td>
                            <td width="20%">
                                <span th:if="${student.client.phoneNumber!=''}" th:remove="tag">
                                    <figure class="single">
                                        <div class="figure-content"><img th:id="${student.id+'_notify_sms_img_off'}" style="width: 24px; height: 24px" th:src="@{/images/sms_off.png}" class="notifier_img img-fluid"/></div>
                                        <figcaption><img th:id="${student.id+'_notify_sms_img_on'}" class="notifier_img" style="width: 24px; height: 24px" th:src="@{/images/sms_on.png}"/></figcaption>
                                        <label th:for="${student.id+'_notify_sms'}">
                                            <input th:id="${student.id+'_notify_sms'}" type="checkbox" class="notifier" th:value="${student.id}" th:checked="${student.notifySMS}" th:disabled="${student.client.phoneNumber}==''"/>
                                        </label>
                                    </figure>
                                </span>
                            </td>
                            <td width="20%">
                                <span th:each="socProfile : ${student.client.socialProfiles}" th:if="${socProfile.socialNetworkType.name == 'vk'}" th:remove="tag">
                                    <figure class="single">
                                        <div class="figure-content"><img th:id="${student.id+'_notify_vk_img_off'}" style="width: 24px; height: 24px" th:src="@{/images/vk_off.png}" class="notifier_img img-fluid"/></div>
                                        <figcaption><img th:id="${student.id+'_notify_vk_img_on'}" class="notifier_img" style="width: 24px; height: 24px" th:src="@{/images/vk_on.png}"/></figcaption>
                                        <label th:for="${student.id+'_notify_vk'}">
                                            <input th:id="${student.id+'_notify_vk'}" type="checkbox" class="notifier" th:value="${student.id}" th:checked="${student.notifyVK}"/>
                                        </label>
                                    </figure>
                                </span>
                            </td>
                            <td width="20%">
                             <span th:each="socProfile : ${student.client.socialProfiles}" th:if="${socProfile.socialNetworkType.name == 'slack'}" th:remove="tag">
                                    <figure class="single">
                                        <div class="figure-content"><img th:id="${student.id+'_notify_slack_img_off'}" style="width: 24px; height: 24px" th:src="@{/images/slack_off.png}" class="notifier_img img-fluid"/></div>
                                        <figcaption><img th:id="${student.id+'_notify_slack_img_on'}" class="notifier_img" style="width: 24px; height: 24px" th:src="@{/images/slack_on.png}"/></figcaption>
                                        <label th:for="${student.id+'_notify_slack'}">
                                            <input th:id="${student.id+'_notify_slack'}" type="checkbox" class="notifier" th:value="${student.id}" th:checked="${student.notifySlack}"/>
                                        </label>
                                    </figure>
                                </span>
                            </td>
                            <td width="20%">
                                <span th:if="${!((student.client.email=='') and (student.client.phoneNumber=='') and (!#strings.contains(student.client.socialProfiles,'vk')) and (!#strings.contains(student.client.socialProfiles,'slack')))}" th:remove="tag">
                                    <figure class="all">
                                        <div class="figure-content"><img th:id="${student.id+'_notify_all_img_off'}" style="width: 24px; height: 24px" th:src="@{/images/check_all_off.png}" class="notifier_all_img img-fluid"/></div>
                                        <figcaption><img th:id="${student.id+'_notify_all_img_on'}" class="notifier_all_img" style="width: 24px; height: 24px" th:src="@{/images/check_all_on.png}"/></figcaption>
                                        <label th:for="${student.id+'_notify_all'}">
                                            <input th:id="${student.id+'_notify_all'}" type="checkbox" class="notifier_all" th:value="${student.id}" th:checked="${((student.client.email=='') or student.notifyEmail) and ((student.client.phoneNumber=='') or student.notifySMS) and ((!#strings.contains(student.client.socialProfiles,'vk')) or student.notifyVK) and ((!#strings.contains(student.client.socialProfiles,'slack')) or student.notifySlack)}"/>
                                        </label>
                                    </figure>
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td th:id="${'status_' + student.id}">
                    <span th:id="${'statusValue_' + student.id}" th:text="${student.status.status}"></span>
                    <select th:id="${'student-status_' + student.id}" class="form-control hidden student-changing"></select>
                </td>
                <td th:id="${'notes_' + student.id}" th:text="${student.notes}" data-toggle="tooltip" th:title="${student.notes}"></td>
                <td>
                    <button class="button_color btn btn-success glyphicon glyphicon-tint btn-xs"th:onclick="'javascript:button_color('+this+')'" th:value="${student.id}" title="Окраска"></button>
                    <button class="button_color_reset btn btn-warning glyphicon glyphicon-repeat btn-xs"th:onclick="'javascript:reset_color('+${student.id}+')'"  th:value="${student.id}" title="Сброс окраски"></button>
                    <button class="button_info btn btn-info glyphicon glyphicon-info-sign btn-xs" th:onclick="'javascript:button_info('+this+')'"   th:value="${student.client.id}" th:id="${'student_info_button_' + student.id}" title="Информация"></button>
                    <button class="button_delete btn btn-danger glyphicon glyphicon-remove btn-xs" th:onclick="'javascript:button_delete('+this+')'"  th:value="${student.id}" title="Удалить студента"></button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
<div th:replace="fragments/student-reject-modal::studentRejectModal"></div>
<div th:replace="fragments/mainModal::mainModalWindow"></div>
<div th:replace="fragments/modal-client-history-message::modalClientHistoryMessage"></div>
<div th:replace="fragments/htmlFragments::client_description_modal"></div>
<div th:replace="fragments/htmlFragments::emailMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteIMModal"></div>
<div th:replace="fragments/htmlFragments::customMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sendTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sms_error_modal"></div>
<div th:replace="fragments/conversations::conversationsModal"></div>
<div th:replace="fragments/contract-client-setting-modal::contractClientSettingModal"></div>
<div th:replace="fragments/contract-client-link-modal::contractClientLinkModal"></div>
<div th:replace="fragments/htmlFragments::slackLinkModal"></div>
<div th:replace="fragments/other-information-link::otherInformationLink"></div>
<div th:replace="fragments/other-information-value::otherInformationValue"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var slack_url = /*[[${slackWorkspaceUrl}]]*/ 'default';

    /*]]>*/
</script>
<script type="text/javascript" src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="/js/moment-timezone.js"></script>
<script type="text/javascript" th:src="@{/js/main-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal-contract.js}"></script>
<script type="text/javascript" th:src="@{/js/ip-telephony.js}"></script>
<script type="text/javascript" th:src="@{/js/conversations.js}"></script>
<script type="text/javascript" th:src="@{/js/comments.js}"></script>
<script type="text/javascript" th:src="@{/js/notifications.js}"></script>
<script type="text/javascript" th:src="@{/js/status.js}"></script>
<script type="text/javascript" th:src="@{/js/clientHistory.js}"></script>
<link href="/css/bootstrap-colorpicker.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" th:src="@{/js/all-students.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.imgcheckbox.js}"></script>

<script type="text/javascript" th:src="@{/js/other-info-link.js}"></script>

<!--Font for arrows in table buttons-->
<link href="/css/font-awesome.min.css" rel="stylesheet"/>
<!--Noty for notifications-->
<link href="/css/noty.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/noty.js"></script>
</body>
</html>