<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <title>Все отзывы</title>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" th:src="@{/js/status.js}"></script>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="container-fluid">
        <div><h1>Таблица всех Отзывов</h1></div>
        <div class="row">
            <div class="col-md-4">
                <input hidden="hidden" class="form-check-input" type="checkbox" onclick="checkboxClick()" id="no-feedback-checkbox"/>
                <label class="form-check-label" for="no-feedback-checkbox">
                    Показать у кого нет отзывов
                </label>
            </div>
            <div class="col-md-4"><input class="form-control clearable" id="searchInput"
                                         placeholder="Поиск клиентов..."/>
            </div>
        </div>
        <br/>
        <table class="table table-hover table-fixed" id="all-feedback-table" style="background: #edeff0">
            <thead id="thead-all-feedback-table" class="col-lg">
            <tr class="head-table">
                <th onclick="sort_table(0)" class="col" scope="col">Клиент</th>
                <th onclick="sort_table(1)" class="col" scope="col">Ссылка на соц сеть</th>
                <th onclick="sort_table(2)" class="col-lg-4" scope="col">Текс отзыва</th>
                <th onclick="sort_table(3)" class="col" scope="col">Ссылка на видео</th>
                <th class="col-lg-1" colspan="2" scope="col"></th>
            </tr>
            </thead>
            <tbody id="tbody-all-feedback-table" class="col-lg">
            <tr th:each="feedback : ${feedbacks}" th:id="'tr'+${feedback.id}">
                <td class="line-decoration" ><a th:text="${feedback.client.name} +' '+ ${feedback.client.lastName}" th:href="@{'/client/clientInfo/' + ${feedback.client.id}}"></a></td>
                <td ondblclick='edit(this)'><textarea class='feedback-social-url' disabled="disabled" onblur='disable(this)' th:text="${feedback.socialUrl}"></textarea></td>
                <td ondblclick='edit(this)'><textarea class='feedback-text' disabled="disabled" onblur='disable(this)' th:text="${feedback.text}"></textarea></td>
                <td ondblclick='edit(this)'><textarea class='feedback-video-url' disabled="disabled" onblur='disable(this)' th:text="${feedback.videoUrl}"></textarea></td>
                <td><a th:onclick="'updateFeedback('+${feedback.id}+')'" class='btn btn-success'>&#10003;</a></td>
                <td><a th:onclick="'deleteFeedbackAllTable('+${feedback.id}+')'" class='btn btn-danger'>X</a></td>
            </tr>
            <tr th:each="client : ${clients}" class="client-no-feedback col-lg" style="display: none">
                <td class="line-decoration"><a th:text="${client.name} +' '+ ${client.lastName}" th:href="@{'/client/clientInfo/' + ${client.id}}"></a></td>
                <td><textarea hidden="hidden"></textarea></td>
                <td><textarea hidden="hidden"></textarea></td>
                <td><textarea hidden="hidden"></textarea></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/clientFeedback.js}"></script>
</body>
</html>