<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Статусы обучения</title>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" th:src="@{/js/status.js}"></script>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="container">
        <div><h1>Таблица всех статусов обучения</h1></div>

        <div class="row">
            <div class="col-md-4">
                <button id="create_status" type="button" class="btn btn-info">Создать</button>
            </div>
            <!--TODO: Поиск на этой странице не работает!-->
            <div class="col-md-4"><input class="form-control" id="searchInput" placeholder="Поиск статуса..."/></div>
        </div>
        <br />
        <table class="table table-hover table-fixed" id="students-table">
            <thead id="thead-table-students-status">
            <tr class="head-table">
                <th class="col-md-1 fit">#</th>
                <th class="col-md-10">Статус</th>
                <th class="col-md-1 fit"></th>
            </tr>
            </thead>
            <!--Рендеринг таблицы на стороне клиента-->
            <tbody id="table-body">
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
<div th:replace="fragments/student-status::studentStatusCreateModal"></div>
<div th:replace="fragments/student-status::studentStatusEditModal"></div>
<script type="text/javascript" th:src="@{/js/all-students-status.js}"></script>
</body>
</html>