<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Все клиенты</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css"
          rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript" th:src="@{/js/choice-color-picker.js}"></script>
    <link href="/css/bootstrap-colorpicker.css" rel="stylesheet"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="container-fluid">
        <div><h1>Таблица всех клиентов</h1></div>
        <div class="row">
            <div class="col-md-3">
                <a href="/admin/client/add" class="btn btn-info" th:id="addClient"
                   sec:authorize="hasAnyAuthority('OWNER','ADMIN')">Добавить Клиента</a>
                <button type="button" id="open-filter" class="btn btn-info" data-toggle="collapse"
                        data-target="#filter">Фильтр
                </button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#massInputModal">
                    Массовый ввод
                </button>
            </div>
            <div class="col-md-1">
                <div style="float: right;" id="loaderImage"></div>
            </div>
            <div class="col-md-4"><input class="form-control clearable" id="searchInput"
                                         placeholder="Поиск клиентов..."/>
            </div>
        </div>
        <div id="filter" class="collapse filter">
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label" for="sex">Пол: </label>
                    <select class="form-control" id="sex" size="1">
                        <option></option>
                        <option th:each="sex : ${T(com.ewp.crm.models.Client.Sex).values()}" th:value="${sex}"
                                th:text="${sex}"></option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <div class="row">
                        <label class="col-xs-12">Возраст:</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="number" id="ageFrom" placeholder="От"/>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="number" id="ageTo" placeholder="До"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <label class="control-label" for="city">Город: </label>
                    <input class="form-control" type="text" id="city"/>
                </div>
                <div class="col-xs-3 offset-1">
                    <label class="control-label" for="country">Страна: </label>
                    <input class="form-control" type="text" id="country"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="row">
                        <label class="col-xs-12">Дата: </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="date" id="dateFrom" placeholder="От"/>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="date" id="dateTo" placeholder="До"/>
                        </div>
                    </div>

                </div>
                <div class="col-xs-3 offset-4">
                    <label class="control-label" for="status">Статус: </label>
                    <select class="form-control" id="status" size="1">
                        <option></option>
                        <option th:each="status : ${statuses}" th:value="${status}"
                                th:text="${status.name}"></option>
                    </select>

                </div>
                <div class="col-xs-3 offset-4">
                    <label class="control-label" for="ownerUser">Пользователь: </label>
                    <select class="form-control" id="ownerUser" size="1">
                        <option></option>
                        <option th:each="user : ${users}" th:value="${user.id}"
                                th:text="${user.fullName}"></option>
                    </select>
                </div>
            </div>
            <br/>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#downloadModal" sec:authorize="hasAnyAuthority('OWNER', 'ADMIN')">
                Скачать данные
            </button>
            <br/>
            <div class="row">
                <div id="divToFiltration"></div>
                <button type="button" class="btn btn-info filtration-button" id="filtration">Найти</button>
            </div>

            <div th:replace="fragments/htmlFragments::downloadModal"></div>

        </div>
        <table class="table table-hover table-fixed" id="clients-table">
            <thead id="thead-table-clients">
            <tr class="head-table">
                <th>#</th>
                <th onclick="sort_table('name')">Имя</th>
                <th onclick="sort_table('lastName')">Фамилия</th>
                <th onclick="sort_table('phoneNumber')">Телефон</th>
                <th onclick="sort_table('email')">Email</th>
                <th>Социальная сеть</th>
                <th>Дата рождения</th>
                <th>Пол</th>
                <th onclick="sort_table('city')">Город</th>
                <th onclick="sort_table('country')">Страна</th>
                <th onclick="sort_table('ownerUser')">Пользователь</th>
                <th onclick="sort_table('status')">
                    Статус
                    <div class="btn-group">
                        <button type="button" name="editStatusColor"
                                class="selectColorBtn glyphicon glyphicon glyphicon-cog"
                                data-toggle="dropdown">
                        </button>
                    </div>
                </th>
                <th onclick="sort_table('dateOfRegistration')">Дата регистрации</th>
                <th onclick="sort_table('dateOfLastChange')">Последнее изменение</th>
                <th>Скрыт?</th>
            </tr>
            </thead>

            <tbody id="table-body">
            <tr th:each="client : ${allClients}">
                <td th:text="${client.id}"></td>
                <td class="line-decoration"><a th:text="${client.name}" href="#" th:onclick="'clientModal('+ ${client.id} +')'" ></a></td>
                <td th:text="${client.lastName}"></td>
                <td th:text = "${!#arrays.isEmpty(client.clientPhones)} ? ${client.clientPhones[0]}"></td>
                <td th:text= " ${!#arrays.isEmpty(client.clientEmails)} ? ${client.clientEmails[0]}"></td>
                <td>
                    <th:block th:each="soc : ${client.socialProfiles}">
                        <span th:if="${soc.socialNetworkType.name == 'vk' or soc.socialNetworkType.name == 'facebook'}" th:remove="tag">
                            <th:block th:if="${soc.socialNetworkType.link == null}" th:text="${soc.socialId}"></th:block>
                            <th:block th:if="${soc.socialNetworkType.link != null}" th:text="${soc.socialNetworkType.link + soc.socialId}"></th:block>
                            <br/>
                        </span>
                    </th:block>
                </td>
                <td th:if="${client.birthDate!=null}" th:text="${#strings.arraySplit(client.birthDate, '-')[2]} + '.' + ${#strings.arraySplit(client.birthDate, '-')[1]} + '.' + ${#strings.arraySplit(client.birthDate, '-')[0]}"></td>
                <td th:if="${client.birthDate==null}" th:text="'-'"></td>
                <td th:text="${client.sex}"></td>
                <td th:text="${client.city}"></td>
                <td th:text="${client.country}"></td>
                <td th:if="${client.ownerUser == null}" th:text="''"></td>
                <td th:if="${client.ownerUser != null}" th:text="${client.ownerUser.fullName}"></td>
                <td class="colorTd" th:text="${client.status.name}"></td>

                <!--@thymesVar id="#temporals" type="org.thymeleaf.extras.java8time.expression.Temporals"-->
                <td th:text="${#temporals.format(client.dateOfRegistration.withZoneSameInstant('Europe/Moscow'), 'dd.MM.yyyy HH:mm МСК')}"></td>

                <td><div th:switch="${client.comments.size() > 0 }">
                    <span th:case="true">
                        <div th:switch="${client.comments.get(client.comments.size() - 1).getDateFormat().isAfter(client.history.get(0).getDate())}">
                            <span th:case="false" th:text="${#temporals.format(client.history.get(0).getDate().withZoneSameInstant('Europe/Moscow'), 'dd.MM.yyyy HH:mm МСК')}"></span>
                            <span th:case="true" th:text="${#temporals.format(client.comments.get(client.comments.size() - 1).getDateFormat().withZoneSameInstant('Europe/Moscow'), 'dd.MM.yyyy HH:mm МСК')}"></span>
                        </div>
                    </span>
                    <span th:case="false" th:text="${#temporals.format(client.history.get(0).getDate().withZoneSameInstant('Europe/Moscow'), 'dd.MM.yyyy HH:mm МСК')}"></span>
                </div></td>
                <!--<td th:text="${client.dateOfRegistration}"></td>-->
                <td class="no-fix">
                    <div class="dropdown statuses-by-dropdown" th:if="${client.status.invisible}"
                         sec:authorize="hasAnyAuthority('OWNER', 'ADMIN')">
                        <button type="button" class="btn btn-default" data-toggle="dropdown"
                                th:attrappend="data-client=${client.id}"> Вернуть
                        </button>
                        <ul class="dropdown-menu statuses-content"></ul>
                    </div>
                    <div class="button-return-from-postpone" th:if="${client.postponeDate != null}"
                         sec:authorize="hasAnyAuthority('OWNER', 'ADMIN')">
                        <button type="button" id="return-from-postpone" class="btn btn-default from-postpone"
                                th:attrappend="data-client=${client.id}"> Вернуть
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>

        <div id="statuses-list" style="display:none">
            <li th:each="status:${statuses}" th:if="${!status.invisible}">
                <a th:if="${status.name != 'deleted'}" class="link-cursor-pointer return-to-visible-status"
                   th:text="${status.name}" th:value="${status.id}" onclick=""></a>
            </li>
        </div>

        <div class="modal fade" id="massInputModal" tabindex="-1" role="dialog"
             aria-labelledby="massInputLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="massInputLabel">Массовый ввод</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            x
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="listFio">Список клиентов в формате ФИО (каждый с новой строки):</label>
                                    <textarea class="form-control text-lowercase" id="listFio" rows="14"
                                              style="font-size: 8pt"></textarea>
                                </div>
                                <div class="col">
                                    <label for="listEmail">Список email клиентов (соблюдать соответствие с ФИО
                                        клиента):</label>
                                    <textarea class="form-control text-lowercase" id="listEmail" rows="14"
                                              style="font-size: 8pt"></textarea>
                                </div>
                                <div class="col">
                                    <label for="trialDate">Конец пробных:</label>
                                    <textarea class="form-control text-lowercase" id="trialDate" rows="14"
                                              style="font-size: 8pt"></textarea>
                                </div>
                                <div class="col">
                                    <label for="nextPayment">Следующая оплата:</label>
                                    <textarea class="form-control text-lowercase" id="nextPayment" rows="14"
                                              style="font-size: 8pt"></textarea>
                                </div>
                                <div class="col">
                                    <label for="price">Цена:</label>
                                    <textarea class="form-control text-lowercase" id="price" rows="14"
                                              style="font-size: 8pt"></textarea>
                                </div>
                                <div class="col">
                                    <label for="paymentSum">Сумма платежа:</label>
                                    <textarea class="form-control text-lowercase" id="paymentSum" rows="14"
                                              style="font-size: 8pt"></textarea>
                                </div>
                                <div class="col">
                                    <label class="control-label" for="studentStatus">Статус студента: </label>
                                    <select class="form-control" id="studentStatus" size="1">
                                        <option></option>
                                        <option th:each="status : ${studentStatuses}" th:value="${status.id}"
                                                th:text="${status.status}"></option>
                                    </select>

                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="form-group">
                                <button class="btn btn-success" onclick="massClientInputSend()">
                                    Сохранить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/changeColorByStatusModal::change-color-by-status-modal"></div>
<div th:replace="fragments/mainModal::mainModalWindow"></div>
<div th:replace="fragments/modal-client-history-message::modalClientHistoryMessage"></div>
<div th:replace="fragments/htmlFragments::client_description_modal"></div>
<div th:replace="fragments/htmlFragments::emailMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteIMModal"></div>
<div th:replace="fragments/htmlFragments::customMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sendTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sms_error_modal"></div>
<div th:replace="fragments/conversations::conversationsModal"></div>
<div th:replace="fragments/contract-client-setting-modal::contractClientSettingModal"></div>
<div th:replace="fragments/contract-client-link-modal::contractClientLinkModal"></div>
<div th:replace="fragments/htmlFragments::slackLinkModal"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var slack_url = /*[[${slackWorkspaceUrl}]]*/ 'default';

    /*]]>*/
</script>
<script type="text/javascript" src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="/js/moment-timezone.js"></script>
<link href="/css/bootstrap-colorpicker.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" th:src="@{/js/all-clients.js}"></script>
<script type="text/javascript" th:src="@{/js/loading-animation.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal-contract.js}"></script>
<script type="text/javascript" th:src="@{/js/ip-telephony.js}"></script>
<script type="text/javascript" th:src="@{/js/conversations.js}"></script>
<script type="text/javascript" th:src="@{/js/comments.js}"></script>
<script type="text/javascript" th:src="@{/js/notifications.js}"></script>
<script type="text/javascript" th:src="@{/js/status.js}"></script>
<script type="text/javascript" th:src="@{/js/clientHistory.js}"></script>

</body>
</html>
