<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" th:src="@{/js/status.js}"></script>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="container-fluid">
        <div><h1>Таблица всех студентов</h1></div>

        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#filter">Фильтр</button>
            </div>
            <div class="col-md-4"><input class="form-control" id="searchInput" placeholder="Поиск студента..."/></div>
        </div>

        <div id="filter" class="collapse filter">
            <div class="row">
                <div class="col-xs-1" th:each="status : ${statuses}">
                    <label class="control-label" th:for="${status.name}" th:text="${status.name}"></label>
                    <input th:id="${status.name}" class="checkbox" type="checkbox" checked="checked"/>
                </div>
            </div>
            <div th:replace="fragments/htmlFragments::downloadModal"></div>
        </div>

        <table class="table table-hover table-fixed" id="students-table">
            <thead id="thead-table-students">
            <tr class="head-table">
                <th onclick="sort_table(1)">#</th>
                <th onclick="sort_table(2, 'href')">Имя</th>
                <th onclick="sort_table(3)">Фамилия</th>
                <th onclick="sort_table(4)">Email</th>
                <th onclick="sort_table(5, 'date')">Конец пробных</th>
                <th onclick="sort_table(6, 'date')">Следующая оплата</th>
                <th onclick="sort_table(7)">Цена</th>
                <th onclick="sort_table(8)">Сумма платежа</th>
                <th onclick="sort_table(9)">Оплата после</th>
                <th onclick="sort_table(10)">Статус учёбы</th>
                <th onclick="sort_table(11)">Заметки</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table-body">
            <tr th:each="student : ${students}">
                <td style="display:none;" th:text="${student.client.status.name}"></td>
                <td th:text="${student.id}"></td>
                <td class="line-decoration" ><a th:text="${student.client.name}" th:href="@{'/client/clientInfo/' + ${student.client.id}}"></a></td>
                <td th:text="${student.client.lastName}"></td>
                <td th:text="${student.client.email}"></td>
                <td th:text="${#dates.format(student.trialEndDate, 'dd.MM.yyyy')}"></td>
                <td th:text="${#dates.format(student.nextPaymentDate, 'dd.MM.yyyy')}"></td>
                <td th:text="${student.price}"></td>
                <td th:text="${student.paymentAmount}"></td>
                <td th:text="${student.payLater}"></td>
                <td th:text="${student.status.status}"></td>
                <td th:text="${student.notes}"></td>
                <td><button class="button_edit btn btn-info" th:value="${student.id}">Изменить</button></td>
            </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
<div th:replace="fragments/student-edit-modal::studentEditModal"></div>
<script type="text/javascript" th:src="@{/js/all-clients.js}"></script>
<script type="text/javascript" th:src="@{/js/all-students.js}"></script>
</body>
</html>