<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Шаблоны рассылки</title>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
    <script type="text/javascript" th:src="@{/js/boards.js}"></script>
</head>

<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div class="container">
        <div><h1>Таблица шаблонов рассылки</h1></div>
        <div class="row">
            <div class="col-md-4">
                <button id="button_create_template" type="button" class="btn btn-info">Создать</button>
            </div>
            <!--TODO: Поиск на этой странице не реализован!-->
            <div class="col-md-4"><input class="form-control" id="searchInput" placeholder="Поиск шаблона..."/></div>
        </div>
        <br />
            <table class="table table-hover table-fixed">
                <thead>
                <tr class="head-table">
                    <th class="col-md-1 fit">#</th>
                    <th class="col-md-9">Шаблон</th>
                    <th class="col-md-3"></th>
                </tr>
                </thead>
                <!--Вывод содержимого таблицы шаблонов через ajax-запрос на клиенте-->
                <tbody id="table-body"></tbody>
                <tfoot>
                </tfoot>
            </table>
    </div>

    <!--Modal window for rename template-->
    <div id="rename-template-modal" class="modal fade main-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Переименование шаблона</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <h5 id="rename-template-modal-err" class="modal-title" style="color: red; text-align: center"></h5>
                            <label for="template-rename">Отредактируйте имя шаблона</label>
                            <input id="template-rename" class="form-control" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="send_name" type="button" class="btn btn-default">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of modal window for rename template-->

    <!--Modal window for rename theme template-->
    <div id="rename-theme-template-modal" class="modal fade main-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-theme-header" class="modal-title">Переименование тему шаблона</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <h5 id="rename-theme-template-modal-err" class="modal-title" style="color: red; text-align: center"></h5>
                            <label for="template-theme-rename">Отредактируйте тему шаблона</label>
                            <input id="template-theme-rename" class="form-control" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="send_theme" type="button" class="btn btn-default">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of modal window for rename theme template-->

    <div th:replace="fragments/add-template-modal::templateCreateModal"></div>
    <script type="text/javascript" th:src="@{/js/all-templates.js}"></script>
</div>
</body>
</html>