<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аналитика</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"/>
</head>

<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="container-fluid">

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script type="text/javascript" th:src="@{/js/analytics-table.js}"></script>

</body>
</html>
