<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>АвтоОтветы на входящие заявки</title>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>

<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div class="container">
        <div><h1>Таблица автоответов на входящие заявки</h1></div>
        <div class="row">
            <div class="col-md-4">
                <button id="button_create_autoanswer" type="button" class="btn btn-info">Создать</button>
            </div>
        </div>
        <br />
        <th:block th:if="${autoAnswers.size()!=0}">
            <table class="table table-hover table-fixed">
                <thead id="thead-table-students-status">
                <tr class="head-table">
                    <th class="col-md-1 fit">#</th>
                    <th class="col-md-9">Шаблон</th>
                    <th class="col-md-3"></th>
                </tr>
                </thead>
                <tbody id="table-body">
                <tr th:each="template : ${autoAnswers}">
                    <td th:text="${template.id}"></td>
                    <td th:text="${template.subject}"></td>
                    <td class="fit" align='right'>
                        <button class="btn btn-primary glyphicon glyphicon-font" th:data="${template.id}" th:value="${template.subject}" onclick="renameTemplate(this)" title="Переименовать шаблон"></button>
                        <button class="button_edit_template btn btn-info glyphicon glyphicon-pencil" th:value="${template.id}" title="Изменить шаблон"></button>
                        <button class="button_delete_template btn btn-danger glyphicon glyphicon-remove" th:value="${template.id}" title="Удалить шаблон"></button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </th:block>
    </div>

    <!--Modal window for rename template-->
    <div id="rename-template-modal" class="modal fade main-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Переименование шаблона</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <h5 id="rename-template-modal-err" class="modal-title" style="color: red; text-align: center"></h5>
                            <label for="template-rename">Отредактируйте имя шаблона</label>
                            <input id="template-rename" class="form-control" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="send_name" type="button" class="btn btn-default">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of modal window for rename template-->

    <!--Modal window for rename theme template-->
    <div id="rename-theme-template-modal" class="modal fade main-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-theme-header" class="modal-title">Переименование тему шаблона</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <h5 id="rename-theme-template-modal-err" class="modal-title" style="color: red; text-align: center"></h5>
                            <label for="template-theme-rename">Отредактируйте тему шаблона</label>
                            <input id="template-theme-rename" class="form-control" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="send_theme" type="button" class="btn btn-default">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of modal window for rename theme autoanswer-->
    <div th:id="autoanswer-create-modal" class="modal fade main-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Создание нового шаблона</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <h5 id="template-create-modal-err" class="modal-title" style="color: red; text-align: center"></h5>
                            <label for="template-name">Введите имя шаблона</label>
                            <input id="template-name" class="form-control" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="create_template" type="button" class="btn btn-default">Создать</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/autoanswers.js}"></script>

</div>
</body>
</html>