<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>АвтоОтветы на входящие заявки</title>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>

<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div class="container">
        <div><h1>Таблица автоответов на входящие заявки</h1></div>
        <div class="row">
            <div class="col-md-4">
                <button id="button_create_autoanswer" type="button" class="btn btn-info">Создать</button>
            </div>
        </div>
        <br />
        <th:block th:if="${autoAnswers.size()!=0}">
            <table class="table table-hover table-fixed">
                <thead id="thead-table-students-status">
                <tr class="head-table">
                    <th class="col-md-1 fit">#</th>
                    <th class="col-md-6">Тема сообщения</th>
                    <th class="col-md-3">Шаблон для ответа</th>
                    <th class="col-md-3">Действия</th>
                </tr>
                </thead>
                <tbody id="table-body">
                <tr th:each="template : ${autoAnswers}">
                    <td th:text="${template.id}"></td>
                    <td th:text="${template.subject}"></td>
                    <td ><a th:href="@{/template/edit/{id}(id=${template.messageTemplate.id}) } "  th:text="${template.messageTemplate.name}"></td>
                    <td class="fit" align='right'>
                        <button class="button_edit_autoanswer btn btn-info glyphicon glyphicon-pencil" th:value="${template.id}" title="Изменить"></button>
                        <button class="button_delete_autoanswer btn btn-danger glyphicon glyphicon-remove" th:value="${template.id}" title="Удалить"></button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </th:block>
    </div>

    <!--Create modal win for autoanswer-->
    <div th:id="autoanswer-create-modal" class="modal fade main-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header" class="modal-title">Создание авто ответа</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <h5 id="autoanswer-create-modal-err" class="modal-title" style="color: red; text-align: center"></h5>
                            <label for="autoanswer-subject">Тема входящего сообщения</label>
                            <input id="autoanswer-subject" class="form-control" type="text"/>
                         </div>
                        <div class="row">
                            <label for="autoanswer-template">Шаблон для автоответа</label>
                            <select id="autoanswer-template" class="form-control" >
                                <option th:each="item:${templates}" th:value=${item.id} th:text="${item.name}">шаблон для ответа</option>
                            </select>
                        </div>
                        <div class="row">
                            <label for="autoanswer-status">Статус нового клиента из заявки</label>
                            <select id="autoanswer-status" class="form-control" >
                                <option th:each="item:${statuses}" th:value=${item.id} th:text="${item.name}">Статус</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="create_autoanswer" type="button" class="btn btn-default">Создать</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of modal win for create autoanswer-->
    <script type="text/javascript" th:src="@{/js/autoanswers.js}"></script>

</div>
</body>
</html>