<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/htmlFragments::header"></div>
    <meta charset="UTF-8" />
    <title>SMS Info</title>
</head>
<body style="background-color: #CCCCCC;">
<table>
    <tr>
        <td>Сообщение</td>
        <td>Статус</td>
        <td>Отправитель</td>
        <td>Получатель</td>
    </tr>
    <tr>
        <td th:text="${smsInfo.getMessage()}"></td>
        <td th:text="${smsInfo.getDeliveryStatus()}"></td>
        <td th:text="${smsInfo.getUser().getFullName()}"></td>
        <td th:text="${smsInfo.getClient().getPhoneNumber()}"></td>
    </tr>
</table>
</body>
</html>