<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Звонки</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
    <script type="text/javascript" th:src="@{/js/boards.js}"></script>
</head>
<body>
<div style="margin: 8%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form id="separate-call" data-toggle="validator" role="form" onsubmit="return false;">
                <div class="form-group">
                    <label for="number-to-call">Введите номер телефона:</label>
                    <input class="form-control" id="number-to-call" placeholder="7 XXX XXX XXXX"
                           type="tel" data-error='Неверный формат номера' required="required"
                           pattern="[0-9]*$" minlength="11"/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group" style="text-align: center; display: block">
                    <button id="call-to-client-submit" type="submit" class="btn btn-default btn-lg call-to-client" onclick="makeCall()">
                        <span class="glyphicon glyphicon-earphone call-icon"></span>
                    </button>
                    <button class="btn btn-default btn-lg web-call-off">
                        <span class="glyphicon glyphicon-phone-alt call-icon"></span>
                    </button>
                    <button class="btn btn-default btn-lg web-call-mic-off">
                        <span class="glyphicon glyphicon-ice-lolly"></span>
                    </button>
                </div>
                <div class="form-group" style="text-align: center; display: block">
                    <div class="row">
                        <div class="btn btn-default btn-lg" onclick="sendTone('1')">1</div>
                        <div class="btn btn-default btn-lg" onclick="sendTone('2')">2</div>
                        <div class="btn btn-default btn-lg" onclick="sendTone('3')">3</div>
                    </div>
                    <div class="row">
                        <div class="btn btn-default btn-lg" onclick="sendTone('4')">4</div>
                        <div class="btn btn-default btn-lg" onclick="sendTone('5')">5</div>
                        <div class="btn btn-default btn-lg" onclick="sendTone('6')">6</div>
                    </div>
                    <div class="row">
                        <div class="btn btn-default btn-lg" onclick="sendTone('7')">7</div>
                        <div class="btn btn-default btn-lg" onclick="sendTone('8')">8</div>
                        <div class="btn btn-default btn-lg" onclick="sendTone('9')">9</div>
                    </div>
                    <div class="row">
                        <div class="btn btn-default btn-lg" onclick="sendTone('*')">*</div>
                        <div class="btn btn-default btn-lg" onclick="sendTone('0')">0</div>
                        <div class="btn btn-default btn-lg" onclick="sendTone('#')">#</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 "  align="center">
            <H3>Пользователи:</H3>
            <table class=" table table-condensed " >
                <tr th:each="user:${allUsers}">
                    <td th:text="${user.fullName} + ' (' + ${user.phoneNumber}+')'"></td>
                    <td>
                        <button class="btn btn-default btn btn-light btn-xs callback-call"
                                th:onclick="'setPhoneInPathAndCall('+${user.phoneNumber}+')'"><span
                                class="glyphicon glyphicon glyphicon-earphone"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container" style="width: 50%">
        <div class="row justify-content-md-center" style="text-align: center; border:1px;">
            <button type="button" id="open-calls-filter" class="btn btn-info" data-toggle="collapse"
                    data-target="#callsFilter">Фильтр</button>
        </div>
        <div id="callsFilter" class="collapse">
            <div class="row justify-content-md-center">
                <div class="col-xs-8">
                    <div class="row">
                        <label class="col-xs-12">Дата: </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="date" id="callsDateFrom" placeholder="От"/>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="date" id="callsDateTo" placeholder="До"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <label class="col-xs-12">Пользователь: </label>
                    </div>
                    <div class="row">
                        <select class="form-control" th:object="${allUsers}" id="calls-select-user">
                            <option value="0">Открыть список</option>
                            <option th:each="user : ${allUsers}"
                                    th:value="${user.id}"
                                    th:text="${user.fullName}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center" style="text-align: center;margin-top: 10px;">
                <button type="button" class="btn btn-info filtration-button" id="filtration-calls" onclick="filterForCalls()">Применить</button>
            </div>
        </div>
    </div>
    <div class="container" style="width: 60%">
        <div th:replace="fragments/htmlFragments::historyAllCalls"></div>
    </div>
</div>
<div th:replace="fragments/mainModal::mainModalWindow"></div>
<div th:replace="fragments/modal-client-history-message::modalClientHistoryMessage"></div>
<div th:replace="fragments/htmlFragments::client_description_modal"></div>
<div th:replace="fragments/conversations::conversationsModal"></div>
<div th:replace="fragments/htmlFragments::slackLinkModal"></div>
<div th:replace="fragments/contract-client-setting-modal::contractClientSettingModal"></div>
<div th:replace="fragments/contract-client-link-modal::contractClientLinkModal"></div>
<div th:replace="fragments/other-information-link::otherInformationLink"></div>
<div th:replace="fragments/other-information-value::otherInformationValue"></div>
<script th:inline="javascript">
    var slack_url = 'default';
</script>
<script type="text/javascript" src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript" th:src="@{/js/main-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal-contract.js}"></script>
<script type="text/javascript" th:src="@{/js/ip-telephony.js}"></script>
<script type="text/javascript" th:src="@{/js/calls.js}"></script>
<script type="text/javascript" th:src="@{/js/conversations.js}"></script>
<script type="text/javascript" th:src="@{/js/comments.js}"></script>
<script type="text/javascript" th:src="@{/js/clientHistory.js}"></script>
<script th:src="@{/js/validator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/other-info-link.js}"></script>
</body>
</html>