<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>JM - Итог проверочного теста</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
    <tr align="center" bgcolor="#78ab46" style="padding: 40px 0 30px 0;">
        <td width="50%" style="font-size: 12px; color:#929292; text-align:left; font-family: sans-serif;">
            <img src="https://sun9-9.userapi.com/c841334/v841334855/6acfb/_syiwM0RH0I.jpg" style="display: block; width: 700px" />
        </td>
    </tr>
    <tr>
        <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
            <div>
                <th:block th:if="${mapOfWrongAnswer.size() > 0}">
                    Добрый день, <span th:text="${name}"></span>, вы прошли тест на знание Java на сайте java-mentor.com и ответили верно на <span th:text="${percentageOfRightAnswer}"></span> % вопросов.
                    <br />
                    <br />
                    <span>Давайте разберёмся во всём по порядку:</span>
                    <br />
                    <div th:each="instance, stat : ${mapOfWrongAnswer}">
                        <div th:with="answer=${rightAnswer.get(instance.key)}">
                            <span th:text="${stat.count}"></span>) В вопросе № <span th:text="${instance.key}"></span> "<span style="font-style: italic" th:text="${rightQuestionText.get(instance.key)}"></span>",<br />
                            <div style="margin-left:20px;">
                            вы ответили "<span style="font-style: italic" th:text="${allQuestions.get(instance.key).get(instance.value)}"></span>", правильным ответом является "<span style="font-style: italic" th:text="${allQuestions.get(instance.key).get(answer)}"></span>", т.к. <span  th:text="${rightQuestionExplanation.get(instance.key)}"></span>.
                            </div>
                        </div>
                        <br />
                    </div>
                 </th:block>
                <th:block th:if="${mapOfWrongAnswer.size() == 0}">
                    Вы прошли тест на знание Java без ошибок, это значит, что с базовыми конструкциями языка вы уже знакомы.
                    Мы рады помочь вам поднять ваши знания на новый уровень и скоро с вами обязательно свяжемся
                </th:block>
            </div>
        </td>
    </tr>
    <tr>
        <td bgcolor="#777777" style="padding: 30px 30px 30px 30px;">
        </td>
    </tr>
</table>

</body>
</html>