<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Информация о клиенте</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/autocomplete.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div style="margin-top: 3%">
    <div id="client-info-container" class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6" id="column1">
                <button sec:authorize="hasAnyAuthority('ADMIN', 'OWNER','MENTOR', 'HR')" type="button" class="btn btn-primary"
                        id="editClientBtn" onclick="revertUnable()">Редактировать</button>
                <button sec:authorize="hasAnyAuthority('ADMIN', 'OWNER')" type="button" class="btn btn-danger"
                        style="margin-bottom: 10px; margin-left: 15px" data-toggle="modal" data-target="#modalRemove">Удалить</button>
                <!-- Modal -->
                <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="modalRemoveTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Подтверждение</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Вы действительно хотите удалить клиента?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-danger" th:onclick="'deleteClient('+ ${client.id} + ')'">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="client-from" data-toggle="validator" role="form" onsubmit="return false;">
                    <div class="form-group">
                        <label for="edit-client-first-name">Имя</label>
                        <input class="form-control" required="required" disabled="disabled" id="edit-client-first-name"
                               th:value="${client.name}"/>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-last-name">Фамилия</label>
                        <input class="form-control" id="edit-client-last-name" disabled="disabled"
                               th:value="${client.lastName}"/>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-middle-name">Отчество</label>
                        <input class="form-control" id="edit-client-middle-name" disabled="disabled"
                               th:value="${client.middleName}"/>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-status">Статус</label>
                        <select class="form-control" id="edit-client-status" disabled="disabled">
                            <option th:each="status : ${statuses}" th:value="${status}" th:id="${status.id}"
                                    th:selected="${client.status.id==status.id}"
                                    th:text="${status.name}">
                            </option>
                        </select>

                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            document.getElementById("edit-client-status").onchange = function() {
                                let clientId = [[${client.id}]];
                                let newStatus = $(this).find("option:selected").val();
                                let url = "/rest/status/client/changeByName";

                                let data = {
                                    newStatus:newStatus,
                                    clientId:clientId
                                };

                                $.post({url: url, data:data});
                            }
                            /*]]>*/
                        </script>
                    </div>

                    <div class="form-group">
                        <label for="edit-client-skype">Skype</label>
                        <input type="text" class="form-control" disabled="disabled" id="edit-client-skype"
                               th:value="${client.skype}"/>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-birthday">Дата рождения</label>
                        <input type="date" class="form-control" disabled="disabled" id="edit-client-birthday"
                               th:value="${client.birthDate}"/>
                        <div class="help-block with-error" style="color: red"></div>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-sex">Выберите пол</label>
                        <select class="form-control" disabled="disabled" id="edit-client-sex" th:value="${client.sex}">
                            <option th:value="MALE">MALE</option>
                            <option th:value="FEMALE">FEMALE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-country">Страна</label>
                            <input autocomplete="off" type="text" class="form-control" id="edit-client-country"  disabled="disabled"
                               th:value="${client.country}"/>
                    </div>
                    <div class="form-group">
                        <label for="edit-client-city">Город</label>
                            <input autocomplete="off" type="text" class="form-control" id="edit-client-city"  disabled="disabled"
                               th:value="${client.city}"/>
                    </div>

                    <!-- Управление Email адресами -->
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="userEmailList">Email адреса</label>
                            <select multiple class="form-control" id="userEmailList" disabled="disabled" size="3">
                                <option th:each="emails, iterStat : ${client.clientEmails}" th:text="${emails}">Number phone
                                </option>
                            </select>
                            <button type="button" class="btn btn-md btn-info my-1" disabled="disabled" id="removeEmails"
                                    onclick="removeSelectEmails()">Удалить выбранные
                            </button>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="defaultPhone">Основной email:</label>
                            <input type="text" readonly autocomplete="off"
                                   class="form-control mb-3" id="defaultEmail"
                                   disabled="disabled"
                                   title="Выбрать в спске нужный email, нажать кнопку установить"
                                   th:value="${client.email.isPresent() ? client.email.get() : ''}"/>
                            <button type="button" class="btn btn-md btn-info my-1" disabled="disabled" id="setDefEmail"
                                    onclick="setDefEmailExtra()">Установить выбранный
                            </button>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="newEmail">Добавить email:</label>
                            <input type="email" class="form-control mb-3" id="newEmail"
                                   disabled="disabled"  title="Email" />
                            <button type="button" class="btn btn-md btn-info my-1" disabled="disabled" id="addNewEmail"
                                    onclick="addNewEmailExtra()">Добавить
                            </button>
                        </div>
                    </div>
                    <p></p>
                    <!-- Управление номерами телефонов -->
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="userPhoneList">Номера телефонов</label>
                            <select multiple class="form-control" id="userPhoneList" disabled="disabled" size="3">
                                <option th:each="phones, iterStat : ${client.clientPhones}" th:if="${phones != ''}"
                                        th:text="${phones}">Number phone
                                </option>
                            </select>
                            <button type="button" class="btn btn-md btn-info my-1" disabled="disabled" id="removePhones"
                                    onclick="removeSelectPhones()">Удалить выбранные
                            </button>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="defaultPhone">Основной номер:</label>
                            <input type="text" readonly autocomplete="off"
                                   class="form-control mb-3" id="defaultPhone"
                                   disabled="disabled"
                                   title="Выбрать в спске нужный номер, нажать кнопку установить"
                                   th:value="${client.phoneNumber.isPresent() ? client.phoneNumber.get() : ''}"/>
                            <button type="button" class="btn btn-md btn-info my-1" disabled="disabled" id="setDefSelPhone"
                                    onclick="setDefSelPhoneExtra()">Установить выбранный
                            </button>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="newPhoneNumber">Добавить номер:</label>
                            <input type="tel" pattern="(\+79[0-9]{9}|8[0-9]{10})" autocomplete="off"  class="form-control mb-3" id="newPhoneNumber"
                                   disabled="disabled"  title="Номер +7 или 8  и 10 цифр" />
                            <button type="button" class="btn btn-md btn-info my-1" disabled="disabled" id="addNewPhone"
                                    onclick="addNewPhoneExtra()">Добавить
                            </button>
                        </div>

                    </div>

                    <p></p>

                    <div class="form-group">
                        <label>Социальные сети</label>
                        <table class="table table-hover" th:id="SocialNetworks">
                            <thead class="thead-inverse">
                            <tr>
                                <th hidden="hidden" abbr="id">id</th>
                                <th abbr="socialId">Link</th>
                                <th abbr="socialNetworkType">Type</th>
                            </tr>
                            </thead>
                            <tbody id="SN-table-body">
                            <tr th:each="socials:${client.socialProfiles}">
                                <td hidden="hidden" th:value="${socials.id}" th:text="${socials.id}"></td>
                                <td th:if="${socials.socialNetworkType.link == null}" th:value="${socials.socialId}" th:text="${socials.socialId}"></td>
                                <td th:if="${socials.socialNetworkType.link != null}" th:value="${socials.socialId}" th:text="${socials.socialNetworkType.link + socials.socialId}"></td>
                                <td th:value="${socials.socialNetworkType.id}"
                                    th:text="${socials.socialNetworkType}"></td>
                                <td>
                                    <button disabled="disabled" type="button" th:onclick="'deleteSocial('+ this + ')'"
                                            class="glyphicon glyphicon-remove"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <button class="btn btn-md btn-info" disabled="disabled" id="addNewSN" th:onclick="'addNewSN()'">Добавить
                    соц. сеть
                </button>
                <form id="job-client-from">
                    <div class="form-group">
                        <label>Работа</label>
                        <table class="table table-hover" th:id="Job">
                            <thead class="thead-inverse">
                            <tr>
                                <th hidden="hidden" abbr="id">id</th>
                                <th abbr="organization">Организация</th>
                                <th abbr="position">Позиция</th>
                            </tr>
                            </thead>
                            <tbody id="job-table-body">
                            <tr th:each="job:${client.jobs}">
                                <td hidden="hidden" th:id="'edit-client-job'+ ${job.id} + '_id'" th:value="${job.id}"
                                    th:text="${job.id}"></td>
                                <td th:value="${job.organization}" th:text="${job.organization}"></td>
                                <td th:value="${job.position}" th:text="${job.position}"></td>
                                <td>
                                    <button disabled="disabled" type="button" th:onclick="'deleteJob('+ this + ')'"
                                            class="glyphicon glyphicon-remove"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <button class="btn btn-md btn-info" disabled="disabled" id="addNewJob" th:onclick="'addNewJob()'">
                    Добавить работу
                </button>
                <div class="btn-group client-info-edit-save-back-btns">
                    <button sec:authorize="hasAnyAuthority('ADMIN', 'OWNER','MENTOR','HR')" type="submit" class="btn btn-primary"
                            id="saveChanges"
                            th:onclick="'changeClient(\''+ ${client.id} +'\')'">Сохранить
                    </button>
                    <a href="#" onclick="history.back();" class="btn btn-primary" id="backToMain">Назад</a>
                    <p><span id="message"></span></p>
                </div>
            </div>
            <!-- Client History -->
            <div class="col-md-6 history-row" id="column2">
                <div><h2>История клиента</h2></div>
                <button type="button" data-toggle="collapse" data-target="#collapse-history"
                        class="btn btn-primary open-history">Открыть историю
                </button>
                <div>
                    <div id="collapse-history" class="collapse" th:attrappend="data-clientid=${client.id}"
                         style="overflow-y: scroll;">
                        <table class="table table-bordered" id="table-of-history"
                               th:id="'client-'+${client.id}+'history'">
                            <thead>
                                <tr class="head-table">
                                    <th><button type="button" class="btn btn-secondary">Подробности</button></th>
                                    <th><button id="date" onclick="resortClientHistory(this)" type="button" class="btn btn-default btn-secondary">Дата<i class="fa fa-fw fa-sort-down"></i></button></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <button type="button" data-page="1" class="btn upload-more-history" style="display:none"
                                th:attrappend="data-clientid=${client.id}">Загрузить ещё
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/modal-client-history-message::modalClientHistoryMessage"></div>
<script type="text/javascript" th:src="@{/js/client-info.js}"></script>
<script type="text/javascript" th:src="@{/js/clientHistory.js}"></script>
<script th:src="@{/js/validator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/boards.js}"></script>
</body>
</html>