<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новое направление</title>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/autocomplete.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div style="margin: 2%">
    <!--Навигационная панель-->
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <!--Основное содержание-->
    <div class="container-fluid">
        <div><h1>Новое направление</h1></div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="/courses/add">
                    <div class="center-block"  style="width:400px";>
                        <div class="form-group">
                            <p align="center"><b>Name:</b></p>
                            <input class="form-control" type="text" name="courseName" placeholder="Enter course name"/>
                            <br>
                            <div align="center">
                                <button class="btn btn-success btn-lg" formmethod="post" type="submit" value="Add" name="addCourse">Add new course</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>