<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Редактирование шаблона сообщения</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" th:src="@{/js/edit-eTemplate.js}"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div style="margin: 4%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="container head-padding">
        <div class="container head-padding">
            <label for="template-theme-rename">Задайте тему шаблона</label>
            <input id="template-theme-rename" class="form-inline" required="required" th:value="${template.theme}"/>
        </div>

        <div class="container head-padding">
            <label for="socNetworkChoose">Редактирование шаблона </label>
            <select class="form-inline" id="socNetworkChoose" th:onchange="'switchTemplate()'">
                <option th:id="email" value="email">email</option>
                <option th:id="other" value="other">vk,sms,facebook,slack</option>
            </select>
        </div>

        <div class="container">
            <fieldset id="field">
                <div class="btn-group">
                    <input accept="image/*" th:max = "${maxSize}" type="file"  id='imgBtn' th:onchange="'sendImg(\''+ ${template.name} +'\',this)'" style="display: none"/>
                    <label for="imgBtn">
                        <span id="imgSelectBtn" class="btn btn-primary">Вставить картинку</span>
                    </label>
                </div>
                <label for="body"></label>
                <textarea id="body" required="required" th:text="${template.templateText}">
                             &lt;p&gt;
                                 Example template layout.
                             &lt;/p&gt;
                         </textarea>
                <br/>
            </fieldset>

            <div class="col-md-12 content" style="display: none;" id="show-area">
                <textarea  th:id="textTemplateArea" th:text="${template.otherText}" rows="16"></textarea>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary" id="saveTemplate" th:onclick="'saveTemplate(\''+ ${template.name} +'\')'">Сохранить</button>
                <a href="#" onclick="history.back();" class="btn btn-primary" id="backToMain">Назад</a>
            </div>
            <p><span id = "message"></span></p>
        </div>
    </div>
</div>


<div class="modal fade" id="infoModal"  role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Краткая информация о редакторе</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>Ключевые слова заключены в знаки процента %</h5>
                <h5>При отправке сообщения они будут заменены на соответсвующие им значения</h5>
                <h5><b>Например:</b></h5>
                <h5>%fullName% будет заменен на имя и фамилию клиента</h5>
                <h5><b>Поддерживаемые ключевые слова:</b></h5>
                <ul>
                    <li>%fullName% - Фамилия и имя клиента;</li>
                </ul>
                <ul>
                    <li>%bodyText% - Кастомный текст. При отправке сообщения будет отображено окно для ввода этого текста;</li>
                </ul>
                <ul>
                    <li>%contractLink% - Ссылка на Договор клиента, если он его заключал;</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>