<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Первые</title>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css" />
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>

  <body>
    <div style="margin: 2%">
      <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

      <div class="container-fluid">
        <div>
          <h1 style="margin: 32px 0 32px 0">Список клиентов без менторов, которым назначен первый созвон</h1>
        </div>

        <table class="table table-hover table-fixed" id="clients-table">
          <thead id="thead-table-first-call-clients">
            <tr class="head-table">
              <th>#</th>
              <th>Время первого созвона</th>
              <th>Имя</th>
              <th>Email</th>
              <th>Телефон</th>
              <th>Скайп</th>
              <th sec:authorize="hasAnyAuthority('MENTOR')">Действие</th>
            </tr>
          </thead>

          <tbody id="clients-table-body">
          </tbody>
        </table>

      </div>
    </div>

    <script type="text/javascript" th:src="@{/js/first-call-table.js}"></script>
  </body>
</html>
