<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Статистика</title>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css" />
    <div th:replace="fragments/htmlFragments::custom-style"></div>
  </head>

  <body>
  <!--modalwindow-->
  <div id="routes-modal-window" class="modal fade main-modal" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1>% Распределения заявок по менеджерам</h1>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="form-group">
                <label for="clientroutes-list-type">выберете источник заявки:</label>
                <select id="clientroutes-list-type" class="form-control" onchange="setUserRoutesTypes()">
                  <option th:each="itemType:${userRoutesTypes}" th:value="${itemType}" th:text="${itemType}">Тип рассылки</option>
                </select>
              </div>
              <hr/>
              <table class="table table-hover table-fixed" id="routes-table">
                <thead id="thead-table-routes">
                <tr class="head-table">
                  <th>#</th>
                  <th>Имя</th>
                  <th>Фамилия</th>
                  <th>% распределения заявок </th>
                </tr>
                </thead>
                <tbody id="routes-table-body">
                <tr th:each="manager : ${hrManagers}">
                  <td th:text="${manager.id}"></td>
                  <td th:text="${manager.firstName}"></td>
                  <td th:text="${manager.lastName}"></td>
                  <td th:text="${manager.phoneNumber}"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End modal-->
    <div style="margin: 2%">
      <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

      <div class="container-fluid">
        <div><h1>Статистика по координаторам</h1></div>

        <div class="row">
          <div class="col-md-1">
            <div style="float: right;" id="loaderImage"></div>
          </div>
          <div class="col-md-4"><input class="form-control clearable" id="searchInput"
                                       placeholder="Поиск координатора ..." />
          </div>
          <div class="col-md-4"><button type="button" class="btn btn-primary "
                                          sec:authorize="hasAnyAuthority('ADMIN', 'OWNER')"
                                          data-toggle="modal" data-target="#routes-modal-window">
            Установить % распределения заявок
          </button>
          </div>

        </div>

        <table class="table table-hover table-fixed" id="clients-table">
          <thead id="thead-table-clients">
            <tr class="head-table">
              <th>#</th>
              <th>Имя</th>
              <th>Фамилия</th>
              <th>Телефон</th>
              <th>Email</th>
              <th>Пол</th>
              <th>Город</th>
              <th>Country</th>
              <th>Карточек</th>
              <th>Звонков всего</th>
              <th>Звонков в день</th>
              <th>Среднее количество минут до первых звонков</th>
            </tr>
          </thead>

          <tbody id="table-body">
            <tr th:each="manager : ${hrManagers}">
              <td th:text="${manager.id}"></td>
              <td th:text="${manager.firstName}"></td>
              <td th:text="${manager.lastName}"></td>
              <td th:text="${manager.phoneNumber}"></td>
              <td th:text="${manager.email}"></td>
              <td th:text="${manager.sex}"></td>
              <td th:text="${manager.city}"></td>
              <td th:text="${manager.country}"></td>
              <td th:text="${manager.numberOfCards}"></td>
              <td th:text="${manager.numberOfCalls}"></td>
              <td th:text="${manager.avgCallsPerDay}"></td>
              <td th:text="${manager.getAverageMinutes()}"></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <script type="text/javascript" th:src="@{/js/hr-table.js}"></script>
  </body>
</html>
