<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CRM - рассылка</title>

    <div th:replace="fragments/htmlFragments::header"></div>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <div th:replace="fragments/htmlFragments::custom-style"></div>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
    <!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
    <!--crossorigin="anonymous"/>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--из локальной коппии, так как конфигурация редактора кастомная-->
    <script src="/ckeditor/ckeditor.js"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

    <script type="text/javascript" th:src="@{/js/mailing.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.2/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/mailing.css"/>

</head>
<body>

<header>

</header>

<div style="margin: 4%">
    <div class="container-fluid" id="header">
        <!--Панель навигации. Убрана, тк не работает, нет нужных полей у некоторых объектов, что обрушивает Thymeleaf-->
        <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    </div>
    <div class="container-fluid" id="menu-block">
        <div class="row">
            <div class="col-sm-2">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" id="message-type-button-group">
                        <button type="button" class="btn btn-secondary btn-info" id="email">e-mail</button>
                        <button type="button" class="btn btn-secondary" id="sms">sms</button>
                        <button type="button" class="btn btn-secondary" id="vk">VK</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row-sm-6">
                    <div class="col-sm-4" style="white-space: nowrap;">
                        <span class="input-group-text text-light bg-info" id="date-addon">время рассылки:</span>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" aria-label="Date" aria-describedby="date-addon" name="messageSendingTime" id="messageSendingTime"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <button class="btn btn-warning btn-sm" id="mailingStart" onclick="sendMessages(0)">Запланировать</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-success btn-sm" id="mailingNow" onclick="sendMessages(1)">Отправить сейчас</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-1">
                <input accept="image/*" th:max = "${maxSize}" type="file"  id='imgBtn' th:onchange="'sendImg(this)'" style="display: none"/>
                <label for="imgBtn">
                    <span id="imgSelectBtn" class="btn btn-primary">Вставить картинку</span>
                </label>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="editor-block">
        <div class="row">
            <div class="col-xs-9 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <!--Блок редактора CKEditor-->
                <!--<label for="editor">Editor</label>-->
                <p><label id = "message" ></label></p>
                <textarea id="editor" name="editor">
                    Заполните текст сообщения
                </textarea>
            </div>
            <div class="col-xs-3 col-sm-12 col-md-12 col-lg-12 col-xl-4 green-border-focus">
                <!--Блок адресов-->
                <div class="form-group">
                    <label for="addresses-area" id="addresses-label">Укажите список email получателей (каждый с новой строки):</label>
                    <textarea class="form-control text-lowercase" id="addresses-area" rows="12"
                              style="font-size: 10pt"></textarea>
                    <span class="badge badge-success" id="file-info"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid" id="footer">
    </div>
</footer>

</body>
</html>