<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>CRM - рассылка</title>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/mailing.css"/>
</head>
<body>

<div style="margin: 4%">
    <div class="container-fluid" id="header">
        <!--Панель навигации. Убрана, тк не работает, нет нужных полей у некоторых объектов, что обрушивает Thymeleaf-->
        <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    </div>
    <div class="container-fluid" id="menu-block">
        <div class="row">
            <div class="col-sm-2">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" id="message-type-button-group">
                        <button type="button" class="btn btn-secondary btn-info" id="email">e-mail</button>
                        <button type="button" class="btn btn-secondary" id="sms">sms</button>
                        <button type="button" class="btn btn-secondary" id="vk">VK</button>
                        <button type="button" class="btn btn-secondary" id="slack">Slack</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row-sm-6">
                    <div class="col-sm-4" >
                        <span class="input-group-text text-light bg-info" id="date-addon">Время рассылки:</span>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" aria-label="Date" aria-describedby="date-addon" name="messageSendingTime" id="messageSendingTime"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-warning btn-sm" id="mailingStart" onclick="sendMessages(0)">Запланировать</button>
                <button class="btn btn-success btn-sm" id="mailingNow" onclick="sendMessages(1)">Отправить сейчас</button>
            </div>
            <div class = "col-sm-3">
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                        <!-- Список подгружается ajax-запросом на клиенте-->
                        <select class="form-control" id = "listMailingSelect"></select>
                        </div>
                    </div>
                    <div id ="loadList" class="col-4">
                        <button class="btn btn-danger" onclick="showListMailing()">
                            Загрузить список
                        </button>
                        <button class="btn btn-success" id="editListMailing" onclick="openEditShowListMailing()">
                            Редактировать / удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">

            <div class="col-xs-2">
                <input accept="image/*" th:max = "${maxSize}" type="file"  id='imgBtn' th:onchange="'sendImg(this)'" style="display: none"/>
                <label for="imgBtn">
                    <span id="imgSelectBtn" class="btn btn-primary">Вставить картинку</span>
                </label>
            </div>

            <div class="col-xs-3">
                <button class="btn btn-danger" data-toggle="modal" data-target="#listMailingModal">
                    Создать список рассылки
                </button>
            </div>

            <div class="col-xs-3">
                <button class="btn btn-danger" data-toggle="modal" data-target="#historyModal" onclick="showHistory()" id="trueHistory">
                    История рассылки
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="editor-block">
        <div class="row">
            <div class="col-xs-9 col-sm-12 col-md-12 col-lg-12 col-xl-8">

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" id = "vkTokenSelect">
                                <option value="null"> Выбрать пользователя</option>
                                <option value="managerPage"> Страница Java Mentor</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" id="selectAppToken">
                                <option value="1">Герман</option>
                                <option value="2">Юля</option>
                            </select>
                        </div>
                    </div>
                </div>

                <p><label id="message"></label></p>
                <button id="noSendButton" data-toggle='modal' data-target='#noSendModal' class='btn btn-success'>Недоставлено</button>
                <textarea id="editor" name="editor">
                    Заполните текст сообщения
                </textarea>
            </div>
            <div class="col-xs-3 col-sm-12 col-md-12 col-lg-12 col-xl-4 green-border-focus">
                <!--Блок адресов-->
                <div class="form-group">
                    <label for="addresses-area" id="addresses-label">Укажите список email получателей (каждый с новой строки):</label>
                    <textarea class="form-control text-lowercase" id="addresses-area" rows="12"></textarea>
                    <span class="badge badge-success" id="file-info"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="historyModalHeader">
                <h4 class="modal-title" id="historyModalLabel">История рассылок</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeHistory" onclick="removeHistory()">
                    x
                </button>
            </div>
            <div class="modal-body modal-with-overflow" id="historyModalBody">

                <div class="form-group" sec:authorize="hasAnyAuthority('OWNER', 'HR')">
                    <div class="row">
                        <div class="col-sm-3" id="timeFromDiv">
                            <input type="text" class="form-control" aria-label="Date" aria-describedby="date-addon" name="messageSendingTime" id="historyFromTime"/>
                        </div>
                        <div class="col-sm-3" id="timeToDiv">
                            <input type="text" class="form-control" aria-label="Date" aria-describedby="date-addon" name="messageSendingTime" id="historyToTime"/>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" id = "managerSelect">
                                <option value="">Выбрать пользователя</option>
                                <option th:each="chooseUser : ${chooseUser}"
                                        th:value="${chooseUser.id}"
                                        th:utext="${chooseUser.firstName}"/>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default" onclick="showManagerHistory()">Выбрать</button>
                        </div>
                    </div>
                </div>

                <table class="table table-striped" id="historyMailingTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Текст</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>
                    <tbody id="historyBodyMailing">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="listMailingModal" tabindex="-1" role="dialog" aria-labelledby="listMailingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="listMailingModalHeader">
                <h4 class="modal-title" id="listMailingModalLabel">Список рассылок</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    x
                </button>
            </div>
            <div class="modal-body" id="listMailingModalBody">

                <div id="addListName" class="form-group">
                    <label for="listName">Название списка: </label>
                    <input id="listName" class="form-control" type="text" />
                    <div id="errorListName"></div>
                </div>

                <div class="form-group">
                    <div class="row" id="textaria-for-add-modal">
                        <div class="col">
                            <label for="listRecipients">Укажите список получателей (каждый с новой строки):</label>
                            <textarea class="form-control text-lowercase" id="listRecipients" rows="20"
                                      style="font-size: 8pt">
                            </textarea>
                        </div>
                        <div class="clear-list-recipients">
                            <button class="btn btn-primary btn-xs" onclick="clearListRecipients('listRecipients')">
                                Очистить
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mailing-list-type">Тип списка:</label>
                    <select id="mailing-list-type" class="form-control">
                        <option th:each="listType:${listMailingTypes}" th:value="${listType.id}" th:text="${listType.name}">Тип рассылки</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <div class="form-group" id="list-statuses">
                        <label class="checkbox-inline">
                            <input class="status-checkboxes" type="checkbox" id="status_checkbox_1" value="1"/> Статус 1
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="slackIdAllImportButton" style="display: none;">
                            Все id из Slack
                        </button>
                        <button class="btn btn-primary" id="slackIdStudentsImportButton" style="display: none;">
                            Только id студентов из Slack
                        </button>
                        <button class="btn btn-primary" id="slackImportButton">
                            Все e-mail из Slack
                        </button>
                        <br /><br />
                        <button class="btn btn-primary" id="fromStatusesImportButton">
                            Заполнить из статусов
                        </button>
                        <button class="btn btn-success" onclick="addToListMailing()">
                            Создать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editListMailingModal" tabindex="-1" role="dialog" aria-labelledby="listMailingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="editListMailingModalHeader">
                <h4 class="modal-title" id="editListMailingModalLabel">Редактирование списка рассылок</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    x
                </button>
            </div>
            <div class="modal-body" id="editListMailingModalBody">

                <div class="form-group">
                    <label for="editListName">Название списка: </label>
                    <div class="row">
                        <div class="col-sm-7">
                            <input id="editListName" class="form-control" type="text" />
                        </div>
                        <div class = "col-sm-5">
                            <button type="button" id="deleteListMaling" class="btn btn-danger" onclick="deleteListMailing()">
                                Удалить рассылку
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row" id="textaria-for-edit-modal">
                        <div class="col">
                            <label for="editListRecipients">Укажите список получателей (каждый с новой строки):</label>
                            <textarea class="form-control text-lowercase" id="editListRecipients" rows="20"></textarea>
                        </div>
                        <div class="clear-list-recipients">
                            <button class="btn btn-primary btn-xs" onclick="clearListRecipients('editListRecipients')">
                                Очистить
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit-mailing-list-type">Тип списка:</label>
                    <select id="edit-mailing-list-type" class="form-control">
                        <option th:each="listType:${listMailingTypes}" th:value="${listType.id}"
                                th:text="${listType.name}">Тип рассылки
                        </option>
                    </select>
                </div>

                <div class="modal-footer">
                    <div class="form-group" id="update-list-statuses">
                        <label class="checkbox-inline">
                            <input class="update-status-checkboxes" type="checkbox"
                                   id="update_status_checkbox_1" value="1"/> Статус 1
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="slackUpdateIdAllImportButton" style="display: none;">
                            Все id из Slack
                        </button>
                        <button class="btn btn-primary" id="slackUpdateIdStudentsImportButton" style="display: none;">
                            Только id студентов из Slack
                        </button>
                        <button class="btn btn-primary" id="slackUpdateImportButton">
                            Все e-mail из Slack
                        </button><br /><br />
                        <button class="btn btn-primary" id="updateFromStatusesImportButton">
                            Заполнить из статусов
                        </button>
                        <button id= "editButton" class="btn btn-success" onclick="editListMailing()">
                            Редактировать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="recipientModal" tabindex="-1" role="dialog" aria-labelledby="recipientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="recipientVkModalHeader">
                <h4 class="modal-title" id="recipientModalLabel">История рассылок</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="removeRecipient()">
                    x
                </button>
            </div>
            <div class="modal-body" id="recipientModalBody">
                <table class="table table-striped" id="recepientMailingTable">
                    <thead>
                        <tr>
                            <th scope="col">Получатели:</th>
                        </tr>
                    </thead>
                    <tbody id="recipientBodyMailing"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="noSendModal" tabindex="-1" role="dialog" aria-labelledby="noSendModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="noSendModalHeader">
                <h4 class="modal-title" id="noSendModalLabel">История рассылок</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNoSend()">
                    x
                </button>
            </div>
            <div class="modal-body" id="noSendModalBody">
                <textarea class="form-control text-lowercase" id="noSend-area" rows="12"></textarea>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid" id="footer"></div>
</footer>

<!--из локальной коппии, так как конфигурация редактора кастомная-->
<script th:src="@{/ckeditor/ckeditor.js}"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/JDMcKinstry/jQuery-Date/master/jQuery.date.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" th:src="@{/js/mailing.js}"></script>
</body>
</html>