<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Управление клиентами</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>

<div style="margin: 4%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div id="status-columns" class="status-columns">
        <div th:replace="fragments/htmlFragments::createDefaultStatusModal"></div>
        <div th:id="'status-column'+${status.id}" class="column" th:each="status,iter : ${statuses}" th:value="${status.id}"
             th:if="${!status.invisible}">
            <div id="column-header">
                <div class="btn-group">
                    <button type="button" name="editStatusBtn" class="glyphicon glyphicon glyphicon-cog"
                            data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu">
                        <li class="glyphicon  dropdown"><a class="link-cursor-pointer"><i
                                class="glyphicon glyphicon-circle-arrow-up"></i>Упорядочить клиентов
                            <i class="glyphicon glyphicon-chevron-right"></i></a>
                            <ul class="dropdown-menu sub-menu" th:id="'statusSortedMenu'+${iter.index}" th:value="${status.id}">
                                <p style="margin-left: 20px;">Сначала</p>
                                <li class="link-cursor-pointer" th:id="'NEW_FIRST'+${status.id}">
                                    <a class="change-client-order" th:value="NEW_FIRST">Новые</a>
                                </li>
                                <li class="link-cursor-pointer" th:id="'OLD_FIRST'+${status.id}">
                                    <a class="change-client-order" th:value="OLD_FIRST">Старые</a>
                                </li>
                                <li class="link-cursor-pointer" th:id="'NEW_CHANGES_FIRST'+${status.id}">
                                    <a class="change-client-order" th:value="NEW_CHANGES_FIRST">Со свежей историей</a>
                                </li>
                                <li class="link-cursor-pointer" th:id="'OLD_CHANGES_FIRST'+${status.id}">
                                    <a class="change-client-order" th:value="OLD_CHANGES_FIRST">Со старой историей</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div style="height: 25px">
                    <span th:text="${status.name}" th:if="${status.name.length() &lt; 15}"
                          style="font-size:20px"></span>
                    <span th:text="${status.name}"
                          th:if="${status.name.length() &gt; 15 and status.name.length() &lt; 25}"
                          style="font-size:15px"></span>
                    <span th:text="${status.name}" th:if="${status.name.length() &gt; 25}"
                          style="font-size:13px"></span>
                </div>
            </div>
            <div th:replace="fragments/htmlFragments::changeStatusNameModal"></div>
            <div th:replace="fragments/htmlFragments::deleteStatusModal"></div>
            <div th:id="'statusClientSortedBlockInitial'+${status.id}">
                <div th:replace="fragments/status-client-mentor-sorted::statusClientSorted"></div>
            </div>
            <div th:id="'statusClientSortedBlock'+${status.id}"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/htmlFragments::client_description_modal"></div>
<div th:replace="fragments/mainModal::mainModalWindow"></div>
<div th:replace="fragments/htmlFragments::emailMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::customMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sendTemplateModal"></div>
<div th:replace="fragments/htmlFragments::deleteUser"></div>
<div th:replace="fragments/htmlFragments::sms_error_modal"></div>
<div th:replace="fragments/htmlFragments::vkontakteIMModal"></div>
<div th:replace="fragments/htmlFragments::reAvailableUser"></div>
<div th:replace="fragments/conversations::conversationsModal"></div>
<div th:replace="fragments/contract-client-setting-modal::contractClientSettingModal"></div>
<div th:replace="fragments/contract-client-link-modal::contractClientLinkModal"></div>
<div th:replace="fragments/htmlFragments::slackLinkModal"></div>
<div th:replace="fragments/other-information-link::otherInformationLink"></div>
<div th:replace="fragments/other-information-value::otherInformationValue"></div>
<script type="text/javascript" src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>
<script type="text/javascript" th:src="@{/js/doashboard.js}"></script>
<script type="text/javascript" th:src="@{/js/doashboard-menu.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal-contract.js}"></script>
<script type="text/javascript" th:src="@{/js/ip-telephony.js}"></script>
<script type="text/javascript" th:src="@{/js/comments.js}"></script>
<script type="text/javascript" th:src="@{/js/status.js}"></script>
<script type="text/javascript" th:src="@{/js/clientHistory.js}"></script>
<script type="text/javascript" th:src="@{/js/conversations.js}"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="/js/moment-timezone.js"></script>
<script type="text/javascript" th:src="@{/js/moment-timezone.js}"></script>
<script type="text/javascript" th:src="@{/js/settings-remainder.js}"></script>
<script type="text/javascript" th:src="@{/js/vk-campaigns-status.js}"></script>
<script type="text/javascript" th:src="@{/js/vkIm.js}"></script>
<script type="text/javascript" th:src="@{/js/sorted-statuses.js}"></script>
<script type="text/javascript" th:src="@{/js/other-info-link.js}"></script>
</body>
</html>