<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Управление клиентами</title>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div  style="margin: 4%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div id = "status-columns" class="status-columns">
        <div th:replace="fragments/htmlFragments::createDefaultStatusModal"></div>
        <div th:id="'status-column'+${status.id}" class="column" th:each="status : ${statuses}" th:value="${status.id}" th:if="${!status.invisible}">
            <div id="column-header">
                <div style="height: 25px">
                    <span th:text="${status.name}" th:if="${status.name.length() &lt; 15}"
                          style="font-size:20px"></span>
                    <span th:text="${status.name}"
                          th:if="${status.name.length() &gt; 15 and status.name.length() &lt; 25}"
                          style="font-size:15px"></span>
                    <span th:text="${status.name}" th:if="${status.name.length() &gt; 25}"
                          style="font-size:13px"></span>
                </div>
            </div>
            <div th:replace="fragments/htmlFragments::changeStatusNameModal"></div>
            <div th:replace="fragments/htmlFragments::deleteStatusModal"></div>
            <div th:replace="fragments/htmlFragments::deleteNotifications"></div>
            <div class="portlet common-modal" th:each="client : ${status.clients}" th:if="${client.active}" th:value="${client.id}"  th:onmouseover="'displayOption('+${client.id}+')'" th:onmouseout="'hideOption('+${client.id}+')'" th:attrprepend="data-card-id=${client.id}">
                <div class="portlet-title">
                    <div class="dropdown" style="margin-left:90%;">
                        <button type="button" th:id="'option_' +${client.id}" class="glyphicon glyphicon-pencil option" data-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Скрыть в статус</li>
                            <li  th:each="inv_status:${statuses}" th:if="${inv_status.invisible} and ${inv_status.name != 'deleted'}">
                                <a  class="invisible-client" th:text="${inv_status.name}" th:attrappend="data-clientid=${client.id}, data-statusid=${inv_status.id}"></a>
                            </li>
                            <li class="divider"></li>

                            <li class="open-description-btn"  th:attr="data-id=${client.id}">
                                <a>Добавить комментарий</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body" th:name = "'client-'+${client.id} + '-modal'" th:attr="client-id=${client.id}" th:onclick="'markAsReadMenu('+ ${client.id} +')'">
                    <div class="portlet-header"   th:text="${client.name} + ' ' + ${client.lastName}" >
                    </div>
                    <div class="portlet-content">
                        <div class="clickModal text-board" th:id="'info-client' + ${client.id}">
                            <div class="client-description" th:text="${client.clientDescriptionComment}"></div>
                            <p th:if="${client.ownerUser != null}" class="user-icon"
                               th:text="${#strings.substring(client.ownerUser.firstName, 0,1)
                                  + #strings.substring(client.ownerUser.lastName, 0,1)}"
                               th:value="${client.ownerUser.firstName} + ' ' + ${client.ownerUser.lastName}"
                               th:id="'own-' + ${client.id}">
                            </p>
                            <p th:if="${client.ownerUser != null}" style="display:none" th:text="${client.ownerUser.fullName}"></p>

                            <th:block th:each="notification_comment:${notifications_type_comment}">
                                <th:block th:if="${notification_comment.client == client}">
                                   <span id="notification"
                                         class="notification glyphicon glyphicon-bell pull-right"
                                         style="color: red"></span>
                                </th:block>
                            </th:block>

                            <th:block th:each="notification_new_user:${notifications_type_new_user}">
                                <th:block th:if="${notification_new_user.client == client}">
                                   <span id="notification-new"
                                         class="notification glyphicon glyphicon-bell pull-right"
                                         style="color: red"></span>
                                </th:block>
                            </th:block>

                            <th:block th:each="notification_postpone:${notifications_type_postpone}">
                                <th:block th:if="${notification_postpone.client == client}">
                                   <span th:id="'notification-postpone'+${client.id}"
                                         class="glyphicon glyphicon-time"
                                         style="color: red"></span>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                    <div class="btn-group" th:id="'notiff' +${client.id}" th:onclick="'javascript:openCardMenu(' + ${client.id} + ');'">
                        <!-- EMAIL SEND/EDIT TEMPLATE BTN -->
                        <button name= "emailTmplList" type="button" class="f-18 icon-email-card" data-toggle="dropdown">
                        </button>
                        <ul class="dropdown-menu" th:if="${emailTmpl.size()!=0}">
                            <li th:id  = "'eTemplate' + ${template.id}" th:each="template : ${emailTmpl}">
                                <a class="glyphicon glyphicon-ok portlet-send-btn" th:if="${!template.hasBody()}" th:id  = "'eTemplateBtn' + ${template.id}" data-toggle="modal" th:attrappend="data-target='#sendTemplateModal'" th:text="' ' + ${template.name}" th:attrprepend="data-template-id=${template.id}"></a>
                                <a class="glyphicon glyphicon-plus portlet-custom-btn" th:if="${template.hasBody()}" th:id  = "'eTemplateBtn' + ${template.id}" data-toggle="modal" th:attrappend="data-target='#customMessageTemplate'" th:text="' ' + ${template.name}" th:attrprepend="data-template-id=${template.id}"></a>
                            </li>
                        </ul>
                        <!--/ EMAIL SEND/EDIT TEMPLATE BTN -->

                        <!-- SMS ERROR INFO BTN -->
                        <th:block th:each="notification_sms:${notifications_type_sms}">
                            <th:block th:if="${notification_sms.client == client}">
                                <button type="button" style="color:red" class="glyphicon glyphicon-exclamation-sign sms-error-btn" th:attrappend="data-id=${client.id}"></button>
                            </th:block>
                        </th:block>
                        <!--/ SMS ERROR INFO BTN -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/htmlFragments::client_description_modal"></div>
<div th:replace="fragments/mainModal::mainModalWindow"></div>
<div th:replace="fragments/htmlFragments::emailMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::customMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sendTemplateModal"></div>
<div th:replace="fragments/htmlFragments::deleteUser"></div>
<div th:replace="fragments/htmlFragments::sms_error_modal"></div>
<script type="text/javascript" th:src="@{/js/main-table.js}"></script>
<script type="text/javascript" th:src="@{/js/comments.js}"></script>
<script type="text/javascript" th:src="@{/js/notifications.js}"></script>
<script type="text/javascript" th:src="@{/js/status.js}"></script>
<script type="text/javascript" th:src="@{/js/clientHistory.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>

</body>
</html>