<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <title>Клиенты для HR</title>
        <meta charset="UTF-8"/>
        <div th:replace="fragments/htmlFragments::header"></div>
        <link href="/css/bootstrap-social.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/settings-remainder.css"/>
        <link rel="stylesheet" type="text/css"/>
        <div th:replace="fragments/htmlFragments::custom-style"></div>
    </head>
</head>
<body>
    <div name="statuses">
    </div>

<div th:replace="fragments/modal-client-for-hr::clientsModal"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script th:src="@{/js/hr/main-client-table-hr.js}"></script>
<script th:src="@{/js/hr/modal-client-for-hr.js}"></script>
<script th:src="@{/js/ip-telephony.js}"></script>

</body>
</html>