<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" th:src="@{/js/main-table.js}"></script>
    <script type="text/javascript" th:src="@{/js/comments.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div id = "status-columns" class="status-columns">
        <div id="status-column" class="column" th:each="status : ${statuses}" th:value="${status.id}">
            <div class="btn-group">
                <button type="button" class="glyphicon glyphicon glyphicon-list " data-toggle="dropdown">
                </button>
                <ul class="dropdown-menu">
                    <li><a id="delete-status-icon" class="glyphicon glyphicon-remove-circle" data-toggle="modal" th:attrappend="data-target='#deleteStatusModal' + ${status.id}">Удалить статус</a></li>
                    <li><a id="update-status-icon" class="glyphicon glyphicon glyphicon-edit" data-toggle="modal" th:attrappend="data-target='#renameStatusModal' + ${status.id}">Изменить название статуса</a></li>
                </ul>
            </div>
            <h1 th:text="${status.name}"></h1>
            <div class="modal fade" th:id="'renameStatusModal' + ${status.id}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="renameStatusModalTitle" th:text="${status.name}"></h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="new-user-phone-number">Новое название статуса</label>
                                <input type="text" class="form-control" th:id="'change-status-name' + ${status.id}" placeholder="Название статуса"/>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="button" class="btn btn-primary" th:onclick="'changeStatusName(\''+ ${status.id} +'\')'">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" th:id="'deleteStatusModal' + ${status.id}" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Подтвердите свое действие</h5>
                        </div>
                        <div class="modal-body">
                            <h6>Вы уверены, что хотите удалить статус и содержащих его клиентов?</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" th:onclick="'deleteStatus(\''+ ${status.id} +'\')'">Да</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet" th:each="client : ${status.clients}" th:value="${client.id}">
                <div class="portlet-body">
                    <div class="portlet-header" th:text="${client.name} + ' ' + ${client.lastName}"></div>
                    <div class="portlet-content">
                        <div class="clickModal" th:id="'info-client' + ${client.id}" data-toggle="modal" th:attrappend="data-target=@{#client-__${client.id}__-modal}">


                            <span th:text="${client.phoneNumber}"></span>
                            <br/>
                            <span th:text="${client.email}"></span>
                            <br/>
                            <span th:text="${client.age}"></span>
                            <br/>
                            <span th:text="${client.sex}"></span>
                            <br/>
                            <p th:if="${client.ownerUser != null}" class="user-icon"
                               th:text="${#strings.substring(client.ownerUser.firstName, 0,1)
                                  + #strings.substring(client.ownerUser.lastName, 0,1)}" th:value="${client.ownerUser.firstName} + ' ' + ${client.ownerUser.lastName}">
                            </p>
                        </div>
                    </div>
                </div>
                <div th:id="@{client-__${client.id}__-modal}" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" th:text="${client.name} + ' ' + ${client.lastName}"></h4>
                            </div>
                            <div class="modal-body">
                                <span th:text="${client.phoneNumber}"></span>
                                <br/>
                                <span th:text="${client.email}"></span>
                                <br/>
                                <span th:text="${client.age}"></span>
                                <br/>
                                <span th:text="${client.sex}"></span>
                                <br/>
                                <button th:if="${client.ownerUser == null}"
                                        th:id="'assign-client' + ${client.id}"
                                        th:onclick="'assign('+ ${client.id} +')'"
                                        class="btn btn-md btn-info" >
                                    взять себе
                                </button>
                            </div>
                            <div class="modal-footer modal-comments">
                                <div class="comments">
                                    <span>Комментарии:</span>
                                    <div class="form-group">
                                        <textarea class="form-control" th:id="'new-text-for-client' + ${client.id}" placeholder="Напишите комментарий"></textarea>
                                        <button class="btn btn-md btn-success" th:onclick="'sendComment(' + ${client.id} + ', \'test_message\')'">сохранить</button>
                                    </div>
                                    <ul class="comment-list" th:id="'client-'+${client.id}+'comments'">
                                        <li th:each="comment : ${client.comments}">
                                            <span th:text="@{__${comment.user.lastName}__ __${comment.user.firstName}__}"></span>
                                            <p th:text="${comment.getContent()}"></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-header">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" th:href="'#collapse'+${client.id}">Действия</a>
                                            </h4>
                                        </div>
                                        <div th:id="'collapse'+${client.id}" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <ul class="history-list" th:id="'client-'+${client.id}+'history'">
                                                    <li th:each="history : ${client.history}">
                                                        <span th:text="${history.title}"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="create-new-status-column">
        <span id="create-new-status-span">Создать новый статус</span>
        <form role="form" id="new-status-form">
            <div class="form-group">
                <input type="text" class="form-control" id="new-status-name"
                       placeholder="Введите новое название статуса"/>
            </div>
            <button type="button" id="create-new-status" class="btn btn-warning btn-sm" onclick="createNewStatus()">создать</button>
        </form>
    </div>
    <div  class="form-group" id="client_filter_group" th:if="${isAdmin}">
        <label id="client_filter_label" for="client_filter">Фильтр клиентов</label>
        <select id = "client_filter" class="selectpicker"  multiple="multiple">
        <option value=""></option>
       </select>
    </div>
</div>

<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" id="new-user-form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Создание нового пользователя</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="new-user-first-name">Имя</label>
                        <input class="form-control" id="new-user-first-name" placeholder="Имя" name="name"/>
                    </div>
                    <div class="form-group">
                        <label for="new-user-last-name">Фамилия</label>
                        <input class="form-control" id="new-user-last-name" placeholder="Фамилия" name="lastName"/>
                    </div>
                    <div class="form-group">
                        <label for="new-user-phone-number">Номер телефона</label>
                        <input type="number" class="form-control" id="new-user-phone-number" placeholder="Номер телефона" name="phoneNumber"/>
                    </div>
                    <div class="form-group">
                        <label for="new-user-email">Email</label>
                        <input type="email" class="form-control" id="new-user-email" placeholder="Email" name="email"/>
                    </div>
                    <div class="form-group">
                        <label for="new-user-age">Возраст</label>
                        <input type="email" class="form-control" id="new-user-age" placeholder="Возраст" name="age"/>
                    </div>
                    <div class="form-group">
                        <label for="sex">Выберите пол</label>
                        <select class="form-control" id="sex" name="sex">
                            <option>MALE</option>
                            <option>FEMALE</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="createNewUser()">Сохранить изменения</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>