<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Управление клиентами</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>

<div style="margin: 4%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div id="status-columns" class="status-columns">
        <div th:replace="fragments/htmlFragments::createDefaultStatusModal"></div>
        <div th:id="'status-column'+${status.id}" class="column" th:each="status : ${statuses}" th:value="${status.id}"
             th:if="${!status.invisible}">
            <div id="column-header">
                <div class="btn-group">
                    <button type="button" name="editStatusBtn" class="glyphicon glyphicon glyphicon-cog"
                            data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu">
                        <li class="glyphicon  dropdown"><a class="link-cursor-pointer"><i
                                class="glyphicon glyphicon-circle-arrow-up"></i>Упорядочить клиентов
                            <i class="glyphicon glyphicon-chevron-right"></i></a>
                            <ul class="dropdown-menu sub-menu">
                                <p style="margin-left: 20px;">Сначала</p>
                                <li class="link-cursor-pointer">
                                    <a class="change-client-order" id="NEW_FIRST">Новые</a>
                                </li>
                                <li class="link-cursor-pointer">
                                    <a class="change-client-order" id="OLD_FIRST">Старые</a>
                                </li>
                                <li class="link-cursor-pointer">
                                    <a class="change-client-order" id="NEW_CHANGES_FIRST">Со свежей историей</a>
                                </li>
                                <li class="link-cursor-pointer">
                                    <a class="change-client-order" id="OLD_CHANGES_FIRST">Со старой историей</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div style="height: 25px">
                    <span th:text="${status.name}" th:if="${status.name.length() &lt; 15}"
                          style="font-size:20px"></span>
                    <span th:text="${status.name}"
                          th:if="${status.name.length() &gt; 15 and status.name.length() &lt; 25}"
                          style="font-size:15px"></span>
                    <span th:text="${status.name}" th:if="${status.name.length() &gt; 25}"
                          style="font-size:13px"></span>
                </div>
            </div>
            <div th:replace="fragments/htmlFragments::changeStatusNameModal"></div>
            <div th:replace="fragments/htmlFragments::deleteStatusModal"></div>
            <div class="portlet common-modal" th:each="client : ${status.clients}"
                 th:if="${!client.hideCard}"
                 th:value="${client.id}" th:onmouseover="'displayOption('+${client.id}+')'"
                 th:attrprepend="data-card-id=${client.id}">

                <div class="portlet-title portlet-title-groups">
                    <div class="portlet-title__group-left">
                        <div class="clickModal text-board" th:id="'info-client' + ${client.id}"
                             style="margin-left: 2px;display: inline-block;height: 12px;">
                            <p th:if="${client.ownerUser != null}" style="display:none"
                               th:text="${client.ownerUser.fullName}"></p>
                            <span th:if="${client.ownerUser != null}" class="user-icon_card"
                                  style="background: transparent;height: 15px; font-size: 12px;font-weight: bold;"
                                  th:text="${#strings.substring(client.ownerUser.firstName, 0,1)
                                  + #strings.substring(client.ownerUser.lastName, 0,1)
                                  }"
                                  th:value="${client.ownerUser.firstName} + ' ' + ${client.ownerUser.lastName}"
                                  th:id="'own-' + ${client.id}">
                                </span>
                            <span th:if="${client.ownerMentor != null}" class="mentor-icon_card"
                                  style="background: transparent;height: 15px; font-size: 12px;font-weight: bold;"
                                  th:text="' Ментор: ' + ${#strings.substring(client.ownerMentor.firstName, 0,1)
                                  + #strings.substring(client.ownerMentor.lastName, 0,1)
                                  }"
                                  th:value="${client.ownerMentor.firstName} + ' ' + ${client.ownerMentor.lastName}"
                                  th:id="'mn-' + ${client.id}">
                                </span>

                        </div>
                    </div>

                    <div class="portlet-title__group-right">

                        <span class="btn-group" th:id="'notiff' +${client.id}">
                            <!-- EMAIL SEND/EDIT TEMPLATE BTN -->
                            <button name="emailTmplList" th:id="'emailTmplList' +${client.id}" type="button"
                                    style="margin-right: -8px"
                                    class="f-18 icon-email-card " data-toggle="dropdown">
                            </button>


                            <ul class="dropdown-menu" th:if="${emailTmpl.size()!=0}">
                                <li th:id="'eTemplate' + ${template.id}" th:each="template : ${emailTmpl}">
                                    <a class="glyphicon glyphicon-ok portlet-send-btn"
                                       th:if="${!template.hasBody()}"
                                       th:id="'eTemplateBtn' + ${template.id}"
                                       data-toggle="modal"
                                       th:attrappend="data-target='#sendTemplateModal'"
                                       th:text="' ' + ${template.name}"
                                       th:attrprepend="data-template-id=${template.id}"></a>
                                    <a class="glyphicon glyphicon-plus portlet-custom-btn"
                                       th:if="${template.hasBody()}"
                                       th:id="'eTemplateBtn' + ${template.id}"
                                       data-toggle="modal" th:attrappend="

                               data-target='#customMessageTemplate'"
                                       th:text="' ' + ${template.name}"
                                       th:attrprepend="data-template-id=${template.id}"></a>
                                </li>
                            </ul>
                        </span>


                        <span class="dropdown">
                            <button type="button" th:id="'option_' +${client.id}"
                                    class="glyphicon glyphicon-pencil option"
                                    data-toggle="dropdown"
                                    style="display:inline-block"></button>

                            <ul class="dropdown-menu">
                                <li class="open-description-btn" th:attr="data-id=${client.id}">
                                    <a>Добавить заметку</a>
                                </li>
                            </ul>
                        </span>
                    </div>

                </div>
                <!--<div class="client-description" th:text="${client.clientDescriptionComment}"></div>-->

                <div class="portlet-header" th:name="'client-'+${client.id} + '-modal'"
                     th:text="${client.name} + ' ' + ${client.lastName}"
                     th:attr="client-id=${client.id} "
                     th:onclick="'changeUrl(\'/client\', '+ ${client.id} +')'">

                </div>

                <div class="portlet-body" th:name="'client-'+${client.id} + '-modal'"
                     th:attr="client-id=${client.id} "
                     th:onclick="'changeUrl(\'/client\', '+ ${client.id} +')'">

                    <div class="search_text" th:text="${client.name} + ' ' + ${client.lastName} + ' ' + ${client.email} + ' ' +
                    ${client.phoneNumber} + ' ' + ${client.skype} + ' ' + ${client.socialProfiles} + ' ' + ${client.city} + ' ' +
                    ${client.country}" hidden="hidden">
                    </div>

                </div>
                <!--<div class="portlet-content"></div>-->
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/htmlFragments::client_description_modal"></div>
<div th:replace="fragments/mainModal::mainModalWindow"></div>
<div th:replace="fragments/htmlFragments::emailMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::customMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sendTemplateModal"></div>
<div th:replace="fragments/htmlFragments::deleteUser"></div>
<div th:replace="fragments/htmlFragments::sms_error_modal"></div>
<div th:replace="fragments/htmlFragments::vkontakteIMModal"></div>
<div th:replace="fragments/htmlFragments::reAvailableUser"></div>
<div th:replace="fragments/conversations::conversationsModal"></div>
<div th:replace="fragments/contract-client-setting-modal::contractClientSettingModal"></div>
<div th:replace="fragments/contract-client-link-modal::contractClientLinkModal"></div>
<div th:replace="fragments/htmlFragments::slackLinkModal"></div>
<div th:replace="fragments/other-information-link::otherInformationLink"></div>
<div th:replace="fragments/other-information-value::otherInformationValue"></div>
<script type="text/javascript" src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>
<script type="text/javascript" th:src="@{/js/doashboard.js}"></script>
<script type="text/javascript" th:src="@{/js/doashboard-menu.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal-contract.js}"></script>
<script type="text/javascript" th:src="@{/js/ip-telephony.js}"></script>
<script type="text/javascript" th:src="@{/js/comments.js}"></script>
<script type="text/javascript" th:src="@{/js/status.js}"></script>
<script type="text/javascript" th:src="@{/js/clientHistory.js}"></script>
<script type="text/javascript" th:src="@{/js/conversations.js}"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="/js/moment-timezone.js"></script>
<script type="text/javascript" th:src="@{/js/moment-timezone.js}"></script>
<script type="text/javascript" th:src="@{/js/settings-remainder.js}"></script>
<script type="text/javascript" th:src="@{/js/vk-campaigns-status.js}"></script>
<script type="text/javascript" th:src="@{/js/vkIm.js}"></script>
<script type="text/javascript" th:src="@{/js/sorted-statuses.js}"></script>
<script type="text/javascript" th:src="@{/js/other-info-link.js}"></script>
</body>
</html>