<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <title>Клиенты для HR</title>
        <meta charset="UTF-8"/>
        <div th:replace="fragments/htmlFragments::header"></div>
        <link href="/css/bootstrap-social.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/settings-remainder.css"/>
        <link rel="stylesheet" type="text/css"/>
        <div th:replace="fragments/htmlFragments::custom-style"></div>
    </head>
</head>
<body>
    <div name="statuses">
    </div>

    <script type="text/javascript" src="/js/main-hr-table.js"></script>
</body>
</html>