<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Управление клиентами</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/settings-remainder.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>

<body>
<div style="margin: 4%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div id="status-columns" class="status-columns">
        <div th:replace="fragments/htmlFragments::createDefaultStatusModal"></div>
        <div th:id="'status-column'+${status.id}" class="column" th:each="status : ${statuses}" th:value="${status.id}"
             th:if="${!status.invisible}">
            <div id="column-header">
                <div class="btn-group">
                    <button type="button" th:onclick="'currentStatus('+ ${status.id} +')'" name="editStatusBtn"
                            class="glyphicon glyphicon glyphicon-cog"
                            data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="add-client-in-status" class="glyphicon glyphicon-plus"
                               th:href="'/admin/client/add/' + ${status.name}"
                               sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">Добавить клиента</a></li>
                        <li class="glyphicon  dropdown"><a class="link-cursor-pointer"><i
                                class="glyphicon glyphicon-circle-arrow-up"></i>Упорядочить клиентов
                            <i class="glyphicon glyphicon-chevron-right"></i></a>
                            <ul class="dropdown-menu sub-menu">
                                <p style="margin-left: 20px;">Сначала</p>
                                <li class="link-cursor-pointer">
                                    <a class="change-client-order" id="NEW_FIRST">Новые</a>
                                </li>
                                <li class="link-cursor-pointer">
                                    <a class="change-client-order" id="OLD_FIRST">Старые</a>
                                </li>
                                <li class="link-cursor-pointer">
                                    <a class="change-client-order" id="NEW_CHANGES_FIRST">Со свежей историей</a>
                                </li>
                                <li class="link-cursor-pointer">
                                    <a class="change-client-order" id="OLD_CHANGES_FIRST">Со старой историей</a>
                                </li>
                            </ul>
                        </li>
                        <div sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                            <li th:if="${status.id!=1}"><a id="delete-status-icon"
                                                           class="glyphicon glyphicon-remove-circle"
                                                           data-toggle="modal" th:value="${status.id}">Удалить
                                статус</a>
                            </li>
                            <li><a id="update-status-icon" class="glyphicon glyphicon glyphicon-edit"
                                   data-toggle="modal"
                                   th:attrappend="data-target='#renameStatusModal' + ${status.id}">Изменить статус</a>
                            </li>
                            <li><a id="hide-status-icon" class="glyphicon glyphicon-eye-close hide-status-btn"
                                   th:value="${status.id}">Скрыть</a></li>
                            <li><a class="glyphicon glyphicon-user">Сделать студентом <input
                                    class="create_student_checkbox"
                                    type="checkbox"
                                    th:value="${status.id}"
                                    th:checked="${status.createStudent}"/></a>
                            </li>
                            <li class="glyphicon dropdown"><a class="link-cursor-pointer" data-toggle="modal"
                                                              data-target="#all-statuses-to-change-position"
                                                              onclick="showAllStatuses()">Поменять позицию</a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div style="height: 25px">
                    <span th:text="${status.name}" th:if="${status.name.length() &lt; 15}"
                          style="font-size:20px"></span>
                    <span th:text="${status.name}"
                          th:if="${status.name.length() &gt; 15 and status.name.length() &lt; 25}"
                          style="font-size:15px"></span>
                    <span th:text="${status.name}" th:if="${status.name.length() &gt; 25}"
                          style="font-size:13px"></span>
                </div>
            </div>
            <div th:replace="fragments/htmlFragments::changeStatusNameModal"></div>
            <div th:replace="fragments/htmlFragments::deleteStatusModal"></div>
            <div th:replace="fragments/htmlFragments::deleteNotifications"
                 sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')"></div>
            <div class="portlet common-modal" th:each="client : ${status.clients}"
                 th:if="${!client.hideCard}"
                 th:value="${client.id}" th:onmouseover="'displayOption('+${client.id}+')'"

                 th:attrprepend="data-card-id=${client.id}">

                <div class="portlet-title portlet-title-groups">

                    <div class="portlet-title__group-left">


                        <div class="clickModal text-board" th:id="'info-client' + ${client.id}"
                             style="margin-left: 2px;display: inline-block;height: 12px;">


                            <p th:if="${client.ownerUser != null}" style="display:none"
                               th:text="${client.ownerUser.fullName}"></p>
                            <span th:id="'chat-notification'+${client.id}"
                                  class="chat-notification glyphicon glyphicon-send pull-right"
                                  style="color: darkblue;display: none;"></span>

                            <th:block th:each="notification_comment:${notifications_type_comment}">
                                <th:block th:if="${notification_comment.client == client}">
                                   <span id="notification"

                                         class="notification glyphicon glyphicon-bell"
                                         style="color: red"></span>
                                </th:block>

                            </th:block>

                            <th:block th:each="notification_new_user:${notifications_type_new_user}">
                                <th:block th:if="${notification_new_user.client == client}">
                                   <span id="2у notification-new"

                                         class="notification glyphicon glyphicon-bell"
                                         style="color: red"></span>
                                </th:block>

                            </th:block>

                            <th:block th:each="notification_postpone:${notifications_type_postpone}">
                                <th:block th:if="${notification_postpone.client == client}">
                                   <span th:id="'notification-postpone'+${client.id}"
                                         class="glyphicon glyphicon-time"
                                         style="color: red" th:onclick="'markAsReadMenu('+ ${client.id} +',0)'"></span>
                                </th:block>

                            </th:block>
                            <div sec:authorize="hasAnyAuthority('MENTOR')">
                                <span class="ownerMentorId" th:if="${client.ownerMentor != null}" style="display:none"
                                      th:text="${client.ownerMentor.id}"></span>
                            </div>
                            <span th:if="${client.ownerUser != null}" class="user-icon_card"
                                  style="background: transparent;height: 15px; font-size: 12px;font-weight: bold;"
                                  th:text="${#strings.substring(client.ownerUser.firstName, 0,1)
                                  + #strings.substring(client.ownerUser.lastName, 0,1)
                                  }"
                                  th:value="${client.ownerUser.firstName} + ' ' + ${client.ownerUser.lastName}"
                                  th:id="'own-' + ${client.id}">
                                </span>
                            <span th:if="${client.ownerMentor != null}" class="mentor-icon_card"
                                  style="background: transparent;height: 15px; font-size: 12px;font-weight: bold;"
                                  th:text="' Ментор: ' + ${#strings.substring(client.ownerMentor.firstName, 0,1)
                                  + #strings.substring(client.ownerMentor.lastName, 0,1)
                                  }"
                                  th:value="${client.ownerMentor.firstName} + ' ' + ${client.ownerMentor.lastName}"
                                  th:id="'mn-' + ${client.id}">
                                </span>

                        </div>
                    </div>

                    <div class="portlet-title__group-right">

                        <span class="btn-group" th:id="'notiff' +${client.id}">
                            <!-- EMAIL SEND/EDIT TEMPLATE BTN -->
                            <button name="emailTmplList" th:id="'emailTmplList' +${client.id}" type="button"
                                    style="margin-right: -8px"
                                    class="f-18 icon-email-card " data-toggle="dropdown">
                            </button>


                            <ul class="dropdown-menu" th:if="${emailTmpl.size()!=0}">
                                <li th:id="'eTemplate' + ${template.id}" th:each="template : ${emailTmpl}">
                                    <a class="glyphicon glyphicon-ok portlet-send-btn"
                                       th:if="${!template.hasBody()}"
                                       th:id="'eTemplateBtn' + ${template.id}"
                                       data-toggle="modal"
                                       th:attrappend="data-target='#sendTemplateModal'"
                                       th:text="' ' + ${template.name}"
                                       th:attrprepend="data-template-id=${template.id}"></a>
                                    <a class="glyphicon glyphicon-plus portlet-custom-btn"
                                       th:if="${template.hasBody()}"
                                       th:id="'eTemplateBtn' + ${template.id}"
                                       data-toggle="modal" th:attrappend="

                               data-target='#customMessageTemplate'"
                                       th:text="' ' + ${template.name}"
                                       th:attrprepend="data-template-id=${template.id}"></a>
                                </li>
                            </ul>
                            <!--/ EMAIL SEND/EDIT TEMPLATE BTN -->

                            <!-- SMS ERROR INFO BTN -->
                            <th:block th:each="notification_sms:${notifications_type_sms}">
                                <th:block th:if="${notification_sms.client == client}">
                                    <button type="button"
                                            style="color:red"
                                            class="glyphicon glyphicon-exclamation-sign sms-error-btn"
                                            th:attrappend="data-id=${client.id}"></button>
                                </th:block>
                            </th:block>
                            <!--/ SMS ERROR INFO BTN -->

                        </span>


                        <span class="dropdown">
                            <button type="button" th:id="'option_' +${client.id}"
                                    class="glyphicon glyphicon-pencil option"
                                    data-toggle="dropdown"
                                    style="display:inline-block"></button>

                            <ul class="dropdown-menu">
                              <div sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                                <th:block>
                                    <li class="dropdown-header">Назначить работника</li>
                                    <li th:each="worker : ${users_without_mentors}">
                                        <a th:text="${worker.fullName}"
                                            th:onclick="'assignUser('+${client.id}+','+${worker.id}+','+${user.id}+')'"></a>
                                    </li>
                                    <li class="divider"></li>
                                </th:block>
                                <th:block>
                                    <li class="dropdown-header">Назначить ментора</li>
                                    <li th:each="worker : ${mentors}">
                                        <a th:text="${worker.fullName}"
                                           th:onclick="'assignMentor('+${client.id}+','+${worker.id}+','+${user.id}+')'"></a>
                                    </li>
                                    <li class="divider"></li>
                                </th:block>
                                <li class="dropdown-header">Скрыть в статус</li>
                                <li th:each="inv_status:${statuses}"
                                    th:if="${inv_status.invisible} and ${inv_status.name != 'deleted'}">
                                    <a class="invisible-client" th:text="${inv_status.name}"
                                       th:attrappend="data-clientid=${client.id}, data-statusid=${inv_status.id}"></a>
                                </li>
                                <li class="divider"></li>
                              </div>

                                <li class="open-description-btn" th:attr="data-id=${client.id}">
                                    <a>Добавить заметку</a>
                                </li>
                              <div sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                                <th:block>
                                    <li>
                                        <a th:onclick="'unassign('+ ${client.id} +')'">Убрать работника с
                                            карточки</a>
                                    </li>
                                </th:block>
                                <th:block>
                                    <li>
                                        <a th:onclick="'unassignMentor('+ ${client.id} +')'">Убрать ментора с
                                            карточки</a>
                                    </li>
                                </th:block>
                                <th:block>
                                    <li class="delete-client" th:attrappend="data-clientid=${client.id} ">
                                        <a>Удалить клиента</a>
                                    </li>
                                </th:block>
                              </div>
                            </ul>
                        </span>
                    </div>

                </div>
                <!--<div class="client-description" th:text="${client.clientDescriptionComment}"></div>-->

                <div class="portlet-header" th:name="'client-'+${client.id} + '-modal'"
                     th:text="${client.name} + ' ' + ${client.lastName}"
                     th:attr="client-id=${client.id} "
                     th:onclick="'changeUrl(\'/client\', '+ ${client.id} +')'">

                </div>

                <div class="portlet-body" th:name="'client-'+${client.id} + '-modal'"
                     th:attr="client-id=${client.id} "
                     th:onclick="'changeUrl(\'/client\', '+ ${client.id} +')'">

                    <div class="search_text" th:text="${client.name} + ' ' + ${client.lastName} + ' ' + ${client.email} + ' ' +
                    ${client.phoneNumber} + ' ' + ${client.skype} + ' ' + ${client.socialProfiles} + ' ' + ${client.city} + ' ' +
                    ${client.country}" hidden="hidden">
                    </div>

                </div>
                <!--<div class="portlet-content"></div>-->
            </div>
        </div>
        <div class="create-new-status-column" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
            <button type="button" id="create-new-status-btn">Новый статус...</button>
            <form role="form" id="new-status-form">
                <div class="form-group" id="new-status-formgr">
                    <div id="sendSocialTemplateStatus"></div>
                    <input type="text" class="form-control" required="required" id="new-status-name"
                           placeholder="Новый статус..."/>
                </div>
                <div class="form-actions">
                    <button type="button" id="create-new-status" class="btn btn-success btn-sm"
                            onclick="createNewStatus()">
                        Сохранить
                    </button>
                    <button type="button" id="create-new-status-cancelbtn"
                            class="glyphicon glyphicon-remove"></button>
                </div>
            </form>
        </div>
    </div>

    <div id="panel" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR','MENTOR')">
        <div id="panel-content">
            <div class="panel-group">
                <div class="panel-title">
                    <a id="close-panel-icon" class="glyphicon glyphicon-remove"></a>
                    <h2>Меню</h2>
                </div>
                <div id="showOnlyMyClientsDiv" sec:authorize="hasAnyAuthority('MENTOR')">
                </div>
                <div id="statuses_group" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                    <div class="panel-heading" id="statuses-heading">
                        <a id="status-label" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapseStatuses">Скрытые статусы</a>
                    </div>
                    <div id="collapseStatuses" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tr th:each="status:${statuses}"
                                    th:style="${!status.invisible ? 'display:none' : ''}"
                                    th:if="${status.name != 'deleted'}">
                                    <td width="70%" th:text="${status.name}"></td>
                                    <td>
                                        <button type="button" class="show-status-btn btn" id="testIdIdId"
                                                th:value="${status.id}">показать
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="client_filter_group" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                    <div class="panel-heading" id="client-filter-heading">
                        <a id="client_filter_label" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFilter">Фильтр клиентов</a>
                    </div>
                    <div id="collapseFilter" class="panel-collapse collapse in">
                        <div class="panel-body" id="panel-filter-body">
                            <button class="btn-style" type="button" id="showallbtn" onclick="showall()">Показать все
                            </button>
                            <div class="checkbox menucheck" id="client_filter">
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="user_group" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                    <div class="panel-heading" id="user_group-heading">
                        <a id="user_group_label" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseUser">Список сотрудников</a>
                    </div>
                    <div id="collapseUser" class="panel-collapse collapse in">
                        <div class="panel-body" id="user_group-body">
                            <table class="table table-bordered">
                                <tr th:each="usr : ${users}">
                                    <div th:switch="${usr.enabled}">
                                        <p th:case="true">
                                        <td th:text="${usr.firstName} + ' ' + ${usr.lastName}"></td>
                                        </p>
                                        <p th:case="false">
                                        <td class="unEnabledUser"
                                            th:text="${usr.firstName} + ' ' + ${usr.lastName}"></td>
                                        </p>
                                    </div>
                                    <td class="editUserButtons">
                                        <a th:href="'/admin/user/' +  ${usr.id}">
                                            <button type="button"
                                                    class="glyphicon glyphicon glyphicon-edit"></button>
                                        </a>
                                        <button th:if="${usr.firstName + usr.lastName != user.firstName + user.lastName}"
                                                type="button" data-toggle="modal" class="glyphicon glyphicon-remove"
                                                th:attrappend="data-target='#reAvailableUserModal' + ${usr.id}"
                                                sec:authorize="hasAnyAuthority('OWNER')">
                                        </button>
                                        <button th:if="${usr.firstName + usr.lastName != user.firstName + user.lastName}"
                                                type="button" data-toggle="modal" class="glyphicon glyphicon-trash"
                                                th:attr="data-id=${usr.id}"
                                                onclick="fillUsersTableForDelete(this)"
                                                sec:authorize="hasAnyAuthority('OWNER')">
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="new_user_group" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                    <div class="panel-heading" id="new_user_group-heading">
                        <a id="new_user_group_label" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseNewUser">Список новых сотрудников</a>
                    </div>
                    <div id="collapseNewUser" class="panel-collapse collapse in">
                        <div class="panel-body" id="new_user_group-body">
                            <table class="table table-bordered">
                                <tr th:each="newusr : ${newUsers}">
                                    <td th:text="${newusr.firstName} + ' ' + ${newusr.lastName}"></td>
                                    <td class="editUserButtons">
                                        <a th:href="'/admin/user/' +  ${newusr.id}">
                                            <button type="button" class="glyphicon glyphicon-ok"></button>
                                        </a>
                                        <button type="button" data-toggle="modal" class="glyphicon glyphicon-remove"
                                                th:attrappend="data-target='#deleteNewUserModal' + ${newusr.id}">
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <p><a href="/admin/user/add" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                    <button type="button" id="addNewUser">Добавить пользователя</button>
                </a></p>
                <p><a href="/admin/vkontakte/trackedclub" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                    <button type="button" id="vkClubList">Отслеживаемые группы VK</button>
                </a></p>
                <p><a href="/admin/YouTubeLive" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                    <button type="button" id="YouTubeLive">Отслеживаемая трансляция YouTube</button>
                </a></p>
                <p><a href="/feedback/all" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                    <button type="button" id="feedback">Посмотреть все отзывы</button>
                </a></p>
                <p><a href="/report" sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
                    <button class="button" type="button" id="report">Отчет</button>
                </a></p>
            </div>
        </div>
        <div id="panel-sticker">
            <span>Меню</span>
        </div>
    </div>
</div>

<!--settings-remainder Модалка для напоминания о статусе для новых студентов-->
<div id="msg_status_to_new_clients" sec:authorize="hasAnyAuthority('OWNER','ADMIN')">
    <span class="msg_close"
          onclick="document.getElementById('msg_status_to_new_clients').style.display='none'; return false;">X</span>
    <h4>Напоминание</h4>
    Необходимо установить статус по умолчанию для новых студентов
    <p></p>
    <a href="/user/customize">Настройки</a>
</div>

<!--settings-remainder Модалка для напоминания о birth-->
<div id="birthday-template-status" sec:authorize="hasAnyAuthority('OWNER','ADMIN')">
    <span class="msg_close"
          onclick="document.getElementById('birthday-template-status').style.display='none'; return false;">X</span>
    <h4>Напоминание</h4>
    Необходимо установить шаблон для отправки сообщения пользователям о поздравлении с днем рождения!
    <p></p>
    <a href="/user/customize">Настройки</a>
</div>

<!-- Модалка для оповещения о статусе VK кампаний -->
<div id="msg_campaigns" sec:authorize="hasAnyAuthority('OWNER','ADMIN')">
    <span class="msg_close"
          onclick="document.getElementById('msg_campaigns').style.display='none'; return false;">X</span>
    <h4>Внимание!</h4>
    С кампаниями творится что то неладное!
    <p></p>
    <a href="/vk/campaigns/all">Продвижение</a>
</div>

<div th:replace="fragments/htmlFragments::client_description_modal"
     sec:authorize="hasAnyAuthority('HR','MENTOR','USER')"></div>

<div th:replace="fragments/mainModal::mainModalWindow"></div>
<div th:replace="fragments/htmlFragments::emailMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteIMModal"></div>
<div th:replace="fragments/htmlFragments::customMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sendTemplateModal"></div>
<div th:replace="fragments/htmlFragments::reAvailableUser"></div>
<div th:replace="fragments/htmlFragments::deleteUser"></div>
<div th:replace="fragments/htmlFragments::sms_error_modal"></div>
<div th:replace="fragments/conversations::conversationsModal"></div>
<div th:replace="fragments/htmlFragments::slackLinkModal"></div>
<div th:replace="fragments/contract-client-setting-modal::contractClientSettingModal"></div>
<div th:replace="fragments/contract-client-link-modal::contractClientLinkModal"></div>
<div th:replace="fragments/other-information-link::otherInformationLink"></div>
<div th:replace="fragments/other-information-value::otherInformationValue"></div>

<div sec:authorize="hasAnyAuthority('HR')">
    <div th:replace="fragments/changeColorByStatusModal::change-color-by-status-modal"></div>
</div>

<div sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
    <div th:replace="fragments/modal-client-history-message::modalClientHistoryMessage"></div>
    <div th:replace="fragments/htmlFragments::client_description_modal"></div>
    <div th:replace="fragments/htmlFragments::deleteNewUser"></div>
    <div th:replace="fragments/postponeCommentModal::postpone-comment-modal"></div>
    <div th:replace="fragments/all-statuses-position-modal::allStatusesPositionsToChange"></div>
    <div th:replace="fragments/message-history::messageHistory"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var slack_url = /*[[${slackWorkspaceUrl}]]*/ 'default';

        /*]]>*/
    </script>
</div>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>

<script type="text/javascript" th:src="@{/js/clientHistory.js}"></script>
<script type="text/javascript" th:src="@{/js/comments.js}"></script>
<script type="text/javascript" th:src="@{/js/conversations.js}"></script>
<script type="text/javascript" th:src="@{/js/doashboard.js}"></script>
<script type="text/javascript" th:src="@{/js/doashboard-menu.js}"></script>
<script type="text/javascript" th:src="@{/js/ip-telephony.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal-contract.js}"></script>
<script type="text/javascript" th:src="@{/js/moment-timezone.js}"></script>
<script type="text/javascript" th:src="@{/js/notifications.js}"></script>
<script type="text/javascript" th:src="@{/js/other-info-link.js}"></script>
<script type="text/javascript" th:src="@{/js/settings-remainder.js}"></script>
<script type="text/javascript" th:src="@{/js/sorted-statuses.js}"></script>
<script type="text/javascript" th:src="@{/js/status.js}"></script>
<script type="text/javascript" th:src="@{/js/vk-campaigns-status.js}"></script>
<script type="text/javascript" th:src="@{/js/vkIm.js}"></script>

<script type="text/javascript" th:src="@{/js/mentor-menu.js}" sec:authorize="hasAnyAuthority('MENTOR')"></script>

<div sec:authorize="hasAnyAuthority('HR')">
    <script type="text/javascript" th:src="@{/js/all-clients.js}"></script>
    <script type="text/javascript" th:src="@{/js/loading-animation.js}"></script>
    <script type="text/javascript" th:src="@{/js/main-hr-table.js}"></script>
</div>

<div sec:authorize="hasAnyAuthority('OWNER','ADMIN','HR')">
    <script type="text/javascript" th:src="@{/js/message-history.js}"></script>
</div>

</body>
</html>