<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <title>Менторы</title>
        <meta charset="UTF-8"/>
        <div th:replace="fragments/htmlFragments::header"></div>
        <link href="/css/bootstrap-social.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/settings-remainder.css"/>
        <link rel="stylesheet" type="text/css"/>
        <div th:replace="fragments/htmlFragments::custom-style"></div>
    </head>
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div id="empty-container" class="container-fluid" style="height: 60px;"></div>
<div id="page-container" class="container-fluid">
    <div id="main-row" class="row">
        <div id="mentors-column" class="col-lg-8"></div>
        <div id="right-column" class="col-lg-4"></div>
    </div>
</div>
<input hidden="true" id="slackBotDomain" th:value="${slackBotDomain}"/>
<input hidden="true" id="mentorMaxStudents" th:value="${maxStudents}"/>
<script th:inline="javascript">
    /*<![CDATA[*/
    var mentors = /*[[${mentors}]]*/ 'default';
    var mentorsFromBotJson = /*[[${mentorsFromBotJson}]]*/ 'default';
    var studentsDto = /*[[${studentsDto}]]*/ 'default';
    /*]]>*/
</script>
<div th:replace="fragments/changeColorByStatusModal::change-color-by-status-modal"></div>
<div th:replace="fragments/mainModal::mainModalWindow"></div>
<div th:replace="fragments/modal-client-history-message::modalClientHistoryMessage"></div>
<div th:replace="fragments/htmlFragments::client_description_modal"></div>
<div th:replace="fragments/htmlFragments::emailMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteIMModal"></div>
<div th:replace="fragments/htmlFragments::customMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sendTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sms_error_modal"></div>
<div th:replace="fragments/conversations::conversationsModal"></div>
<div th:replace="fragments/contract-client-setting-modal::contractClientSettingModal"></div>
<div th:replace="fragments/contract-client-link-modal::contractClientLinkModal"></div>
<div th:replace="fragments/htmlFragments::slackLinkModal"></div>
<div th:replace="fragments/other-information-link::otherInformationLink"></div>
<div th:replace="fragments/other-information-value::otherInformationValue"></div>
<script src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script src="/js/moment-timezone.js"></script>
<link href="/css/bootstrap-colorpicker.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
<script th:src="@{/js/all-clients.js}"></script>
<script th:src="@{/js/loading-animation.js}"></script>
<script th:src="@{/js/main-modal.js}"></script>
<script th:src="@{/js/main-modal-contract.js}"></script>
<script th:src="@{/js/ip-telephony.js}"></script>
<script th:src="@{/js/conversations.js}"></script>
<script th:src="@{/js/comments.js}"></script>
<script th:src="@{/js/notifications.js}"></script>
<script th:src="@{/js/status.js}"></script>
<script th:src="@{/js/clientHistory.js}"></script>
<script th:src="@{/js/clientHistory.js}"></script>
<script th:src="@{/js/mentors-with-students-table.js}"></script>
<script type="text/javascript" th:src="@{/js/other-info-link.js}"></script>
</body>
</html>