<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Дополнительные вопросы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <style>
        body {
            font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 bg-light my-3 align-items" id="public-information">
            <p class="h3 text-center pt-2">Учится ли студент в Java-Mentor</p>
            <form id="public-information-form" class="pt-5">
                <div class="col-sm form-group col-form-label">
                    <input type="text" class="form-control" id="request" placeholder="Введите e-mail студента"/>
                </div>
            </form>
            <div class="text-center mb-3">
                <button type="button" class="btn btn-primary" onclick="getInfo()">Сделать запрос</button>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/public-student-info.js"></script>
</body>
</html>