<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Отчет о клиентах</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css"
          rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript" th:src="@{/js/choice-color-picker.js}"></script>
    <link href="/css/bootstrap-colorpicker.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <script th:src="@{/js/validator.min.js}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>

<body>

<div style="margin-top: 3%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
    <div id="user-info-container" class="container-fluid">
        <div class="row-fluid">
            <label class="h2">Создать отчет:</label><br/>
            <div class="col-md-4" style="width: 20%; padding:30px;">
                <label for="report-type-radios" class="p-user">Выберите тип отчета:</label>
                <div id="report-type-radios" class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="report-type" id="report-type-1" value="1" checked="checked"/>
                            Переходы из статусов
                        </label>
                        <button type="button" class="btn btn-info btn-xs" data-toggle="popover" data-content="&lt;small&gt;Выводит всех клиентов, которые в указанный период времени были перемещены из исходного статуса в заданный.&lt;br /&gt;
                                В отчет попадают не только прямые переходы из одного статуса в другой, но также и переходы через несколько статусов. Количество переходов не ограничено.&lt;br /&gt;
                                Если отмечено &lt;mark&gt;Из любого&lt;/mark&gt; - значит исходный статус не важен - в отчет попадут все клиенты, которые побывали в данный период в заданном статусе.&lt;br /&gt;
                                Из отчета исключаются все клиенты, хотя бы единожды побывавшие в одном из статусов &lt;mark&gt;кроме&lt;/mark&gt;.&lt;br /&gt;
                                Переход в статус не считается, если:&lt;br /&gt;
                                &lt;ul&gt;
                                &lt;li&gt;- клиент пробыл в статусе менее 3 минут, затем был перемещен в любой другой;&lt;/li&gt;
                                &lt;li&gt;- в течение 24 часов клиент был возвращен в исходный статус.&lt;/li&gt;
                                &lt;/ul&gt;&lt;/small&gt;" data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="report-type" id="report-type-2" value="2"/>
                            Появление новых
                        </label>
                        <button type="button" class="btn btn-info btn-xs" data-toggle="popover" data-content="&lt;small&gt;
                                Выводит всех клиентов, которые в указанный период времени впервые или повторно появились (были созданы) в заданном статусе.&lt;br /&gt;
                                Если отмечено &lt;mark&gt;Любой&lt;/mark&gt;, то в отчет выводятся все клиенты, имеющие в истории запись о создании в указанном интервале времени.&lt;br /&gt;
                                Повторное появление клиента - когда уже имеющейся клиент добавляется в систему вручную или автоматически через заявку на сайте и т.п.&lt;br /&gt;
                                Индикатором появления клиента в заданный интервал времени является запись в истории вида &lt;mark&gt;добавлен вручную&lt;/mark&gt;, &lt;mark&gt;добавлен из gmail/vk&lt;/mark&gt; и т.п.&lt;br /&gt;
                                Индикатором появления студента в конкретном статусе считается:&lt;br /&gt;
                                &lt;ul&gt;
                                &lt;li&gt;- первая история перемещения клиента - для впервые добавленных клиентов;&lt;/li&gt;
                                &lt;li&gt;- текущий статус - если историй перемещения нет;&lt;/li&gt;
                                &lt;li&gt;- история, которая предшествует первой истории перемещения в указанный;&lt;/li&gt;
                                &lt;li&gt;- интервал времени - для клиентов, добавленных не впервые.&lt;/li&gt;
                                &lt;/ul&gt;
                                Из отчета исключаются все клиенты, хотя бы единожды побывавшие в одном из статусов &lt;mark&gt;кроме&lt;/mark&gt;.&lt;br /&gt;
                                Переход в статус не считается, если:&lt;br /&gt;
                                &lt;ul&gt;
                                &lt;li&gt;- клиент пробыл в статусе менее 3 минут, затем был перемещен в любой другой;&lt;/li&gt;
                                &lt;li&gt;- в течение 24 часов клиент был возвращен в исходный статус.&lt;/li&gt;
                                &lt;/ul&gt;&lt;/small&gt;" data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="report-type" id="report-type-3" value="3"/>
                            Первые оплаты
                        </label>
                        <button type="button" class="btn btn-info btn-xs" data-toggle="popover" data-content="&lt;small&gt;
                                В отчет попадают клиенты, которые в заданный период времени впервые перешли в статус, который задан в настройках CRM в меню &lt;mark&gt;Статусы по-умолчанию&lt;/mark&gt; -&gt; &lt;mark&gt;Статус клиента после первой оплаты&lt;/mark&gt;.&lt;br /&gt;
                                Из отчета исключаются все клиенты, хотя бы единожды побывавшие в одном из статусов &lt;mark&gt;кроме&lt;/mark&gt;.&lt;br /&gt;
                                &lt;/small&gt;" data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="radio hideable_once" hidden="hidden">
                        <label>
                            <input type="radio" name="report-type" id="report-type-4" value="4"/>
                            Сравнение отчетов
                        </label>
                        <button type="button" class="btn btn-info btn-xs" data-toggle="popover" data-content="&lt;small&gt;
                                Выводится отчет, который содержит всех клиентов первого отчета и при этом не содержит ни одного клиента второго отчета.
                                &lt;/small&gt;" data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="radio hideable_once" hidden="hidden">
                        <label>
                            <input type="radio" name="report-type" id="report-type-5" value="4"/>
                            Объединение отчетов
                        </label>
                        <button type="button" class="btn btn-info btn-xs" data-toggle="popover" data-content="&lt;small&gt;
                                Выводится отчет, который объединяет два и более выбранных отчета, при этом не допускает повторных записей.
                                &lt;/small&gt;" data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group hideable_1">
                    <label for="mailingDate" class="p-user">Выберите дату:</label>
                    <input class="form-control input-sm form-control-report" type="text" name="mailingDate" id="mailingDate"/>
                </div>
                <div class="form-group hideable_4" hidden="hidden">
                    <label for="statusNewSelect" class="p-user">Статус для нового клиента:</label>
                    <select id="statusNewSelect" class="form-control">
                        <option value="null">Статус</option>
                    </select>
                    <div class="checkbox">
                        <label>
                            <input id="new-all-checkbox" type="checkbox"/>Любой
                        </label>
                    </div>
                </div>
                <div class="form-group hideable">
                    <label for="statusFromSelect" class="p-user">Статус из которого перешел:</label>
                    <select id="statusFromSelect" class="form-control">
                        <option value="null">Статус</option>
                    </select>
                    <div class="checkbox">
                        <label>
                            <input id="from-all-checkbox" type="checkbox"/>Из любого
                        </label>
                    </div>
                </div>
                <div class="form-group hideable">
                    <label for="statusToSelect" class="p-user">Статус в который перешел:</label>
                    <select id="statusToSelect" class="form-control">
                        <option value="null">Статус</option>
                    </select>
                </div>
                <div class="form-group hideable_1">
                    <button type="button" class="btn btn-default btn-xs" id="exclude-statuses-btn">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true" id="exclude-statuses-btn-icon"></span>
                    </button>
                    <label for="statusExcludeSelect" class="p-user">Кроме статусов:</label>
                    <div id="statusExcludeSelect" class="checkbox">
                        <label><input type="checkbox" value="null" class="exclude-status-checkboxes" aria-label="Статус"/>Статус</label>
                    </div>
                </div>
                <div class="form-group hideable_3" hidden="hidden">
                    <label for="report_selector_1" class="p-user">Из отчета:</label>
                    <select id="report_selector_1" class="form-control">
                        <option value="null">Отчет 1</option>
                    </select>
                </div>
                <div class="form-group hideable_3" hidden="hidden">
                    <label for="report_selector_2" class="p-user">Исключить значения:</label>
                    <select id="report_selector_2" class="form-control">
                        <option value="null">Отчет 2</option>
                    </select>
                </div>
                <div class="form-group hideable_2" hidden="hidden">
                    <label for="reportList" class="p-user">Отчеты:</label>
                    <div id="reportList" class="checkbox">
                        <label><input type="checkbox" value="null" class="reports-checkboxes" aria-label="Статус"/>Отчет #0</label>
                    </div>
                </div>
                <div id="formToSend">
                    <div id="formCreate">
                        <div class="form-group">
                            <label class="p-user">Отправить на Email:</label>
                            <input class="form-control input-sm form-control-report" name="email"
                                   th:value="${currentMail}" th:id="email"/>
                        </div>
                        <br/>
                        <button id="load-data-button" class="form-control form-control-report btn btn-primary btn-block">
                            Сформировать отчет
                        </button>
                        <br/>
                        <button class="form-control form-control-report btn btn-primary btn-block" onclick="sendReport()">
                            Отправить отчет
                        </button>
                    </div>
                </div>
                <br/>
                <a href="#" onclick="history.back();" class="form-control form-control-report btn btn-primary btn-block">Назад</a>
            </div>
            <div id="client-cards-holder" hidden="hidden" class="col-md-8">
                <div id="panels-tabs">
                    <ul class="nav nav-tabs" id="panel-tabs-data"></ul>
                </div>
                <div id="panels"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/changeColorByStatusModal::change-color-by-status-modal"></div>
<div th:replace="fragments/mainModal::mainModalWindow"></div>
<div th:replace="fragments/modal-client-history-message::modalClientHistoryMessage"></div>
<div th:replace="fragments/htmlFragments::client_description_modal"></div>
<div th:replace="fragments/htmlFragments::emailMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::vkontakteIMModal"></div>
<div th:replace="fragments/htmlFragments::customMessageTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sendTemplateModal"></div>
<div th:replace="fragments/htmlFragments::sms_error_modal"></div>
<div th:replace="fragments/conversations::conversationsModal"></div>
<div th:replace="fragments/contract-client-setting-modal::contractClientSettingModal"></div>
<div th:replace="fragments/contract-client-link-modal::contractClientLinkModal"></div>
<div th:replace="fragments/htmlFragments::slackLinkModal"></div>
<div th:replace="fragments/other-information-link::otherInformationLink"></div>
<div th:replace="fragments/other-information-value::otherInformationValue"></div>

<script type="text/javascript" src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="/js/moment-timezone.js"></script>
<link href="/css/bootstrap-colorpicker.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>

<script type="text/javascript" th:src="@{/js/report.js}"></script>
<script type="text/javascript" th:src="@{/js/loading-animation.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/main-modal-contract.js}"></script>
<script type="text/javascript" th:src="@{/js/ip-telephony.js}"></script>
<script type="text/javascript" th:src="@{/js/conversations.js}"></script>
<script type="text/javascript" th:src="@{/js/comments.js}"></script>
<script type="text/javascript" th:src="@{/js/notifications.js}"></script>
<script type="text/javascript" th:src="@{/js/status.js}"></script>
<script type="text/javascript" th:src="@{/js/clientHistory.js}"></script>
<script type="text/javascript" th:src="@{/js/other-info-link.js}"></script>
</body>
</html>
