<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Задачи</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="container-fluid">
        <div><h1>Задачи</h1></div>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary" onclick="newTasksCreate()">Новая задача</button>
            </div>
        </div>
        <table class="table table-hover table-fixed" id="user-tasks-table" width="0%">
            <thead id="thead-table-user-tasks">
            <tr class="head-table">
                <th >#</th>
                <th width="22%">Задача</th>
                <th width="8%">Дата</th>
                <th width="8%">Срок до</th>
                <th>Автор</th>
                <th>Контролирующий</th>
                <th>Исполнитель</th>
                <th>Клиент</th>
            </tr>
            </thead>

            <tbody id="table-body">
            <tr id="newUserTask" style="display: none">
                <td>
                    <button class="btn btn-danger glyphicon glyphicon-remove" id="deleteUserTaskButton" onclick="deleteCurrentUserTask()" title="Удалить задачу"></button>
                    <button class="btn btn-primary" onclick="saveNewTasks()">Сохранить</button>
                    <input type="hidden" name="task_id"/>
                </td>
                <td><input class="form-control" type="text" name="task"/></td>
                <td><input class="form-control" type="date" name="date"/></td>
                <td><input class="form-control" type="date" name="expiry_date"/></td>
                <td><input class="form-control" type="text" disabled name="author" th:value="${currentUserName}"/>
                    <input type="hidden" name="authorId" th:value="${currentUserId}"/></td>
                <td><select class="form-control" id="managerId" name="managerId" size="1">
                    <option></option>
                    <option th:each="user : ${users}" th:value="${user.id}"
                            th:text="${user.fullName}"></option>
                </select>
                </td>
                <td><select class="form-control" id="executorId" name="executorId" size="1">
                    <option></option>
                    <option th:each="user : ${users}" th:value="${user.id}"
                            th:text="${user.fullName}"></option>
                </select>
                </td>
                <td>
                    <input class="form-control" type="text" name="client" placeholder="Начните вводить имя .."/>
                    <input type="hidden" name="clientId" value="-1"/>

                    <div class="card static-heigth" id="listClientsFromSearch"
                         style="display: none;position: absolute; background-color: white; z-index: 1000">
                        <div class="card-header">
                            <b>Найдены клиенты:</b>
                        </div>
                        <div class="card-body">
                            list
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="cursor: pointer; " th:each="task : ${tasklist}"  th:onclick="'editTaskClick(this,'+ ${task.id} +')'">
                <td th:text="${task.id}"></td>
                <td th:text="${task.task}"></td>
                <td th:text="${#temporals.format(task.date,'dd.MM.yyyy')}"></td>
                <td th:text="${#temporals.format(task.expiry_date,'dd.MM.yyyy')}"></td>
                <td th:text="${task.author.fullCombinedName}"></td>
                <td th:text="${task.manager.fullCombinedName}"></td>
                <td th:text="${task.executor.fullCombinedName}"></td>
                <td th:text="${task.client.name} + ' ' + ${task.client.lastName}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/tasks.js}"></script>
</body>
</html>
