<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="col-md-6 col-md-offset-2">

        <div><h3>Настройки</h3></div>

        <h1>Настройка оповещений:</h1>
        <form method="post" th:action="@{/user/enableNotifications}">
            <div th:if="${#authentication.getPrincipal().isEnableMailNotifications()}">
            <select class="form-control" name="notifications">
                <option th:value="true" selected="selected">Включить</option>
                <option th:value="false">Отключить</option>
            </select>
            </div>
            <div th:if="${!#authentication.getPrincipal().isEnableMailNotifications()}">
                <select class="form-control" name="notifications">
                    <option th:value="true" >Включить</option>
                    <option th:value="false" selected="selected">Отключить</option>
                </select>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary" role="button">Сохранить</button>
        </form>
</div>
</div>
</body>
</html>