<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Настройки пользователя</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="col-md-6 col-md-offset-2" id="notification-buttons">

        <div><h3>Настройки</h3></div>
        <br/>
        <div id="change-profile-button">
            <a th:href="'/admin/user/' + ${#authentication.getPrincipal().getId()}">
                <button sec:authorize="hasAnyAuthority('OWNER', 'ADMIN')" class="btn btn-primary pull">Изменить профиль
                </button>
            </a>
        </div>
        <br/>
        <button type="button" class="btn btn-primary pull" data-toggle="modal"
                data-target="#InterfaceSettings">
            Настройка оформления
        </button>
        <br/>
        <br/>
        <button type="button" class="btn btn-primary pull" data-toggle="modal"
                data-target="#vkAuthModal" sec:authorize="hasAnyAuthority('OWNER','ADMIN')">
            Авторизация Вконтакте
        </button>
        <br/>
        <br/>
        <div>
            <a class="btn btn-primary pull" href="/vk/request/form" sec:authorize="hasAnyAuthority('OWNER')">Настроить
                форму заявки ВК</a>
        </div>
        <br/>
        <div class="inline">
            <form class="form" method="get" action="/login/google/drive">
                <input type="submit" class="btn btn btn-success pull" value="Авторизация Google Drive" sec:authorize="hasAnyAuthority('OWNER','ADMIN')"/>
            </form>
        </div>
        <br/>
        <br/>
        <div class="inline">
            <form class="form" method="get" action="/login/google/calendar">
                <input type="submit" class="btn btn btn-success pull" value="Авторизация Google Calendar" sec:authorize="hasAnyAuthority('OWNER','ADMIN')"/>
            </form>
        </div>
        <br/>
        <br/>
        <div id="auto-answer-button">
            <button class="btn btn-primary pull" data-toggle="modal" data-target="#auto-answer-modal"
                    sec:authorize="hasAnyAuthority('OWNER')">
                Настроить автоответ
            </button>
        </div>
        <br/>
        <div id="contract-user-setting-button">
            <button class="btn btn-primary pull" data-toggle="modal" data-target="#contract-user-setting-modal"
                    sec:authorize="hasAnyAuthority('OWNER')">
                Настройки договора
            </button>
        </div>
        <br/>
        <div id="slack-settings-button">
            <button class="btn btn-primary pull" data-toggle="modal" data-target="#slack-settings-modal"
                    sec:authorize="hasAnyAuthority('OWNER')">
                Настройки Slack
            </button>
        </div>
        <br/>
        <div id="choice-status-button">
            <button class="btn btn-primary pull" data-toggle="modal" data-target="#choice-status-column-modal"
                    sec:authorize="hasAnyAuthority('OWNER')">
                Статусы по-умолчанию
            </button>
        </div>
        <br/>
        <div id="payment-notification-button">
            <button class="btn btn-primary pull" data-toggle="modal" data-target="#payment-notification-modal"
                    sec:authorize="hasAnyAuthority('OWNER')">
                Настройка оповещений
            </button>
        </div>
        <br/>
        <div id="new-student-config-button">
            <button class="btn btn-primary pull" data-toggle="modal" data-target="#new-student-config-modal"
                    sec:authorize="hasAnyAuthority('OWNER')">
                Параметры по-умолчанию для студентов
            </button>
        </div>
        <br/>
        <div id="birthday-user-setting-button">
            <button class="btn btn-primary pull" data-toggle="modal"  data-target="#birthday-modal"
                    sec:authorize="hasAnyAuthority('OWNER')">
                Настройки сообщения для дня рождения
            </button>
        </div>
        <br/>
        <div>
            <th:block th:if="isTdlibInstalled">
                <th:block th:if="${isTelegramAuthenticated}">
                    <button id="telegram-logout-button" class="btn btn-primary pull">
                        Выйти из Telegram
                    </button>
                </th:block>
                <th:block th:if="!${isTelegramAuthenticated}">
                    <button id="telegram-auth-button" class="btn btn-primary pull" data-toggle="modal"
                            data-target="#telegram-auth-modal" sec:authorize="hasAnyAuthority('OWNER','ADMIN')">
                        Авторизация в Telegram
                    </button>
                </th:block>
            </th:block>
        </div>
    </div>

</div>

<!--Модалка для настройки оформления системы-->
<div class="modal fade" id="InterfaceSettings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal-header-color" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <label for="selected-color">Цвет фона оформления</label>
                        <div id="wrap-selected-color" class="input-group colorpicker-component">
                            <span class="input-group-addon" id="inputGroup-sizing-lg" style="width: 85%"><i></i></span>
                            <input id="selected-color" type="text" style="width: 100%"
                                   th:value="${#authentication.getPrincipal().colorBackground}" value="#38a677"
                                   class="form-control"/>
                        </div>
                        <script>
                            $(function () {
                                $('#wrap-selected-color').colorpicker({format: 'hex'});
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="update-interface" class="btn btn-default" data-dismiss="modal">Применить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для получения токена -->
<div class="modal fade" id="vkAuthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Инструкция получения токена</h4>
            </div>
            <div class="modal-body">
                <div>
                    1. Нажать на кнопку:
                </div>
                <div>
                    <button onclick="doLogin()">Получить токен</button>
                </div>
                &nbsp;
                <div>
                    2. Скопировать <b>всю строчку URL</b> в поле ниже и закрыть окно авторизации.
                </div>
                <form class="form" method="post" action="/vk-auth">
                    <div class="form-group">
                        <input id="name" type="text" class="form-control"
                               name="token"/>
                    </div>
                    <div class="modal-footer">
                        <input class="btn-primary btn-sm" type="submit"
                               role="button"
                               value="Сохранить"/>
                        &nbsp;
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Закрыть
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Модалка для настройки статусов-->
<div class="modal fade" id="choice-status-column-modal" tabindex="-1" role="dialog" aria-hidden="true"
     sec:authorize="hasAnyAuthority('OWNER')">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal-header" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <label for="new-client-status">Выберите статус нового клиента по-умолчанию</label>
                        <select id="new-client-status" class="form-control"> </select>
                    </div>
                    <div class="row">
                        <label for="repeated-client-status">Выберите статус клиента повторно оставившего заявку</label>
                        <select id="repeated-client-status" class="form-control"> </select>
                    </div>
                    <div class="row">
                        <label for="reject-student-status-column">Выберите статус клиента студента-отказника</label>
                        <select id="reject-student-status-column" class="form-control"> </select>
                    </div>
                    <div class="row">
                        <label for="first-pay-status-column">Выберите статус клиента после первой оплаты</label>
                        <select id="first-pay-status-column" class="form-control"> </select>
                    </div>
                    <div class="row">
                        <label for="first-skype-call-after-status">Выберите статус клиента после первого созвона в skype</label>
                        <select id="first-skype-call-after-status" class="form-control"> </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="update-status" class="btn btn-default" data-dismiss="modal">Применить</button>
            </div>
        </div>
    </div>
</div>
<!--Модалка для настройки Slack-->
<div class="modal fade" id="slack-settings-modal" tabindex="-1" role="dialog" aria-hidden="true"
     sec:authorize="hasAnyAuthority('OWNER')">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Настройка Slack</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <label for="slack-users">Введите id пользователей Slack через пробел</label>
                        <input type="text" class="form-control" id="slack-users" />
                    </div>
                    <div class="row">
                        <label for="slack-invite-link">Введите ссылку на первый урок (в конце символ "?")</label>
                        <input type="text" class="form-control" id="slack-invite-link" placeholder="https://crm.java-mentor.com/first-lesson?"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="update-slack" class="btn btn-default" data-dismiss="modal">Применить</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/birthday-modal::birthDayModal"></div>
<div th:replace="fragments/auto-answer-modal::autoAnswerModal"></div>
<div th:replace="fragments/contract-user-setting-modal::contractUserSettingModal"></div>
<div th:replace="fragments/payment-notification-modal::paymentNotificationModal"></div>
<div th:replace="fragments/telegram-auth-modal::telegramAuthModal"></div>
<div th:replace="fragments/new-student-config-modal::newStudentConfigModal"></div>
<script type="text/javascript" th:src="@{/js/vk-auth.js}"></script>
<script type="text/javascript" th:src="@{/js/user-customize.js}"></script>
<script type="text/javascript" th:src="@{/js/choice-status-column.js}"></script>
<script type="text/javascript" th:src="@{/js/notifications.js}"></script>
<script type="text/javascript" th:src="@{/js/choice-color-picker.js}"></script>
<link href="/css/bootstrap-colorpicker.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
</body>
</html>