<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div style="margin: 2%">
    <div th:replace="fragments/htmlFragments::top-navigation-panel"></div>

    <div class="col-md-6 col-md-offset-2">

        <div><h3>Настройки</h3></div>

        <h1>Настройка оповещений:</h1>
        <form method="post" th:action="@{/user/enableNotifications}">
            <div th:if="${#authentication.getPrincipal().isEnableMailNotifications()}">
                <select class="form-control" name="notifications">
                    <option th:value="true" selected="selected">Включить</option>
                    <option th:value="false">Отключить</option>
                </select>
            </div>
            <div th:if="${!#authentication.getPrincipal().isEnableMailNotifications()}">
                <select class="form-control" name="notifications">
                    <option th:value="true">Включить</option>
                    <option th:value="false" selected="selected">Отключить</option>
                </select>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary pull-right" role="button">Сохранить</button>
        </form>
    </div>

    <div class="col-md-6 col-md-offset-2" id="notification-buttons">
        <div id="change-profile-button">
        <a th:href="'/admin/user/' + ${#authentication.getPrincipal().getId()}">
            <button sec:authorize="hasAnyAuthority('OWNER', 'ADMIN')" class="btn btn-primary pul">Изменить профиль</button>
        </a>
        </div>
        <br/>
        <button  type="button" class="btn btn-primary pull" data-toggle="modal"
                data-target="#vkAuthModal">
            Авторизация Вконтакте
        </button>
        <br/>
        <br/>
        <button  type="button" class="btn btn-primary pull">
            Настроить автоответ
        </button>
    </div>

</div>
<!-- Модальное окно для получения токена -->
<div class="modal fade" id="vkAuthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Инструкция получения токена</h4>
            </div>
            <div class="modal-body">
                <div>
                    1. Нажать на кнопку:
                </div>
                <div>
                    <button onclick="doLogin()">Получить токен</button>
                </div>
                &nbsp;
                <div>
                    2. Скопировать <b>всю строчку URL</b> в поле ниже и закрыть окно авторизации.
                </div>
                <form class="form" method="post" action="/vk-auth">
                    <div class="form-group">
                        <input id="name" type="text" class="form-control"
                               name="token"/>
                    </div>
                    <div class="modal-footer">
                        <input class="btn-primary btn-sm" type="submit"
                               role="button"
                               value="Сохранить"/>
                        &nbsp;
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Закрыть
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/main-table.js}"></script>
</body>
</html>