<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script type="text/javascript" th:src="@{/js/vk-trackedclub-info.js}"></script>
    <script th:src="@{/js/validator.min.js}"></script>
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<div style="margin-top: 3%">
    <div id = "user-info-container" class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-3" id="column1">
                <form id="vkTrackedclub-form" >
                    <div class="btn-group">
                        <!--<button type="button" class="btn btn-primary" id="editUser">Редактировать</button>-->
                        <!--<button type="submit" class="btn btn-primary" id="saveChanges" th:onclick="'changeUser(\''+ ${user.id} +'\' , \'' + ${#authentication.getPrincipal().getId()} + '\')'">Сохранить</button>-->
                        <a href="/client" class="btn btn-primary" id="backToMain">Назад</a>
                    </div>
                    <p><span id = "message"></span></p>
                    <table class="table table-bordered">
                        <tr th:each="club : ${vkTrackedClub}">
                            <td>
                                <p th:text="${club.getGroupName()}"></p>
                            </td>
                            <td>
                                <button type="button" data-toggle="modal" class="glyphicon glyphicon-pencil"
                                        th:attrappend="data-target='#updateVkTrackedClubModal' + ${club.id}">
                                </button>
                                <button type="button" data-toggle="modal" class="glyphicon glyphicon-remove"
                                        th:attrappend="data-target='#deleteVkTrackedClubModal' + ${club.id}">
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-md-6">
                <button type="button" data-toggle="modal" class="btn btn-primary"
                        th:attrappend="data-target='#addVkTrackedClubModal'"> Добавить новую группу
                </button>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/htmlFragments::deleteVkTrackedClub"></div>
<div th:replace="fragments/htmlFragments::updateVkTrackedClub"></div>
<div th:replace="fragments/htmlFragments::addVkTrackedClub"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.4/jquery.textcomplete.min.js"></script>
</body>
</html>