<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YouTube каналы</title>
    <meta charset="utf-8"/>
    <div th:replace="fragments/htmlFragments::header"></div>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <script type="text/javascript" th:src="@{/js/vk-trackedclub-info.js}"></script>
    <script th:src="@{/js/validator.min.js}"></script>
    <div th:replace="fragments/htmlFragments::custom-style"></div>
</head>
<body>
<div th:replace="fragments/htmlFragments::top-navigation-panel"></div>
<br/>
<br/>
<br/>
<div class="container">
    <div class="card">
        <div class="card-header text-center"><strong class="card-title"> Добавить новый канал для отслеживания:</strong>
        </div>

        <div class="card-body">
            <form method="post" action="/admin/YouTubeLive/addYouTubeTrackingCard">
                <div class="form-group">
                    <label>Отслеживаемый канал YouTube:</label>
                    <input type="text" name="youTubeChannelID" class="form-control"
                           placeholder="Введите ссылку на канал YouTube или id канала"/>
                </div>
                <div class="form-group">
                    <label>Группа вк для поиска клиентов:</label>
                    <input type="text" name="vkGroupID" class="form-control" placeholder="Введите ссылку на группу вк или id группы"/>
                </div>
                <div class="form-group">
                    <label>Название канала YouTube:</label>
                    <input type="text" name="channelName" class="form-control" placeholder="Введите название канала"/>
                </div>
                <div class="form-group">
                    <label>Описание канала:</label>
                    <input type="text" name="description" class="form-control"
                           placeholder="Введите краткое описание канала"/>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>

    <br/>
    <form method="get" action="/admin/YouTubeLive/getVkIDs">
        <button type="submit" class="btn btn-info">Скачать txt файл со всеми vk id потенциальных клиентов</button>
    </form>
    <br/>

    <div class="card">
        <div class="card-header text-center"><h3 class="card-title">Все отслеживаемые каналы:</h3></div>

        <div class="card-body">
            <br/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Канал YouTube</th>
                    <th>Группа вк</th>
                    <th>Название канала</th>
                    <th>Описание канала</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                </thead>


                <tr th:each="card : ${youtubeCards}">
                    <td th:text="${card.id}">id</td>
                    <td th:text="${card.youTubeChannelID}">youTubeChannelID</td>
                    <td th:text="${card.vkGroupID}">vkGroupID</td>
                    <td th:text="${card.channelName}">channelName</td>
                    <td th:text="${card.description}">description</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" href="#editCard"
                                th:href="'#editCard'+${card.id}">Изменить
                        </button>
                    </td>
                    <td>
                        <form method="post" action="/admin/YouTubeLive/deleteYouTubeTrackingCard">
                            <button class="btn btn-danger" name="id" value="id" th:value="${card.id}"
                                    type="submit">Удалить
                            </button>
                        </form>
                    </td>


                    <div class="modal fade text-center" id="editCard" th:id="'editCard'+${card.id}" tabindex="-1"
                         role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" th:inline="text">Редактировать карточку
                                        [[${card.channelName}]]</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="mx-auto" style="width: 500px;">
                                            <form id="formForYouTubeCard" th:id="'formForYouTubeCard'+${card.id}"
                                                  class="form text-center">

                                                <div class="form-group text-center">
                                                    <label><strong>ID</strong></label>
                                                    <input class="form-control" readonly="readonly"
                                                           type="text"
                                                           placeholder="ID"
                                                           th:placeholder="${card.id}"/>
                                                </div>


                                                <div class="form-group text-center">
                                                    <label><strong>Канал YouTube</strong></label>
                                                    <input class="form-control" type="text" name="youTubeChannelID"
                                                           value="youTubeChannelID"
                                                           th:value="${card.youTubeChannelID}"/>
                                                </div>

                                                <div class="form-group text-center">
                                                    <label><strong>Группа вк</strong></label>
                                                    <input class="form-control" type="text" name="vkGroupID"
                                                           value="vkGroupID"
                                                           th:value="${card.vkGroupID}"/>
                                                </div>

                                                <div class="form-group text-center">
                                                    <label><strong>Название канала</strong></label>
                                                    <input class="form-control" type="text"
                                                           name="channelName"
                                                           value="channelName"
                                                           th:value="${card.channelName}"/>
                                                </div>
                                                <div class="form-group text-center">
                                                    <label><strong>Описание канала</strong></label><br/>
                                                    <input class="form-control" type="text"
                                                           name="description"
                                                           value="description"
                                                           th:value="${card.description}"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm"
                                            data-dismiss="modal">Закрыть
                                    </button>
                                    <button type="submit" form="formForYouTubeCard"
                                            th:form="'formForYouTubeCard'+${card.id}"
                                            formaction="/admin/YouTubeLive/editYouTubeTrackingCard"
                                            formmethod="post"
                                            name="id" value="id" th:value="${card.id}"
                                            class="btn btn-primary btn-sm">
                                        Отправить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>

            </table>
        </div>
    </div>
</div>
</body>
</html>